<% const sample = getSample(include); %>

<%- sample('Bouton simple', './sample/button-default', {}, true); %>

<%- sample('Bouton simple SM', './sample/button-default', {button: {label: 'Label bouton SM', size:'sm'}}, true); %>

<%- sample('Bouton simple LG', './sample/button-default', {button: {label: 'Label bouton LG', size:'lg'}}, true); %>

<%- sample('Bouton désactivé', './sample/button-default', {button: {disabled:true}}, true); %>

<%- sample('Bouton icon à gauche', './sample/button-default', {button: {icon :'checkbox-circle-line', iconPlace:'left'}}, true); %>

<%- sample('Bouton icon à droite', './sample/button-default', {button: {icon :'checkbox-circle-line', iconPlace:'right'}}, true); %>

<%- sample('Bouton icon seule', './sample/button-default', {button: {icon :'checkbox-circle-line', iconPlace:'only'}}, true); %>

<p>L’exemple ci-dessous montre la possibilité d'appliquer le style du bouton sur un élément de type "lien" &lt;a&gt;. A n'appliquer qu'en cas <b>exceptionnel</b> d'impossibilité technique d'utiliser un 	&lt;button&gt;.</p>
<%- sample('Bouton tag a href', './sample/button-default', {button: {tag:'a', attributes: {href:'#'}}}, true); %>

<!-- <%- sample('Bouton tag div', './sample/button-default', {button: {tag:'div'}}, true); %> -->

<%- sample('Bouton secondaire', './sample/button-default', {button: {secondary:true}}, true); %>

<%- sample('Bouton secondaire désactivé', './sample/button-default', {button: {secondary:true, disabled:true}}, true); %>

<%- sample('Bouton secondaire icon à gauche', './sample/button-default', {button: {secondary:true, icon :'checkbox-circle-line', iconPlace:'left'}}, true); %>

<%- sample('Bouton secondaire icon à droite', './sample/button-default', {button: {secondary:true, icon :'checkbox-circle-line', iconPlace:'right'}}, true); %>

<%- sample('Bouton secondaire icon seule', './sample/button-default', {button: {secondary:true, icon :'checkbox-circle-line', iconPlace:'only'}}, true); %>

<p>L’exemple ci-dessous montre la possibilité d'appliquer le style du bouton secondaire sur un élément de type "lien" &lt;a&gt;. A n'appliquer qu'en cas <b>exceptionnel</b> d'impossibilité technique d'utiliser un 	&lt;button&gt;.</p>
<%- sample('Bouton secondaire tag a href', './sample/button-default', {button: {secondary:true, tag :'a', attributes: {href:'#'}}}, true); %>

<%- sample('Groupe de bouton', './sample/buttons-group', {buttonGroup: { groupCount: 3 }}, true); %>

<%- sample('Groupe de bouton SM', './sample/buttons-group', {buttonGroup: {label: 'Label bouton SM', groupCount: 3, size:'sm'}}, true); %>

<%- sample('Groupe de bouton LG', './sample/buttons-group', {buttonGroup: {label: 'Label bouton LG', groupCount: 3, size:'lg'}}, true); %>

<%- sample('Groupe de boutons verticaux hiérarchisés avec icones', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, icon :'checkbox-circle-line', iconPlace:'left'}}, true); %>

<%- sample('Groupe de boutons inline', './sample/buttons-group', {buttonGroup: { groupCount: 2, hierarchy:true, inline: true}}, true); %>

<%- sample('Groupe de boutons inline non hiérarchisés', './sample/buttons-group', {buttonGroup: { groupCount: 2, inline: true}}, true); %>

<%- sample('Groupe de boutons inline à partir du breakpoint SM', './sample/buttons-group', {buttonGroup: { groupCount: 2, inline: 'sm', hierarchy:true}}, true); %>

<%- sample('Groupe de boutons inline à partir du breakpoint MD', './sample/buttons-group', {buttonGroup: { groupCount: 2, inline: 'md', hierarchy:true}}, true); %>

<%- sample('Groupe de boutons inline à partir du breakpoint LG', './sample/buttons-group', {buttonGroup: { groupCount: 2, inline: 'lg', hierarchy:true}}, true); %>

<%- sample('Groupe de boutons inversés en inline à partir du breakpoint SM', './sample/buttons-group', {buttonGroup: { groupCount: 2, inline: 'sm', align:'right', reverse: true, hierarchy:true}}, true); %>

<%- sample('Groupe de boutons inline même taille (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, inline: true, equisized:true, vary: true}}, true); %>

<%- sample('Groupe de boutons inline alignés a droite (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, inline: true, equisized:true, vary: true, align:'right'}}, true); %>

<%- sample('Groupe de boutons inline alignés au centre (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, inline: true, equisized:true, vary: true, align:'center'}}, true); %>

<%- sample('Groupe de boutons verticaux même taille (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, equisized:true, vary: true}}, true); %>

<%- sample('Groupe de boutons verticaux alignés a droite (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, equisized:true, vary: true, align:'right'}}, true); %>

<%- sample('Groupe de boutons verticaux alignés au centre (equisized)', './sample/buttons-group', {buttonGroup: { groupCount: 3, hierarchy:true, equisized:true, vary: true, align:'center'}}, true); %>

<%- sample('Groupe de boutons d\'icones', './sample/buttons-group', {buttonGroup: {groupCount: 3, hierarchy:true, icon:'checkbox-circle-line', iconPlace:'only'}}, true); %>

<%- sample('Groupe de boutons d\'icones inline', './sample/buttons-group', {buttonGroup: {inline: true, groupCount: 3, hierarchy:true, icon:'checkbox-circle-line', iconPlace:'only'}}, true); %>
