<!DOCTYPE html>
<html lang="fr" data-<%= prefix %>-reset >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Design System Developpement</title>
</head>

<body class="<%= prefix %>-prose <%= prefix %>-mb-8w">
  <div class="<%= prefix %>-container">
      <div class="<%= prefix %>-grid-row">
        <h1>Bienvenue</h1>
        <ul class="<%= prefix %>-col-12">
          <% for (let i = 0; i < packages.length; i++) {
          let pck = packages[i];
          %>
          <li class="<%= prefix %>-mb-1w">
            <a href='<%= pck.id %>'><%= pck.name %></a>
          </li>
          <% } %>
        </ul>
      </div>
  </div>
</body>
</html>
