<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= desc %> - Design System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
</head>
<body class="<%= prefix %>-margin-bottom-15N" >

    <% if (locals.config && locals.config.prepend === true) { %>
        <%- include(dir + 'prepend') %>
    <% } %>


    <div class="<%= prefix %>-container">
        <div class="<%= prefix %>-margin-top-4N <%= prefix %>-margin-bottom-4N" >
            <input type="checkbox" id="rf-dark-mode-toggle-switch" ><label for="rf-dark-mode-toggle-switch" ></label>
        </div>
        <h1><%= desc %> - Design System</h1>
    </div>

    <% if (locals.config === undefined || config.wrapper === undefined) { %>
        <%- include(dir + 'index'); %>
    <% } else if (config.wrapper === 'col-8') { %>
        <div class="<%= prefix %>-container">
            <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center" >
                <div class="<%= prefix %>-col-md-8 <%= prefix %>-col-12" >
                    <%- include(dir + 'index'); %>
                </div>
            </div>
        </div>
    <% } else if (config.wrapper === 'container') { %>
        <div class="<%= prefix %>-container">
            <%- include(dir + 'index'); %>
        </div>
    <% } %>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
