<!doctype html>
<html lang="fr" data-<%= prefix %>-theme>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= pck.name %> - Design System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
</head>
<body class="<%= prefix %>-mb-12w" style="margin:0; padding:0;">

    <div class="test-controls" >
        <div class="rf-form-group">
            <fieldset class="rf-fieldset rf-fieldset--inline">
                <div class="rf-fieldset__content">
                    <div class="rf-checkbox-group">
                        <input type="checkbox" id="theme-checkbox" name="checkboxes-inline-1">
                        <label class="rf-label" for="theme-checkbox">Thème clair / sombre</label>
                    </div>
                    <div class="rf-checkbox-group">
                        <input type="checkbox" id="reset-checkbox" name="checkboxes-inline-2" checked>
                        <label class="rf-label" for="reset-checkbox">reset</label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <% if (pck.config && pck.config.prepend === true) { %>
        <%- include(dir + '/../packages/' + pck.id + '/tests/prepend') %>
    <% } %>


    <div class="<%= prefix %>-container">

        <h1 class="<%= prefix %>-h1" ><%= pck.name %> - Design System</h1>
    </div>

    <%- include(dir + '/../page-test/wrapper', pck ); %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
