<% const sample = getSample(include); %>

<div class="<%= prefix %>-container">
  <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center" >
    <div class="<%= prefix %>-col-md-8 <%= prefix %>-col-12" id="content">
      <%- sample('Liens dՎvitement', './sample/skiplinks.ejs', {}, true, './layout'); %>
      <% for (let i = 0; i < 10; i++) { %>
      <p><%- lorem() %></p>
      <% } %>
    </div>
  </div>
</div>

<%- include('../../footer/example/sample/footer-minimal.ejs', { footer: {id: 'footer' }}); %>
