<%- include('./btn'); %>
<div class="<%= prefix %>-collapse <%= prefix %>-mega-menu" id="<%= collapseId %>" tabindex="-1" >
    <div class="<%= prefix %>-container <%= prefix %>-container--fluid <%= prefix %>-container-lg" >
        <%- include('../../../links/templates/ejs/link-close', { closeId: collapseId, label: "Fermer" }); %>
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row-lg--gutters">
            <%
                if (locals.leader !== undefined) {
            %>
                <%- include('./leader', leader); %>

            <% } %>

            <%
                locals.active = false;
                let category;
                for (let j = 0; j < categories.length; j++) {
                  category = categories[j];
            %>

            <div class="<%= prefix%>-col-12 <%= prefix%>-col-lg-3">
                <h5 class="<%= prefix %>-mega-menu__category">
                    <%- include('./link', category); %>
                </h5>

                <ul class="<%= prefix %>-mega-menu__list" >
                    <%
                    for (let i = 0; i < category.items.length; i++) {
                        let item = category.items[i];
                        item.isPage = true;
                    %>
                    <li>
                        <%- include('./link', item); %>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </div>
    </div>
</div>
