<%#
# paramètres navigation

* id (string, required)

* items

%>
<% eval(include('../../../core/index.ejs')); %>

<%

let classes = locals.classes || [];

classes.push(`${prefix}-nav`);

let attributes = locals.attributes || {};

attributes.id = locals.navigationId || locals.id;
attributes.role = 'navigation';
attributes['aria-label'] = 'Menu principal'

%>

<nav <%- includeClasses(classes); %> <%- includeAttrs(attributes); %>>
    <% if(locals.items) { %>
    <ul class="<%= prefix %>-nav__list">
        <%
            for (let i = 0; i < items.length; i++) {
                let item = items[i];

                let classes = [prefix + '-nav__item'];
                if (item.align === 'right') classes.push(prefix + '-nav__item--align-right');
        %>
        <li <%- includeClasses(classes); %>>
            <%- include('./' + item.type, item); %>
        </li>
        <% } %>
    </ul>
    <% } %>
</nav>
