<%#
# paramètres toggle

* toggle.id (string, required): id de l'input

* toggle.groupId (string, required): id du groupe

* toggle.label (string, required): libellé du toggle

* toggle.hint (string, optional): texte additionel

* toggle.border (boolean, optional): ajoute une bordure sous le toggle

* toggle.left (boolean, optional): place le libellé sur la gauche

* toggle.state (boolean, optional): ajoute les libellés "activé"/"désactivé" sous le champ

* toggle.disabled (boolean, optional): désactive le toggle

* toggle.checked (boolean, optional): coche le toggle

* toggle.inputAttr (object, optional): attributs supplémentaires sur l'input du toggle

* toggle.classes (array, optional): classes supplémentaires sur le toggle

// TODO: templatisation

%>
<% eval(include('../../../../../core/index.ejs')); %>

<%
let toggle = locals.toggle || {};
let classes = toggle.classes || [];
let inputAttr = toggle.inputAttr || {};

if (toggle.hint) inputAttr["aria-describedby"] = toggle.groupId ? toggle.groupId + toggle.id + "-hint-text" : toggle.id + "-hint-text";

classes.push(prefix + '-toggle');

if (toggle.border !== undefined) {
  classes.push(prefix +'-toggle--border-bottom');
}
if (toggle.left !== undefined) {
  classes.push(prefix +'-toggle--label-left');
}
if (toggle.disabled) inputAttr['disabled'] = '';
if (toggle.checked) inputAttr['checked'] = '';
%>

<div <%- includeClasses(classes)%>>
  <input type="checkbox" class="<%= prefix %>-toggle__input" <%- includeAttrs(inputAttr)%> id="<% if(toggle.groupId){ %><%= toggle.groupId %><%= toggle.id %><% } else {%><%= toggle.id %><% } %>">
  <label class="<%= prefix %>-toggle__label" for="<% if(toggle.groupId){ %><%= toggle.groupId %><%= toggle.id %><% } else {%><%= toggle.id %><% } %>" <% if(toggle.state){ %> data-<%= prefix %>-checked-label="Activé" data-<%= prefix %>-unchecked-label="Désactivé" <% } %>><%- toggle.label %></label>
  <% if(toggle.hint){ %><p class="<%= prefix %>-hint-text" id="<%= toggle.groupId %><%= toggle.id %>-hint-text"><%- toggle.hint %></p><% } %>
</div>
