<script>
  function preventSubmit(e) {
    e.preventDefault();
    return false;
  }
</script>

<form onsubmit="return preventSubmit(event)">

<% const sample = getSample(include); %>

<%- sample('Ensemble de champs de saisie', '../../input/example/sample/inputs', { inputs: { id:'text' }}, true);  %>

<%- sample('Ensemble de boutons radio', '../../radio/example/sample/radios', { radios: { id:'radio' }}, true);  %>

<%- sample('Ensemble de cases à cocher', '../../checkbox/example/sample/checkboxes', { checkboxes: { id:'checkbox' }}, true);  %>

<%- sample('Ensemble de boutons radio, en ligne', '../../radio/example/sample/radios', { radios: { id:'radio-inline', inline:true }}, true);  %>

<%- sample('Ensemble de cases à cocher, en ligne', '../../checkbox/example/sample/checkboxes', { checkboxes: { id:'checkbox-inline', inline:true }}, true);  %>

<%- sample('Ensemble de boutons radio avec erreur', '../../radio/example/sample/radios', { radios: { id:'radio-error', error:true, hint:true }}, true);  %>

<%- sample('Ensemble de cases à cocher, avec erreur', '../../checkbox/example/sample/checkboxes', { checkboxes: { id:'checkbox-error', error: true, hint: true }}, true);  %>

<%- sample('Ensemble de champs de saisie désactivés', '../../input/example/sample/inputs', { inputs: { id:'text-disabled', hint: true }, input: { disabled: true, hint: true }}, true);  %>

<%- sample('Ensemble de boutons radio désactivés', '../../radio/example/sample/radios', { radios: { id:'radio-disabled', hint: true}, radio: { disabled: true, hint: true }}, true);  %>

<%- sample('Ensemble de cases à cocher désactivés', '../../checkbox/example/sample/checkboxes', { checkboxes: { id: 'checkbox-disabled', hint: true}, checkbox: { disabled: true, hint: true }}, true);  %>

<%- sample('Bouton type submit', '../../button/example/sample/button-default', { button: { type:'submit', label: 'Envoyer', title: 'Envoyer le formulaire' }}, true);  %>

<%- sample('Input type submit', '../../button/example/sample/button-default', { button: { tag: 'input', label: ' ', title: 'Envoyer le formulaire', type:'submit', attributes: { value: 'Envoyer', title: 'Envoyer le formulaire' }}}, true);  %>

</form>
