<%#
# paramètres media-img

* content.img (object, optional): paramètres de l'image
    ** src (string, required) : url de l'image
    ** alt (string, optional) : texte alternatif
    ** style (string, optional) : style de l'image

* content.svg (string, optional): contenu du svg

* content.caption (string, optional): paramètres de l'image


%>
<% eval(include('../../../../core/index.ejs')); %>
<% let content = locals.content || {} %>

<div class="<%= prefix %>-content-media__img" >
    <% if (content.img != undefined) { %>
        <%- include('../../../../core/template/ejs/media/responsive-img.ejs', {media: content.img}); %>
    <% } else if (content.svg != undefined) { %>
        <%- content.svg %>
    <% } %>
</div>
<% if (content.caption != undefined) { %>
    <figcaption class="<%= prefix %>-content-media__caption" ><%= content.caption %></figcaption>
<% } %>
