<%#
# paramètres media vid

// TODO: documentation

%>
<% eval(include('../../../../core/index.ejs')); %>

<% if (locals.consent === false) { %>
    <div class="<%= prefix %>-responsive-vid">
    <%- include('../../../consent/template/ejs/placeholder') %>
    </div>
<% } else { %>
    <%- include(locals.vidTpl !== undefined ? locals.vidTpl  : '../../../../core/template/ejs/media/responsive-vid') %>
<% } %>
<% if (locals.caption != undefined) { %>
    <div class="<%= prefix %>-content-media__caption" ><%= caption %></div>
<% } %>
<%
if (locals.transcription != undefined) {
    let data = {
        label: transcription,
        size:'md'
    }
%>
    <div class="<%= prefix %>-content-media__transcription" >
        <%- include('../../../link/template/ejs/link', data); %>
    </div>
<% } %>
