<%#
# paramètres footer

// TODO: documentation

*

%>
<% eval(include('../../../core/index.ejs')); %>


<footer class="<%= prefix %>-footer" role="contentinfo" id="<% if (locals.id !== undefined) { %><%- locals.id %><% } %>">

  <% if (locals.top !== undefined) { %>
    <div class="<%= prefix %>-footer__top">
      <div class="<%= prefix %>-container%>" >
        <div class="<%= prefix %>-grid-row%> <%= prefix %>-grid-row--start%> <%= prefix %>-grid-row--gutters%>" >
          <%- include('./top', locals.top); %>
        </div>
      </div>
    </div>
  <% } %>

  <div class="<%= prefix %>-container%>" >

    <div class="<%= prefix %>-footer__body <% if (locals.logo !== undefined) { %><%= prefix %>-footer__body--operator<% } %>">
      <%- include('./brand', locals); %>
      <%- include('./content', locals.content); %>
    </div>

    <% if (locals.partners !== undefined) { %>
      <div class="<%= prefix %>-footer__partners">
          <%- include('./partners', locals.partners); %>
      </div>
    <% } %>

    <div class="<%= prefix %>-footer__bottom">
      <%- include('./bottom', locals.bottom); %>
    </div>

  </div>

</footer>
