<%#
# paramètres newsletter

* newsletter.title (string, required) : titre du bloc newsletter

* newsletter.desc (string, optional) : description du bloc newsletter

* newsletter.type (string, optional) [button|form]: type de bloc newsletter (avec bouton ou avec formulaire)

* newsletter.form (object, optional) : paramètres du formulaire champ/boutton (si type form)
** newsletter.form.input (object, required) : paramètres du champ mail
** newsletter.form.button (object, optional) : paramètres du boutton
** newsletter.form.error (string, optional) : texte d'erreur
** newsletter.form.valid (string, optional) : texte valide
** newsletter.form.hint (string, optional) : texte additionel

* button (object, optional) : paramètres du boutton (si type button)

* networks (array, required) : Tableau de réseaux sociaux (title, url, icon)

%>
<% eval(include('../../../../core/index.ejs'));

let newsletter = locals.newsletter || {};
let newsletterClasses = [prefix + '-follow__newsletter'];

%>

<div <%- includeClasses(newsletterClasses); %> >
  <div>
    <h5 class="<%= prefix %>-h5 <%= prefix %>-follow__title"><%- newsletter.title %></h5>
    <% if (newsletter.desc) { %>
    <p class="<%= prefix %>-text--sm <%= prefix %>-follow__desc"><%- newsletter.desc %></p>
    <% } %>
  </div>
  <div>
    <% if (newsletter.type === 'form') { %>
      <% if (newsletter.form && newsletter.form.input) { %>
        <form action="">
          <%- include('../../../input/template/ejs/input.ejs', {input: {addon: true, ...newsletter.form.input}}); %>
          <%
          if (newsletter.form.error) { %>
            <p id="<%= prefix %>-newsletter-error-text" class="<%= prefix %>-error-text"><%- newsletter.form.error %></p>
          <% } %>
          <% if (newsletter.form.valid) { %>
            <p id="<%= prefix %>-newsletter-valid-text" class="<%= prefix %>-valid-text"><%- newsletter.form.valid %></p>
          <% } %>
          <% if (newsletter.form.hint) { %>
            <p id="<%= prefix %>-newsletter-hint-text" class="<%= prefix %>-hint-text"><%- newsletter.form.hint %></p>
          <% } %>
        </form>
      <% } %>
    <% } else if (newsletter.type === 'button') { %>
      <%- include('../../../button/template/ejs/button.ejs', {button: newsletter.button}); %>
    <% } %>
  </div>
</div>
