<%#
# paramètres socials

* title (string, required) : titre du bloc réseaux sociaux

* networks (array, required) : Tableau de réseaux sociaux
** label (string, required) : nom du réseau social
** url (string, required) : adresse url du réseau social

%>
<% eval(include('../../../../core/index.ejs'));

let socialsClasses = [prefix + '-follow__social'];
let groupClasses = [prefix + '-links-group'];
if (locals.alone === true) groupClasses.push(prefix + '-links-group--lg');
%>

<div <%- includeClasses(socialsClasses); %> >
  <p class="<%= prefix %>-h5"><%- locals.title %></p>
  <ul <%- includeClasses(groupClasses); %>>
    <% for (let i=0; i < networks.length; i++) { %>
      <li>
        <%- include('../../../link/template/ejs/link', { attributes: {title: contentPlaceholder("XXXXXXX") + " - ouvre une nouvelle fenêtre"}, href: networks[i].url, blank: true, label: networks[i].label, classes: [prefix + '-link--' + networks[i].label] }); %>
      </li>
    <% } %>
  </ul>
</div>
