<%#
# paramètres stepper (indicateur d'étapes)

* stepper.title (string, required): Titre de l'indicateur d'étapes

* stepper.id (String, optional): Id du composant

* stepper.currentStep (integer, required): Numéro de l'étape courrante

* stepper.stepCount (integer, required): Nombre d'étapes

* stepper.nextStep (String, required): Titre de la prochaine étape

* stepper.markup (string, optional) : (défaut : h2) niveau de titre

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let stepper = locals.stepper || {};
 let classes = stepper.classes || [];
 const markup = stepper.markup || 'h2';

 let attributes = {};
 let stepAttrs = {};
 if (stepper.id) attributes.id = stepper.id;
 classes.push(prefix + '-stepper');
%>

<div <%- includeClasses(classes); %> <%- includeAttrs(attributes) %>>
  <% if (stepper.title !== undefined) { %>
    <<%= markup %> class="<%= prefix%>-stepper__title">
      <%- stepper.title %>
      <% if (stepper.currentStep && stepper.stepCount) { %>
        <span class="<%= prefix %>-stepper__state">Étape <%= stepper.currentStep %> sur <%= stepper.stepCount %></span>
      <% } %>
    </<%= markup %>>
  <% } %>



  <% if (stepper.currentStep && stepper.stepCount) { %>
    <% stepAttrs['data-' + prefix + '-current-step'] = stepper.currentStep %>
    <% stepAttrs['data-' + prefix + '-steps'] = stepper.stepCount %>
    <div class="<%= prefix%>-stepper__steps" <%- includeAttrs(stepAttrs) %>></div>
  <% } %>

  <% if (stepper.nextStep !== undefined) { %>
    <p class="<%= prefix %>-stepper__details"><span class="<%= prefix %>-text--bold">Étape suivante :</span> <%- stepper.nextStep %></p>
  <% } %>
</div>
