<%#
# paramètres notice

* notice.title (String, optional): Titre du bandeau

* notice.text (string, optional) : Texte de decription de bandeau

* notice.type (String, optional): Type de bandeau [info]

* notice.dismissable (boolean, optional): Ajoute un bouton de fermeture

* notice.button (object, optional): Paramètre du bouton de fermeture (si dismissable: true)

* notice.notice (boolean, optional): Si true, ajoute un role notice (si insertion à la volée du bandeau)

* notice.classes (array, optional): Classes supplémentaires sur le bandeau

* notice.attribute (object, optional): Attributs supplémentaires sur le bandeau

%>

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let notice = locals.notice || {};
let title = notice.title || false;
let type = notice.type || false;
let classes = notice.classes || [];
let attributes = notice.attributes || {};
classes.push(prefix + '-notice');
if (type) classes.push(prefix + '-notice--' + type);
if (notice.notice) attributes.role = "notice";
 %>

<div <%- includeAttrs(attributes); %> <%- includeClasses(classes); %>>
  <div class="<%= prefix %>-container">
    <div class="<%= prefix %>-notice__body">
      <% if (title) { %>
        <p class="<%= prefix %>-notice__title"><%- title %></p>
      <% } %>
      <% if (notice.dismissable) { %>
        <%- include('../../../button/template/ejs/button', {button: {size: 'md', classes: [`${prefix}-btn--close`], ...notice.button}}) %>
      <% } %>
    </div>
  </div>
</div>
