<%#
# paramètres alerts

* id (String, required): id

* size (String, optional): Taille du texte de citation

* text (string, optional) : Texte de la citation

* image (object, optional) : {img, alt} de l'image

* href (String, optional): url du texte original cité

* Author (String, optional): Nom de l'auteur

* souces (Array, optional): Tableau de textes de détail

%>

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let size = locals.size || undefined;
 let text = locals.text || '';
 let image = locals.image || undefined;
 let author = locals.author || false;
 let href = locals.href || false;
 let sources = locals.sources || [];
 let quoteClasses = [prefix + '-quote'];
 let citeAttr = [];
 if (image) quoteClasses.push(prefix + '-quote--column');
 %>

<figure <%- includeClasses(quoteClasses) %>>
  <% if (href) { %>
    <blockquote cite="<%= locals.contentPlaceholder(href)%>">
  <% } else { %>
    <blockquote>
  <% } %>
    <p <%- (size !== undefined) ? includeClasses([prefix+'-text--'+size]) : '' %>>« <%= text %> »</p>
  </blockquote>
  <figcaption>
    <% if (author) { %>
      <p class="<%= prefix %>-quote__author"><%= author %></p>
    <% } %>

    <% if (sources.length > 0) { %>
      <ul class="<%= prefix %>-quote__source">
      <% for (source in sources) { %>
        <li><%- sources[source] %></li>
      <% } %>
      </ul>
    <% } %>

    <% if (image && image.img) { %>
      <div class="<%= prefix %>-quote__image">
        <%- imgContent(image.img, image.alt) %>
      </div>
    <% } %>
  </figcaption>
</figure>
