<%#
# paramètres Quotes

* size (String, optional): Taille du texte de citation

* text (string, optional) : Texte de la citation

* image (object, optional) : {img, alt} de l'image

* href (String, optional): url du texte original cité

* Author (String, optional): Nom de l'auteur

* sources (Array, optional): Tableau de textes de détail

%>

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let size = locals.size || undefined;
 let text = locals.text || '';
 let image = locals.image || undefined;
 let author = locals.author || false;
 let href = locals.href || undefined;
 let sources = locals.sources || [];
 let quoteClasses = [prefix + '-quote'];
 let citeAttr = [];
 let sizeClasses = [];
 const blockAttrs = {cite: href};
 if (image) quoteClasses.push(prefix + '-quote--column');
 if (size) sizeClasses = [prefix+'-text--'+size];
 %>

<figure <%- includeClasses(quoteClasses) %>>
  <blockquote <%- includeAttrs(blockAttrs) %>>
    <p <%- includeClasses(sizeClasses) %>>« <%= text %> »</p>
  </blockquote>
  <figcaption>
    <% if (author) { %>
      <p class="<%= prefix %>-quote__author"><%= author %></p>
    <% } %>

    <% if (sources.length > 0) { %>
      <ul class="<%= prefix %>-quote__source">
      <% for (source in sources) { %>
        <li><%- sources[source] %></li>
      <% } %>
      </ul>
    <% } %>

    <% if (image && image.img) { %>
      <div class="<%= prefix %>-quote__image">
        <%- imgContent(image.img, image.alt) %>
      </div>
    <% } %>
  </figcaption>
</figure>
