<%#
# paramètres breadcrumb

* id (required):

* path (required) : array contenant les données de chaque segment du fil d'Ariane
  {
    path: partie de l'url
    label : le label du segment
  }

* button: label du bouton du Fil d'Ariane

%>

<% eval(include('../../../core/index.ejs')); %>

<%
if (locals.button === undefined) locals.button = 'Voir le fil d’Ariane';
%>

<nav role="navigation" class="<%= prefix %>-breadcrumb" aria-label="vous êtes ici :">
    <button class="<%= prefix %>-breadcrumb__button" aria-expanded="false" aria-controls="<%= id %>"  ><%= button %></button>
    <div class="<%= prefix %>-collapse" id="<%= id %>">
        <ol class="<%= prefix %>-breadcrumb__list">
            <%
            let href = '';
            for (let i = 0; i < segments.length; i++) {
                const segment = segments[i];
                href += segment.path + '/';
                const attrs = {};
                if (i === segments.length - 1) attrs['aria-current'] = 'page';
                else attrs['href'] = href;
            %>
            <li>
                <a class="<%= prefix %>-breadcrumb__link" <%- includeAttrs(attrs);%>><%= segment.label %></a>
            </li>
            <% } %>
        </ol>
    </div>

</nav>
