<ul class="<%= prefix %>-footer__bottom-list">
  <%
    for (let i = 0; i < links.length; i++) {
  %>
    <li class="<%= prefix %>-footer__bottom-item">
      <a class="<%= prefix %>-footer__bottom-link" href="#"><%= links[i].label %></a>
    </li>
  <% } %>
</ul>
<div class="<%= prefix %>-footer__bottom-copy">
    <p><%- copyright %></p>
</div>
