<div class="<%= prefix %>-footer__brand <%= prefix %>-enlarge-link" >
	<% if (!locals.logo) { %>
		<a href="/" title="Retour à l’accueil">
	<% } %>
			<%- include( '../../../logo/templates/ejs/logo', locals.brand.logo); %>
	<% if (!locals.logo) { %>
		</a>
	<% } else { %>
		<a class="<%= prefix %>-footer__brand-link" href="/" title="Retour à l’accueil">
			<%- imgContent(logo.src, logo.alt, [prefix + '-footer__logo']) %>
		</a>
	<% } %>
</div>

