<h4 class="<%= prefix %>-footer__partners-title"><%- title %></h4>
<div class="<%= prefix %>-footer__partners-logos">
  <div class="<%= prefix %>-footer__partners-main">
    <a class="footer__partners-link" href="#">
      <%- include('../../../../core/templates/ejs/medias/responsive-img.ejs', locals.mainPartner); %>
    </a>
  </div>
  <div class="<%= prefix %>-footer__partners-sub">
    <ul>
      <%
      for (let i = 0; i < subPartners.length; i++) {
      %>
      <li>
        <a class="<%= prefix %>-footer__partners-link" href="#">
          <%- include('../../../../core/templates/ejs/medias/responsive-img.ejs', subPartners[i]); %>
        </a>
      </li>
    <% } %>
    </ul>
  </div>
</div>
