<%#
# paramètres tag

* tag.label (string, required) : contenu texte

* tag.href (string, required) : adresse url du lien

* tag.blank (bool, optional) : si true, target prend la valeur _blank, sinon _self

* tag.icon (string, optional) : icon du lien

* tag.iconPlace (string, optionnal) : emplacement de l'icone
  si non défini alors que le paramètre icon est défini, bouton avec icone seule, sans label
  valeurs :
  * left : icone à gauche du label
  * right : icone à droite du label

* tag.classes (array, optionnal) : Classes suplémentaires sur le bouton

* tag.attributes (object, optionnal) : Attributs suplémentaires sur le tag
%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let tag = locals.tag || {};
 let tagClasses = tag.classes || [];
 let tagAttrs = tag.attributes || {};

 tagClasses.push(prefix + '-tag');

 if (tag.accent !== undefined) tagClasses.push(prefix + '-tag--' + tag.accent);

 switch(tag.size) {
     case 'sm':
         tagClasses.push(prefix + '-tag--sm');
       break;
 }

 if (tag.icon !== undefined) tagClasses.push(prefix + '-fi-' + tag.icon);

 if (tag.iconPlace !== undefined) switch(tag.iconPlace)
 {

     case 'left':
         tagClasses.push(prefix + '-tag--icon-left');
         break;

     case 'right':
         tagClasses.push(prefix + '-tag--icon-right');
         break;

 }

if (tag.disabled === true) {
  if (tag.button) tagAttrs['disabled'] = '';
} else if (tag.clickable) {
    tagAttrs.href = tag.href || '[url - à modifier]';
  switch (true) {
    case tag.blank:
    tagAttrs.target = '_blank';
    break;
    case tag.self:
    tagAttrs.target = '_self';
    break;
  }
}

 %>

<% if(tag.group) { %>
    <ul class="<%= prefix %>-tags-group">
    <% for (let i = 0; i < 9; i++) { %>
        <li>
            <% if(tag.clickable) { %>
                <a <%- includeClasses(tagClasses)%> <%- includeAttrs(tagAttrs); %>><%- tag.label %></a>
            <% } else { %>
                <p <%- includeClasses(tagClasses)%>><%- tag.label %></p>
            <% } %>
        </li>
    <% } %>
    </ul>
<% } else { %>
    <% if(tag.clickable) { %>
        <a <%- includeClasses(tagClasses)%> <%- includeAttrs(tagAttrs); %>><%- tag.label %></a>
    <% } else if (tag.button) { %>
        <button <%- includeClasses(tagClasses)%> <%- includeAttrs(tagAttrs); %>><%- tag.label %></button>
    <% } else { %>
        <p <%- includeClasses(tagClasses)%>><%- tag.label %></p>
    <% } %>
<% } %>
