<%#
# paramètres alert

* alert.id (String, required): id

* alert.title (String, optional): Titre de l'alerte

* alert.text (string, optional) : Texte de decription de l'alerte

* alert.type (String, required): type d'alerte [info/success/error/warning]

* alert.size (String, optional): taille de l'alerte [sm/md/lg]

* alert.classes (array, optional): Classes supplémentaires sur l'alerte

* alert.collapse (boolean, optional): englobe l'alert d'un collapse refermable

* alert.buttonClose (boolean, optional): Ajoute un bouton de fermeture


%>

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let alert = locals.alert || {};
 let id = alert.id || uniqueId('alert');
 let title = alert.title || false;
 let text = alert.text || false;
 let type = alert.type || false;
 let size = alert.size || "md";
 let expanded = alert.expanded || true;
 let buttonClose = alert.buttonClose || false;
 let attrButton = {title: 'Masquer le message'};
 let classes = alert.classes || [];
 classes.push(prefix + '-alert');
 if (type) classes.push(prefix + '-alert--' + type);
 if (size !== "md") classes.push(prefix + '-alert--' + size);

 %>

<% if(alert.id && alert.collapse) { %>
<div class="<%= prefix %>-collapse" id="<%= id %>">
<% }%>
  <div role="alert" <%- includeClasses(classes); %>>

    <% if(title) { %>
      <p class="<%= prefix %>-alert__title"><%= title %></p>
    <% } %>

    <% if(text) { %>
      <p><%= text %></p>
    <% } %>

    <% if(alert.collapse || buttonClose) { %>
      <% if(!buttonClose) {
        attrButton = {title: 'Masquer le message','aria-expanded': expanded , 'aria-controls': id};
      }
      %>
      <%- include('../../../link/template/ejs/link', {link: {label: 'Masquer le message', size: 'md', tag: 'button', attributes: attrButton, classes: [`${prefix}-link--close`]}}) %>
    <% } %>
  </div>
<% if(alert.collapse) { %>
</div>
<% } %>
