<%#
# paramètres alert

* alert.id (String, required): id

* alert.title (String, optional): Titre de l'alerte

* alert.text (string, optional) : Texte de decription de l'alerte

* alert.type (String, required): type d'alerte [info/success/error/warning]

* alert.size (String, optional): taille de l'alerte [sm/md/lg]

* alert.classes (array, optional): Classes supplémentaires sur l'alerte

* alert.attribute (object, optional): Attributs supplémentaires sur l'alerte

* alert.dismissable (boolean, optional): Ajoute un bouton de fermeture

* alert.expanded (boolean, optional) [default: true] : valeur de l'attribut aria-expanded du bouton de fermeture de l'alerte

* alert.button (object, optional): Paramètre du bouton de fermeture (si dismissable: true)

* alert.alert (boolean, optional): Si true, ajoute un role alert (si insertion à la volée de l'alerte)

%>

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let alert = locals.alert || {};
 let id = alert.id || uniqueId('alert');
 let title = alert.title || false;
 let text = alert.text || false;
 let type = alert.type || false;
 let size = alert.size || "md";
 let expanded = alert.expanded || true;
 let attrButton = alert.buttonAttrs;
 let classes = alert.classes || [];
 let attributes = alert.attributes || {};
 classes.push(prefix + '-alert');
 if (type) classes.push(prefix + '-alert--' + type);
 if (alert.alert) attributes.role = "alert";
 if (size !== "md") classes.push(prefix + '-alert--' + size);

 %>

<div  <%- includeAttrs(attributes); %> <%- includeClasses(classes); %>>

  <% if(title) { %>
    <p class="<%= prefix %>-alert__title"><%= title %></p>
  <% } %>

  <% if(text) { %>
    <p><%= text %></p>
  <% } %>

  <% if(alert.dismissable) { %>
    <%- include('../../../link/template/ejs/link', {link: {size: 'md', tag: 'button', classes: [`${prefix}-link--close`], ...alert.button}}) %>
  <% } %>
</div>
