<%#
# paramètres

* radio.classes (array, optional) : Classes supplémentaires sur l'element

* radio.attributes (object, optional) : Attributs supplémentaires sur l'element

* radio.image (object, optional) : Paramètres de l'image sur le radio
  ** radio.image.type (string, optional) : Type d'image sur le radio [img/svg/pictogram]
  ** radio.image.src (string, optional) : Chemin vers l'image ou le svg
  ** radio.image.name (string, optional) : Si type pictogram, nom du pictogramme

* radio.element (object, optional) : paramètre de chacun des radios d'un group

* radio.value (String, optional) : valeur du radio

* radio.icon (string, optional) : nom de l'icone illustrative

* radio.disabled (boolean, optional) : si true, désactive le radio

* radio.checked (boolean, optional) : si true, le radio est coché

* radio.id (string, required) : id du composant

* radio.name (string, optional) : Attribut name du composant

* radio.hint (string, optional) : Message d'aide

* radio.error (string, optional) : Message d'erreur

* radio.valid (string, optional) : Message de succès

* radio.customIcon (string, optional) : style du label (ex: "background-image: url(...)")

%>
<% eval(include('../../../../core/index.ejs')); %>
<%
const radio = locals.radio || {};
const attributes = radio.attributes || {};
const label = {
  label: radio.label,
  for: radio.id,
  hint: radio.hint || undefined
};

if (radio.value) attributes.value = radio.value;
if (radio.disabled) attributes.disabled = '';
if (radio.checked) attributes.checked = '';

%>

<input <%- includeAttrs(attributes); %> type="radio" id="<%= radio.id %>" name="<%= radio.name %>">
<%- include('../../../form/template/ejs/label', { label: label }); %>
<% if (radio.pictogram) { %>
  <div class="<%= prefix %>-radio-rich__pictogram">
    <%- include('../../../../core/template/ejs/artwork/pictogram.ejs', {pictogram: radio.pictogram}); %>
  </div>
<% } %>
