<div class="<%=prefix%>-container">
  <div class="<%=prefix%>-grid-row">
    <div class="<%=prefix%>-col-12 <%=prefix%>-col-md-6 <%=prefix%>-col-lg-4 <%=prefix%>-col-xxl-3">
      lorem ipsum dolor sit amet
    </div>
    <div class="<%=prefix%>-col-12 <%=prefix%>-col-md-6 <%=prefix%>-col-lg-4 <%=prefix%>-col-xxl-3">
      lorem ipsum dolor sit amet
    </div>
    <div class="<%=prefix%>-col-12 <%=prefix%>-col-md-6 <%=prefix%>-col-lg-4 <%=prefix%>-col-xxl-3">
      lorem ipsum dolor sit amet
    </div>
    <div class="<%=prefix%>-col-12 <%=prefix%>-col-md-6 <%=prefix%>-col-lg-4 <%=prefix%>-col-xxl-3">
      lorem ipsum dolor sit amet
    </div>
  </div>
</div>