<% const sample = getSample(include); %>

<p>Regarder avec l'inspecteur les block de textes cachés grâce à ces utilitaires</p>

<%- sample('sr-only', './sample/sr-only', {}, true); %>

<%- sample('sr-only à partir du breakpoint LG', './sample/sr-only', { utility:{breakpoint: 'lg'}}, true); %>

<%- sample('hidden', './sample/hidden', {}, true); %>

<%- sample('hidden à partir du breakpoint LG', './sample/hidden', { utility:{breakpoint: 'lg'}}, true); %>

<%- sample('displayed à partir du breakpoint LG', './sample/displayed', { utility:{breakpoint: 'lg'}}, true); %>
