<% const sample = getSample(include); %>

<p>Regarder avec l'inspecteur les block de textes cachés grâce à ces utilitaires</p>

<%- sample('sr-only', './samples/sr-only', {}, true); %>

<%- sample('sr-only à partir du breakpoint LG', './samples/sr-only', { breakpoint: 'lg'}, true); %>

<%- sample('hidden', './samples/hidden', {}, true); %>

<%- sample('hidden à partir du breakpoint LG', './samples/hidden', { breakpoint: 'lg'}, true); %>

<%- sample('displayed à partir du breakpoint LG', './samples/displayed', { breakpoint: 'lg'}, true); %>
