<%#
# paramètres breadcrumb

* breadcrumb.id (required):

* breadcrumb.segments (array, required) : Tableau de données de chaque segment du fil d'Ariane
  {
    path: partie de l'url
    label : le label du segment
  }

* breadcrumb.button: label du bouton du Fil d'Ariane en mobile

%>

<% eval(include('../../../../core/index.ejs')); %>

<%
let breadcrumb = locals.breadcrumb || {segments : []};
if (breadcrumb.button === undefined) breadcrumb.button = 'Voir le fil d’Ariane';
%>

<nav role="navigation" class="<%= prefix %>-breadcrumb" aria-label="vous êtes ici :">
    <button class="<%= prefix %>-breadcrumb__button" aria-expanded="false" aria-controls="<%= breadcrumb.id %>"  ><%= breadcrumb.button %></button>
    <div class="<%= prefix %>-collapse" id="<%= breadcrumb.id %>">
        <ol class="<%= prefix %>-breadcrumb__list">
            <%
            let href = '';
            for (let i = 0; i < breadcrumb.segments.length; i++) {
                const segment = breadcrumb.segments[i];
                href += segment.path + '/';
                const attrs = {};
                if (i === breadcrumb.segments.length - 1) attrs['aria-current'] = 'page';
                else attrs['href'] = href;
            %>
            <li>
                <a class="<%= prefix %>-breadcrumb__link" <%- includeAttrs(attrs);%>><%= segment.label %></a>
            </li>
            <% } %>
        </ol>
    </div>

</nav>
