<%#
# paramètres badge

* badge (object, required) : Objet contenant les paramètres

** label (string, required) : classes supplémentaires sur l'element

** type (string, optional) : le type défini la couleur du badge (error/success/warning/new)

** accent (string, optional) : défini la couleur d'accentuation (type ne doit pas être défini)

** classes (array, optional) : classes supplémentaires sur l'element

** attrs (object, optional) : Attributs supplémentaires sur l'element

** icon (string, optional) : nom de l'icône du badge ou 'false' pour désactiver l'icone

** ellipsis (boolean, optional) [default: false] : Si true, ajoute un span ellipsis autour du label

** group (boolean, optional) [default: false] : Si true, créé un groupe de badge

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let badge = locals.badge || {};
 if(!badge.classes) badge.classes = [];
 if(!badge.attrs) badge.attrs = {};

 badge.classes.push(prefix + '-badge');

 switch(badge.size) {
    case 'sm':
       badge.classes.push(prefix + '-badge--sm');
      break;
 }

 if (badge.type !== undefined) badge.classes.push(prefix + '-badge--' + badge.type);

 else if (badge.accent !== undefined) badge.classes.push(prefix + '-badge--' + badge.accent);

 if (badge.icon === false) badge.classes.push(prefix + '-badge--no-icon');
 else if (badge.icon !== undefined) badge.classes.push(prefix + '-fi-' + badge.icon);

 if (badge.ellipsis) badge.label = `<span class="${prefix}-ellipsis">${badge.label}</span>`;
%>

<% if (badge.group) { %>
    <ul class="<%= prefix %>-badge-group">
    <% for (let i = 0; i < 9; i++) { %>
        <li>
            <p <%- includeClasses(badge.classes)%>><%- badge.label %></p>
        </li>
    <% } %>
    </ul>
<% } else { %>
    <p <%- includeClasses(badge.classes)%>><%- badge.label %></p>
<% } %>
