<%#
# paramètres checkbox

// TODO: templatisation et documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<%
  let classes = locals.classes || [];
  let inputAttr = locals.inputAttr || [];

  if (locals.hint) inputAttr["aria-describedby"] = toggleId + "-hint-text";

  classes.push(prefix + '-toggle');

  if (locals.border !== undefined) {
    classes.push(prefix +'-toggle--border-bottom');
  }
  if (locals.left !== undefined) {
    classes.push(prefix +'-toggle--label-left');
  }
%>

<div <%- includeClasses(classes)%>>
  <input type="checkbox" class="<%= prefix %>-toggle__input" <%- includeAttrs(inputAttr)%> id="<% if(locals.groupToggleId){ %><%= groupToggleId %><%= toggleId %><% } else {%><%= toggleId %><% } %>"<% if(locals.disabled){ %>disabled="disabled"<%}%>>
  <label class="<%= prefix %>-toggle__label" for="<% if(locals.groupToggleId){ %><%= groupToggleId %><%= toggleId %><% } else {%><%= toggleId %><% } %>" <% if(locals.state){ %> data-<%= prefix %>-checked-label="Activé" data-<%= prefix %>-unchecked-label="Désactivé" <% } %>><%- label %></label>
  <% if(locals.hint){ %><p class="<%= prefix %>-hint-text" id="<%= toggleId %>-hint-text">Texte d’aide pour clarifier l’action</p><% } %>
</div>
