<% const sample = getSample(include); %>

<%- sample('Badge seul', './sample/badge-default', {}, true); %>

<p>Il est conseillé d'ajouter une balise span avec la classe fr-ellipsis à l'interieur du badge pour que celui ci reste sur une seule ligne, avec le texte coupé par des points de suspensions.</p>
<%- sample('Badge sur une seule ligne - ellipsis', './sample/badge-ellipsis', {}, true); %>

<%- sample('Badge - succès', './sample/badge-default', {badge: {type: 'success'}}, true); %>
<%- sample('Badge - succès sans icone', './sample/badge-default', {badge: {type: 'success', icon: false}}, true); %>
<%- sample('Badge - erreur', './sample/badge-default', {badge: {type: 'error'}}, true); %>
<%- sample('Badge - erreur sans icone', './sample/badge-default', {badge: {type: 'error', icon: false}}, true); %>
<%- sample('Badge - information', './sample/badge-default', {badge: {type: 'info'}}, true); %>
<%- sample('Badge - information sans icone', './sample/badge-default', {badge: {type: 'info', icon: false}}, true); %>
<%- sample('Badge - avertissement', './sample/badge-default', {badge: {type: 'warning'}}, true); %>
<%- sample('Badge - avertissement sans icone', './sample/badge-default', {badge: {type: 'warning', icon: false}}, true); %>
<%- sample('Badge - nouveauté', './sample/badge-default', {badge: {type: 'new'}}, true); %>
<%- sample('Badge - nouveauté sans icone', './sample/badge-default', {badge: {type: 'new', icon: false}}, true); %>

<%- sample('Badge - personnalisé green-menthe', './sample/badge-default', {badge: {accent: 'green-menthe'}}, true); %>
<%- sample('Badge - personnalisé orange-terre-battue', './sample/badge-default', {badge: {accent: 'orange-terre-battue'}}, true); %>
<%- sample('Badge - personnalisé purple-glycine', './sample/badge-default', {badge: {accent: 'purple-glycine'}}, true); %>

<%- sample('Badge taille SM', './sample/badge-sm', {}, true); %>
<%- sample('Badge SM - succès', './sample/badge-sm', {badge: {type: 'success'}}, true); %>
<%- sample('Badge SM - erreur', './sample/badge-sm', {badge: {type: 'error'}}, true); %>
<%- sample('Badge SM - information', './sample/badge-sm', {badge: {type: 'info'}}, true); %>
<%- sample('Badge SM - avertissement', './sample/badge-sm', {badge: {type: 'warning'}}, true); %>
<%- sample('Badge SM - nouveauté', './sample/badge-sm', {badge: {type: 'new'}}, true); %>
<%- sample('Badge SM - personnalisé purple-glycine', './sample/badge-sm', {badge: {accent: 'purple-glycine'}}, true); %>

<%- section('Groupe de badges', 'Lorsque que l\'on a plus d\'un badge, il convient d\'utiliser un groupe de badges. <br>La taille de tous les badges peut être définie au niveau du groupe.') %>

<%- sample('Groupe de badges', './sample/badges-group', {badgesGroup:{groupCount: 9}}, true); %>
<%- sample('Groupe de badges SM', './sample/badges-group', {badgesGroup:{groupCount: 9, size: 'sm'}}, true); %>
