<div class="<%= prefix %>-header__tools">
    <%
        if (locals.tools.links) { %>
    <div class="<%= prefix %>-header__tools-links">
        <ul class="<%= prefix %>-links-group">
            <%
                let item;
                for (let i = 0; i < tools.links.items.length; i++) {
                  item = tools.links.items[i];
            %>
            <li>
                <%- include('../../../links/templates/ejs/link', { ... item, left: true }); %>
            </li>
            <% } %>
        </ul>
    </div>
    <% }%>
    <% if (locals.tools.search !== undefined) {
            if (!locals.navbar || !navbar.search || !navbar.search.id || !navbar.search.modalId) throw new Error('navbar.search is not defined in header. id & modalId required');
    %>
        <div class="<%= prefix %>-header__search <%= prefix %>-modal" id="<%= navbar.search.modalId %>">
            <div class="<%= prefix %>-container <%= prefix %>-container-lg--fluid" >
                <%- include('../../../links/templates/ejs/link-close', { closeId: navbar.search.modalId }); %>
                <%- include( tools.search.sample !== undefined ? tools.search.sample : '../../../search/templates/ejs/search', { ...tools.search }); %>
            </div>
        </div>

    <% } %>
</div>
