<%

 %>

<div>
    <!--
    un bouton toggle (qui ouvre et qui ferme) doit avoir les attributs aria-expanded (qui définit son état) et l'attribut aria-controls (dont l'id détermine l'élément sur lequel agira le bouton.
    un bouton reduce (qui ne peut que fermer) doit avoir uniquement l'attribut aria-controls.
    -->
    <% for (let i = 0; i < 3; i++) {

        let id = 'collapsed-' + i;

        let button = {
            label:'Toggle',
            classes: [prefix + '-mb-2v'],
            attributes: {
                'aria-expanded':i === 0 ? 'true' : 'false',
                'aria-controls': id
            }
        }

        let nested = {
            label:'Toggle nested',
            classes: [prefix + '-mb-2v'],
            attributes: {
                'aria-expanded':'false',
                'aria-controls': id + '-nested'
            }
        }

        let close = {
            label:'Close',
            classes: [prefix + '-mb-2v'],
            attributes: {
                'aria-controls': id
            }

        }


    %>
        <div>
            <%- include('../../../../component/button/template/ejs/button.ejs', {button: button}); %>

            <ul class="<%= prefix %>-collapse" id="<%= id %>" data-<%= prefix %>-group="group-id">

                <% for (let j = 0; j < 2; j++) { %><li>list item</li><% } %>
                <li>
                    <%- include('../../../../component/button/template/ejs/button.ejs', {button: nested}); %>
                    <ul class="<%= prefix %>-collapse" id="<%= id %>-nested" >
                        <% for (let k = 0; k < 3; k++) { %><li>list nested item</li><% } %>
                    </ul>
                </li>
                <li>
                    <%- include('../../../../component/button/template/ejs/button.ejs', {button: close}); %>
                </li>

            </ul>
        </div>
    <% }%>
</div>
