<%#
# paramètres select

* select.id (string, required) : id du label et du select, sert également à construire les ids des messages valid, error et hint

* select.label (string, required) : Libellé du label

* select.options (array, required) : options du select, un array d'objets avec :
  * value : attribut value de l'option
  * label : libellé de l'option

* select.placeholder (string, optional) : text du placeholder du select

* select.valid (string, optional) : message de validation

* select.error (string, optional) : message d'erreur

* select.hint (string, optional) : message d'aide

* select.required (boolean, optional)

* select.disabled (boolena, optional)

* select.attributes (object, optional) : attributs spécifiques à rajouter sur le select

* select.classes (array, optional) : classes spécifiques à rajouter sur le select


%>
<% eval(include('../../../../../core/index.ejs')); %>

<%
const select = locals.select || {};

const selectClasses = select.classes || [];
const selectAttrs = select.attributes || {};
const describedby = [];
selectClasses.push(`${prefix}-select`);

if (select.valid !== undefined) {
  selectClasses.push(`${prefix}-select--valid`);
  describedby.push(`${select.id}-desc-valid`);
}

if (select.error !== undefined) {
  selectClasses.push(`${prefix}-select--error`);
  describedby.push(`${select.id}-desc-error`);
}

if (describedby.length > 0) selectAttrs['aria-describedby'] = describedby.join(' ');

if (select.required === true) selectAttrs['required'] = '';
if (select.disabled === true) selectAttrs['disabled'] = '';
%>

<%- include('../../../../form/template/ejs/label', {label:{label:select.label, for: select.id, hint: select.hint}}); %>

<select <%- includeClasses(selectClasses); %> <%- includeAttrs(selectAttrs); %> id="<%= select.id %>" name="<%= select.name || select.id %>">
  <% if (select.placeholder != undefined) { %>
  <option value="" selected disabled hidden><%= select.placeholder %></option>
  <% } %>

  <%
  for (let i = 0; i < select.options.length; i++) {
    let option = select.options[i];
  %>
  <option value="<%= option.value %>"><%= option.label %></option>
  <% } %>
</select>

<%- include('../../../../form/deprecated/template/ejs/message', {message:select}); %>
