<%#
# paramètres fieldset

// TODO: documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<%
let fieldsetClasses = [prefix + '-fieldset'];
let fieldsetAttrs = locals.attributes || {};
let describedby = [];

if (locals.inline === true) fieldsetClasses.push(prefix + '-fieldset--inline');
if (locals.error !== undefined) {
    fieldsetClasses.push(prefix + '-fieldset--error');
    fieldsetAttrs['aria-labelledby'] = id + '-legend ' + id + '-desc-error';
    fieldsetAttrs['role'] = 'group';
}
if (locals.valid !== undefined) {
    fieldsetClasses.push(prefix + '-fieldset--valid');
    fieldsetAttrs['aria-labelledby'] = id + '-legend ' + id + '-desc-valid';
    fieldsetAttrs['role'] = 'group';
}

if (locals.disabled === true) fieldsetAttrs['disabled'] = 'disabled';

if (locals.hint != undefined) describedby.push(id + '-desc-hint');
if (locals.error != undefined) describedby.push(id + '-desc-error');
if (locals.valid != undefined) describedby.push(id + '-desc-valid');

const legendClasses = [`${prefix}-fieldset__legend`];
if (locals.choice) legendClasses.push(`${prefix}-text--regular`);

%>

<div class="<%= prefix %>-form-group">
    <fieldset <%- includeClasses(fieldsetClasses); %> <%- includeAttrs(fieldsetAttrs); %>>
        <legend <%- includeClasses(legendClasses); %> id='<%= id %>-legend'>
            <%= legend %>
            <% if (locals.hint != undefined) { %><%- include('./hint', {id: id + '-desc-hint'});%><% } %>
        </legend>
        <div class="<%= prefix %>-fieldset__content">
            <%
                let path;
                for (let i = 0; i < elements.length; i++) {
                    let element = elements[i];
                    element.data.error = undefined;
                    element.data.valid = undefined;
                    element.data.hint = undefined;
                    if (element.data.disabled === undefined) element.data.disabled = undefined;
                    element.data.group = true;
            %>
                <%- include('../../../' + element.path, element.data); %>

            <% } %>
        </div>
        <%- include('./message'); %>
    </fieldset>
</div>
