<%#
# paramètres fieldset

// TODO: documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let labelClasses = locals.labelClasses || [];
 labelClasses.push(prefix + '-label');
 let labelAttrs = locals.labelAttributes || {};
 %>

<label <%- includeClasses(labelClasses); %> for="<%= id %>" <%- includeAttrs(labelAttrs); %>><%= label %>
  <% if (locals.hint != undefined) { %><%- include('./hint', {id: id + '-desc-hint'});%><% } %>
</label>

