<%#
# paramètres fieldset

// TODO: documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<% if(locals.error != undefined) { %>
    <p id="<%= id %>-desc-error" class="<%= prefix %>-error-text" >
        <%= error %>
    </p>
<% } %>

<% if(locals.valid != undefined) { %>
    <p id="<%= id %>-desc-valid" class="<%= prefix %>-valid-text" >
        <%= valid %>
    </p>
<% } %>
