<%#
# paramètres accordion

* label (string, required) : label du bouton

* isExpanded (boolean) : l'accordéon est-il ouvert au départ.

// TODO: documentation

%>

<% eval(include('../../../../core/index.ejs')); %>

<%
 const isExpanded = locals.isExpanded === true;
 %>

<section class="<%= prefix %>-accordion">
  <h3 class="<%= prefix %>-accordion__title">
    <button class="<%= prefix %>-accordion__btn" aria-expanded="<%= isExpanded %>" aria-controls="<%= collapseId %>" ><%- label %></button>
  </h3>
  <div class="<%= prefix %>-collapse" id="<%= collapseId %>">
    <% if (locals.content !== undefined) { %>
      <%- content %>
    <% } %>
  </div>
</section>
