<% const sample = getSample(include); %>

<%- sample('Snippet à inclure dans <head></head>', '../../template/ejs/favicon/favicon.ejs', {favicon: {path: relativeRoot + 'dist/favicon/'}}, true) %>

<h4>Tailles et formats</h4>
<p>L'icône de favori (favicon) du design système est disponible sous différents formats et tailles pour correspondre aux différents supports.
<h5>favicon.ico (32px)</h5>
<p><img src="<%= relativeRoot %>dist/favicon/favicon.ico" alt="favicon svg"></p>
<h5>favicon.svg</h5>
<p><img src="<%= relativeRoot %>dist/favicon/favicon.svg" alt="favicon svg"></p>
<h5>apple-touch-icon.png (180px)</h5>
<p><img src="<%= relativeRoot %>dist/favicon/apple-touch-icon.png" alt="apple-touch-icon png"></p>
<h5>Chrome / Android icons (importées depuis le nanifest.webmanifest)</h5>
<h6>android-chrome-192x192.png (192px)</h6>
<p><img src="<%= relativeRoot %>dist/favicon/android-chrome-192x192.png" alt="Chrome / Android icon 192"></p>
<h6>android-chrome-512xx512.png (512px)</h6>
<p><img src="<%= relativeRoot %>dist/favicon/android-chrome-512x512.png" alt="Chrome / Android icon 512"></p>
