<% eval(include(root + '/src/core/index.ejs')); %>
<!doctype html>
<html lang="fr" data-<%= prefix %>-theme >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %> - Design System</title>

    <%- include(root + 'src/core/template/ejs/favicon/favicon.ejs', {favicon: {path: `${relativeRoot}dist/favicon/`}}); %>

    <%- include(root + 'tool/example/style'); %>

    <style>
     <%- include(root + 'tool/example/style.css.ejs'); %>
    </style>

    <script>
      window['<%= namespace %>'] = {
        verbose: false,
        //mode: 'manual'
      }
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
</head>
<body class="<%= prefix %>-mb-12w" style="margin:0; padding:0;">

    <%- include(root + 'tool/example/wrapper'); %>

    <%- include(root + 'tool/example/parameter'); %>

    <%- include(root + 'tool/example/script') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
