<% eval(include(root + 'src/core/index.ejs')); %>
<!doctype html>
<html lang="fr" data-<%= prefix %>-theme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %> - Design System</title>

  <%- include('../../src/core/template/ejs/favicon/favicon.ejs', {favicon: {path: `${relativeRoot}dist/favicon/`}}); %>

  <%- include('style'); %>

  <style>
    <%- include('style.css.ejs'); %>
  </style>

  <link rel="stylesheet" type="text/css" media="all" href="https://www.gouvernement.fr/sites/all/modules/custom/pmv6_tarteaucitron/js/tarteaucitron/css/tac-custom.min.css">

  <script id=""  src="https://www.gouvernement.fr/sites/all/modules/custom/pmv6_tarteaucitron/js/tarteaucitron/tarteaucitron.js?v=20210310"></script>
  <script id=""  src="https://www.gouvernement.fr/sites/all/modules/custom/pmv6_tarteaucitron/js/tarteaucitron/lang/tarteaucitron.en.js?v=20210310"></script>
  <script id=""  src="https://www.gouvernement.fr/sites/all/modules/custom/pmv6_tarteaucitron/js/tarteaucitron/tarteaucitron.services.js?v=20210310"></script>

  <script>
    window['<%= namespace %>'] = {
      verbose: true,
      // mode: 'manual',
      analytics: {
        domain: 'gva.et-gv.fr',
        // mode: 'manual', // disable automatic path tracking, by default: auto
        cmp: {
          id: 'tarteaucitron'
        },
        page: {
          path: 'path_name/from/url', // path for page tracking
          // referrer: 'path_name/ref/url/', // referrer for virtual pages (not for real page, eulerian automatically collects document.referrer)
          // title: 'page title', // page title for virtual pages
          // name: 'page name', // equivalent to title if not defined
          labels: ['label1', 'label2', 'label3', 'label4', 'label5'],
          template: 'template', // page template
          group: 'group', // page group. if not defined, fallback to template value
          segment: 'segment', // site segment. if not defined, fallback to template value
          isError: true, // is this an error page (404, 500, 503...)
          current: 4, // In case of pagination, current page number
          total: 40, // In case of pagination, total pages number
          filters: ['actualités', 'Dossier de presse'] // array of filters that were applied on the page (strings)
        },
        user: {
          connect: {
            uid: 'XXX', // user id - required when connected
            email: 'email@domain.com', // encoded user email - required when connected
            isNew: true, // user just registered
          },
          profile: 'visitor', // user profile
          language: '',
          type: 'pro',
        },
        site: {
          environment: 'production', // by default development ['development', 'stage', 'production']
          entity: 'Ministère des armées', // Entity responsible for website
          language: '', // language of the website (ISO 639-1). default to html lang
          target: 'target', // site target
          type: 'type', // site type
          region: 'FR-IDF', // region of the website (ISO 3166-2:FR)
          department: 'FR-75', // department of the website (ISO 3166-2:FR)
        }
      }
    };
  </script>

  <script type="text/javascript">
    tarteaucitron.init({
      "privacyUrl": "", /* Privacy policy url */
      "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

      "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
      "cookieName": "tarteaucitron", /* Cookie name */

      "orientation": "middle", /* Banner position (top - bottom) */

      "groupServices": false, /* Group services by category */
      "serviceDefaultState": "wait", /* Default state (true - wait - false) */

      "showAlertSmall": false, /* Show the small banner on bottom right */
      "cookieslist": false, /* Show the cookie list */

      "closePopup": false, /* Show a close X on the banner */

      "showIcon": true, /* Show cookie icon to manage cookies */
      //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
      "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

      "adblocker": false, /* Show a Warning if an adblocker is detected */

      "DenyAllCta" : true, /* Show the deny all button */
      "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
      "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

      "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

      "removeCredit": false, /* Remove credit link */
      "moreInfoLink": true, /* Show more info link */

      "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
      "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

      //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

      "readmoreLink": "", /* Change the default readmore link */

      "mandatory": true, /* Show a message about mandatory cookies */
      "mandatoryCta": true /* Show the disabled accept button when mandatory on */
    });
  </script>

  <script>
/*
    tarteaucitron.services.eulerian = {
      "key": "eulerian",
      "type": "analytic",
      "name": "Eulerian Analytics",
      "needConsent": true,
      "cookies": ["etuix"],
      "uri" : "https://eulerian.com/vie-privee",
      "js": function () {
        "use strict";
        console.log('js');
        (function(x,w){ if (!x._ld){ x._ld = 1;
          let ff = function() { console.log('ff', x._f);if(x._f){ console.log('consent');x._f('tac',tarteaucitron,1)} };
          w.__eaGenericCmpApi = function(f) { console.log('cmpApi', f);x._f = f; ff(); };
          w.addEventListener("tac.close_alert", ff);
          w.addEventListener("tac.close_panel", ff);
        }})(this,window);
      },
      "fallback": function () { console.log('fallback');this.js(); }
    };
    (tarteaucitron.job = tarteaucitron.job || []).push('eulerian');

 */

  </script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css"
        rel="stylesheet"/>
</head>
<body id="top" class="<%= prefix %>-mb-12w">
<script>
  <%- schemeBootScript %>
</script>

<%- include('wrapper'); %>

<%- include('parameter'); %>

<%- include('script') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>



</body>
</html>
