<% eval(include(root + 'src/core/index.ejs')); %>
<!doctype html>
<html lang="fr" data-<%= prefix %>-theme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %> - Design System</title>

  <%- include('../../src/core/template/ejs/favicon/favicon.ejs', {favicon: {path: `${relativeRoot}dist/favicon/`}}); %>

  <%- include('style'); %>

  <style>
    <%- include('style.css.ejs'); %>
  </style>

  <script>
    window['<%= namespace %>'] = {
      verbose: true,
      // mode: 'manual',
      analytics: {
        domain: 'gva.et-gv.fr',
        // mode: 'manual', // disable automatic path tracking, by default: auto
        page: {
          path: 'path_name/from/url', // path for page tracking
          // referrer: 'path_name/ref/url/', // referrer for virtual pages (not for real page, eulerian automatically collects document.referrer)
          // title: 'page title', // page title for virtual pages
          // name: 'page name', // equivalent to title if not defined
          labels: ['label1', 'label2', 'label3', 'label4', 'label5'],
          template: 'template', // page template
          group: 'group', // page group. if not defined, fallback to template value
          segment: 'segment', // site segment. if not defined, fallback to template value
          isError: true, // is this an error page (404, 500, 503...)
          current: 4, // In case of pagination, current page number
          total: 40, // In case of pagination, total pages number
          filters: ['actualités', 'Dossier de presse'] // array of filters that were applied on the page (strings)
        },
        user: {
          connect: {
            uid: 'XXX', // user id - required when connected
            email: 'email@domain.com', // encoded user email - required when connected
            isNew: true, // user just registered
          },
          profile: 'visitor', // user profile
          language: '',
          type: 'pro',
        },
        site: {
          environment: 'production', // by default development ['development', 'stage', 'production']
          entity: 'Ministère des armées', // Entity responsible for website
          language: '', // language of the website (ISO 639-1). default to html lang
          target: 'target', // site target
          type: 'type', // site type
          region: 'FR-IDF', // region of the website (ISO 3166-2:FR)
          department: 'FR-75', // department of the website (ISO 3166-2:FR)
        }
      }
    };
  </script>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css"
        rel="stylesheet"/>
</head>
<body id="top" class="<%= prefix %>-mb-12w">
<script>
  <%- schemeBootScript %>
</script>

<%- include('wrapper'); %>

<%- include('parameter'); %>

<%- include('script') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
