<% eval(include(root + 'src/dsfr/core/index.ejs')); %>
<!doctype html>
<html lang="fr" data-<%= prefix %>-theme>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no,date=no,address=no,email=no,url=no">
  <title><%= title %> - Système de design</title>

  <%- include('../../src/dsfr/core/template/ejs/favicon/favicon.ejs', {favicon: {path: `${relativeRoot}dist/favicon/`}}); %>

  <%- include('style'); %>

  <style>
    <%- include('style.css.ejs'); %>
  </style>

  <script>
    window['<%= namespace %>'] = <%- include(`../../${config}`).replace(/[\r\n]/g, '\n    '); %>
  </script>

  <%- // include('tarteaucitron'); %>


  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/themes/prism.min.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.css"
        rel="stylesheet"/>
</head>
<body id="top" class="<%= prefix %>-mb-12w" dir="rtl">
  <script type="module">
    <%- schemeBootScript %>
  </script>
  <span id="[url - à modifier]"></span>

  <%- include('wrapper'); %>

  <% if (!locals.noParameter) { %>
    <%- include('parameter'); %>
  <% } %>

  <%- include('script') %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/components/prism-core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>

</body>
</html>
