<div class="<%= prefix %>-container <%= prefix %>-mt-2v <%= prefix %>-mb-8w">
  <%
  const classes = [prefix + '-icon-arrow-left-line', prefix + '-link--icon-left'];
    if (id !== 'analytics') classes.push(prefix + '-link');
  %>
  <p><a <%- includeClasses(classes) %> href="../">Retour</a></p>
  <h1><%= title %> <%= locals.id ? `(${id})` : '' %></h1>
  <% if (locals.description) { %>
    <p><%- description.replace(/(?:\r\n|\r|\n)/g, '<br/>') %></p>
  <% } %>
  <% if (locals.doc) {
          switch(true) {
  case Array.isArray(doc):
  %>
  <h5>Documentation</h5>
  <ul>
    <%
    for (const d of doc) {
    %>
      <li><a href="<%= d.url %>" <%- includeAttrs(targetBlankData()) %>> <%= d.title %></a></li>
    <%
    }
    %>
  </ul>
  <%
    break;

  case typeof doc === 'string':
  %>
  <a href="<%= doc %>" <%- includeAttrs(targetBlankData()) %>>Documentation</a>
  <%
    break;
  }
  %>

  <% } %>
</div>
