<div class="<%= prefix %>-mb-12w">
    <%
    const data = { id: undefined };

    if (locals.wrapper === undefined) {
    %>
    <%- include(`${root}/${path}/example/index.ejs`, data); %>
    <% } else if (wrapper === 'col-8') {
    %>
    <div class="<%= prefix %>-container">
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center" >
            <div class="<%= prefix %>-col-md-8 <%= prefix %>-col-12" >
                <%- include(`${root}/${path}/example/index.ejs`, data); %>
            </div>
        </div>
    </div>
    <% } else if (wrapper === 'container') { %>
    <div class="<%= prefix %>-container">
        <%- include(`${root}/${path}/example/index.ejs`, data); %>
    </div>
    <% } %>
</div>
