<div class="<%= prefix %>-container <%= prefix %>-mt-2v <%= prefix %>-mb-8w">
  <h3><%- locals.getSubdir('title') %></h3>
  <ul>
    <%
    for (dir of locals.subdir) {
    %>
      <li>
        <a href="<%= dir %>"><%= locals.getSubdir(dir); %></a>
      </li>

    <% } %>
  </ul>
</div>
