<% let header = locals.header || {}; %>

<div class="<%= prefix %>-header__body">
    <div class="<%= prefix %>-container" >
        <div class="<%= prefix %>-header__body-row">
            <%- include('./brand', {header:header}); %>

            <% if (header.tools) { %>
                <%- include('./tools'); %>
            <% } %>
        </div>
    </div>
</div>
