<%#
# paramètres header brand

* brand (object, required) : Paramètres du template
  ** brand.service (object, optional) : Paramètres des services
    *** brand.service.title (String, required) : titre du service
    *** brand.service.tagline (String, optional) : description du service - précisions sur l‘organisation
  ** brand.logo (string, optional) : chemin du template logo, ou paramètres du logo bloc marque - voir composant logo src/component/logo/template/ejs/logo.ejs
  ** brand.operator (object, optional) : Paramètres logo opérateur - voir src/core/template/ejs/media/img.ejs
  ** brand.navbar (object, optional) : Paramètres de la navbar - voir navbar

%>
<%
let brand = locals.brand || {};
%>
<div class="<%= prefix %>-header__brand <%= prefix %>-enlarge-link">
    <%
        let position;
        let title = 'Accueil - ';

        const logoPlaceholder = 'nom de l’entité (ministère, secrétariat d‘état, gouvernement)';

        switch(true) {
            case brand.service !== undefined:
                position = 'service';
                title += contentPlaceholder(brand.service.title);
                if (brand.logo) title += ' - ' + contentPlaceholder(logoPlaceholder);
                break;

            case brand.operator !== undefined:
                position = 'operator';
                title += contentPlaceholder(imgAltText);
                break;

            default:
                position = 'logo';
                title += contentPlaceholder(logoPlaceholder);
        }

        const link = `<a href="/" title="${title}" >`;
    %>

    <div class="<%= prefix %>-header__brand-top" >
        <div class="<%= prefix %>-header__logo" >
            <% if (position === 'logo') { %><%- link %><% } %>
            <%
                let path, data;
                switch(typeof brand.logo) {
                    case 'string':
                        path = brand.logo;
                        break;

                    default :
                        path = '../../../logo/template/ejs/logo';
                        data = brand.logo;
                        break;
                }
            %>
                <%- include(path, {logo: data}); %>
            <% if (position === 'logo') { %><%- '</a>' %><% } %>
        </div>


        <% if (brand.operator !== undefined) { %>
            <div class="<%= prefix %>-header__operator">
                <% if (position === 'operator') { %><%- link %><% } %>
                <%- include('../../../../core/template/ejs/media/responsive-img.ejs', {media: brand.operator}); %>
                <% if (position === 'operator') { %><%- '</a>' %><% } %>
            </div>
        <% } %>

        <% if (brand.navbar) { %>
            <%- include('./navbar', {navbar: brand.navbar}); %>
        <% } %>
    </div>


    <% if (brand.service !== undefined) { %>
        <div class="<%= prefix %>-header__service" >
            <% if (position === 'service') { %><%- link %><% } %>
                <% if (brand.service.title !== undefined) { %>
                    <p class="<%= prefix %>-header__service-title"><%- brand.service.title %></p>
                <% } %>
            <% if (position === 'service') { %><%- '</a>' %><% } %>
            <% if (brand.service.tagline !== undefined) { %>
                <p class="<%= prefix %>-header__service-tagline"><%- brand.service.tagline %></p>
            <% } %>
        </div>
    <% } %>
</div>
