<div class="<%= prefix %>-header__tools">
    <%
        if (locals.tools.links) { %>
    <div class="<%= prefix %>-header__tools-links">
        <%- include('./links', tools.links); %>
    </div>
    <% }%>
    <% if (locals.tools.search !== undefined) {
            if (!locals.navbar || !navbar.search || !navbar.search.id || !navbar.search.modalId) throw new Error('navbar.search is not defined in header. id & modalId required');
    %>
        <div class="<%= prefix %>-header__search <%= prefix %>-modal" id="<%= navbar.search.modalId %>">
            <div class="<%= prefix %>-container <%= prefix %>-container-lg--fluid" >
                <%- include('../../../link/template/ejs/link-close', { closeId: navbar.search.modalId }); %>
                <%- include( tools.search.sample !== undefined ? tools.search.sample : '../../../search/template/ejs/search', { ...tools.search }); %>
            </div>
        </div>

    <% } %>
</div>
