<%
const block = locals.block || {};
%>

<div class="<%= prefix %>-container <%= prefix %>-container--fluid">
  <div class="<%= prefix %>-mb-md-7w <%= prefix %>-grid-row <%= prefix %>-grid-row--gutters <%= prefix %>-grid-row--center">
    <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-10 <%= prefix %>-col-lg-8">
      <div class="<%= prefix %>-container <%= prefix %>-px-md-0 <%= prefix %>-background-alt--grey <%= prefix %>-mt-2v <%= prefix %>-mt-md-5v <%= prefix %>-py-10v <%= prefix %>-py-md-14v">
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center <%= prefix %>-grid-row--gutters">
          <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-9">
            <%- include(block.path, block.data); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
