<%
 const block = locals.block || {};
 %>

<div class="<%= prefix %>-container--fluid <%= prefix %>-container <%= prefix %>-my-md-14v">
  <div class=" <%= prefix %>-grid-row <%= prefix %>-grid-row--gutters <%= prefix %>-grid-row--center">
    <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-8 <%= prefix %>-col-lg-6">
      <div class="<%= prefix %>-container <%= prefix %>-px-md-0 <%= prefix %>-background-alt--grey <%= prefix %>-py-10v <%= prefix %>-py-md-14v">
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center <%= prefix %>-grid-row--gutters">
          <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-9 <%= prefix %>-col-lg-8">
            <%- include(block.path, block.data); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
