<%
const segment = locals.segment;
const data = segment.data || {};
%>
<div class="<%= prefix %>-mb-6v">
  <% if (data.title) { %>
    <h5><%= data.title %></h5>
  <% } %>

  <% if (data.desc) { %>
    <p class="<%= prefix %>-text--sm <%= prefix %>"><%= data.desc %></p>
  <% } %>

  <%- include('../../../../../component/connect/template/ejs/connect.ejs', { connect: data.connect })  %>
</div>
