<%
const segment = locals.segment;
const data = segment.data || {};
const markup = data.markup || 'h2';
%>
<div class="<%= prefix %>-mb-6v">
  <% if (data.title) { %>
    <<%= markup %> class="<%= prefix %>-h5"><%= data.title %></<%= markup %>>
  <% } %>

  <% if (data.desc) { %>
    <p class="<%= prefix %>-text--sm"><%= data.desc %></p>
  <% } %>

  <%- include('../../../../../component/connect/template/ejs/connect.ejs', { connect: data.connect })  %>
</div>
