<%
    let statusCollections,
        actionNavigationCollections,
        contentMediaCollections,
        pdfCollections;

    statusCollections = [
        ['error-fill', 'error-line', 'success-fill', 'success-line', 'info-fill', 'info-line', 'warning-fill', 'warning-line', 'flashlight-fill', 'flashlight-line']
    ];
    navigationCollections = [
        ['menu-fill', 'menu-2-fill'],
        ['arrow-up-line', 'arrow-right-line', 'arrow-down-line', 'arrow-left-line', 'arrow-up-s-line', 'arrow-right-s-line', 'arrow-down-s-line', 'arrow-left-s-line', 'arrow-left-s-first-line',  'arrow-left-s-line-double', 'arrow-right-s-last-line',  'arrow-right-s-line-double', 'arrow-right-up-line'],
        ['user-fill', 'user-line', 'account-fill', 'account-line', 'lock-fill', 'lock-line', 'logout-box-r-fill', 'logout-box-r-line']
    ];
    actionCollections = [
        ['question-fill', 'question-line', 'information-fill', 'information-line', 'error-warning-fill', 'error-warning-line', 'close-line', 'check-line'],
        ['add-circle-fill', 'add-circle-line', 'subtract-line', 'add-line'],
        ['search-fill', 'search-line'],
        ['eye-fill', 'eye-line', 'eye-off-fill', 'eye-off-line'],
        ['printer-fill', 'printer-line', 'upload-2-fill', 'upload-2-line', 'file-download-fill', 'file-download-line', 'download-line', 'external-link-line', 'edit-fill', 'edit-line', 'links-fill'],
        ['delete-line', 'delete-fill'],
        ['save-fill', 'save-line'],
        ['calendar-fill', 'calendar-line'],
        ['file-fill', 'file-line'],
        ['mail-fill', 'mail-line'],
        ['refresh-fill', 'refresh-line'],
        ['equalizer-fill', 'equalizer-line'],
        ['filter-fill', 'filter-line'],
        ['attachment-fill', 'attachment-line'],
        ['theme-fill']
    ];
    contentMediaCollections = [
        ['play-fill', 'play-line', 'volume-up-fill', 'volume-up-line', 'volume-mute-fill', 'volume-mute-line', 'volume-down-fill', 'volume-down-line', 'pause-circle-fill', 'pause-circle-line'],
        ['file-pdf-fill', 'file-pdf-line'],
        ['chat-quote-fill', 'chat-quote-line']
    ];
    socialsCollections = [
        ['dailymotion-fill', 'dailymotion-line', 'facebook-circle-fill', 'facebook-circle-line', 'github-fill', 'github-line', 'instagram-fill', 'instagram-line', 'linkedin-box-fill', 'linkedin-box-line', 'npmjs-fill', 'npmjs-line', 'remixicon-fill', 'remixicon-line', 'slack-fill', 'slack-line', 'snapchat-fill', 'snapchat-line', 'telegram-fill', 'telegram-line', 'twitter-fill', 'twitter-line', 'twitch-fill', 'twitch-line', 'vimeo-fill', 'vimeo-line', 'youtube-fill', 'youtube-line',]
    ];

    const families = [
        { title : 'Statut (Icon font / SVG symbols)', collections: statusCollections, sample: './sample/icon'},
        { title : 'Navigation (Icon font / SVG symbols)', collections: navigationCollections, sample: './sample/remix-icon'},
        { title : 'Actions (Icon font / SVG symbols)', collections: actionCollections, sample: './sample/remix-icon'},
        { title : 'Contenus et médias (Icon font / SVG symbols)', collections: contentMediaCollections, sample: './sample/remix-icon'},
        { title : 'Réseaux Sociaux (Icon font / SVG symbols)', collections: socialsCollections, sample: './sample/remix-icon'}
    ];

    const sample = getSample(include);
%>

<%
    for (const family of families) {
%>
    <h4 class="<%= prefix %>-h4 <%= prefix %>-mb-12v"><%= family.title %></h4>

    <%
        family.collections.forEach((collection) => {
    %>
    <div>
        <%- sample('', family.sample, { icons: collection }, true); %>
    </div>
    <% }); %>

<% } %>

<%- sample('Icone LG', '../../template/ejs/icon/icon', {icon: {icon:'warning-fill', size:'lg'}}, true); %>
<%- sample('Icone MD (par défault)', '../../template/ejs/icon/icon', {icon: {icon:'warning-fill'}}, true); %>
<%- sample('Icone SM', '../../template/ejs/icon/icon', {icon: {icon:'warning-fill', size:'sm'}}, true); %>
