<%#
# Paramètres pagination item

* paginationItem.tag (string, optional): tag html de l'élement (default: 'a'))

* paginationItem.type (string, optional): type d'élement (first, prev, next, last)

* paginationItem.href (string, optional): url de destination, si l'élement est un lien

* paginationItem.title (string, optional): attribut title de l'élement

* paginationItem.disabled (boolean, optional): si true, désactive l'élement

* paginationItem.hasLabel (boolean, optional): affiche le label dans l'élement

* paginationItem.hasLgLabel (boolean, optional): affiche le label dans l'élement à partir du breakpoint lg

* paginationItem.displayedLg (boolean, optional): affiche l'élement à partir du breakpoint lg

* paginationItem.classes (array, optional): Classe supplémentaires sur l'élement

* paginationItem.attributes (object, optional): Attributs supplémentaires sur l'élement

%>
<%
let paginationItem = locals.paginationItem || {};
const classes = paginationItem.classes || [];
const attrs = paginationItem.attributes || {};
const tag = paginationItem.tag || 'a';

classes.push(prefix + '-pagination__link');

if (paginationItem.active) attrs['aria-current'] = 'page';

if (paginationItem.type) classes.push(prefix + '-pagination__link--' + paginationItem.type);

if (paginationItem.href !== undefined && !paginationItem.disabled && tag === 'a' && !paginationItem.active) attrs.href = paginationItem.href;
if (paginationItem.title) attrs.title = paginationItem.title;

switch(true) {
  case paginationItem.hasLgLabel:
    classes.push(prefix + '-pagination__link--lg-label');
    break;

  case paginationItem.hasLabel:
    classes.push(prefix + '-pagination__link--label');
    break;
}

if (paginationItem.displayedLg === true) classes.push(prefix + '-displayed-lg');
if (paginationItem.disabled) {
  switch(tag) {
      case 'input':
      case 'button':
        attrs.disabled = '';
          break;

      case 'a':
        attrs['aria-disabled'] = 'true';
        attrs.role = 'link';
          break;
    }
}
%>

<li>
    <<%= tag %> <%- includeClasses(classes) %> <%- includeAttrs(attrs) %>>
        <% if (paginationItem.label !== undefined ) { %><%- paginationItem.label %><% } %>
    </<%= tag %>>
</li>
