<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <div class="<%= prefix%>-grid-row <%= prefix%>-grid-row--gutters">
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-4">
      <%- sample('Carte avec liens', '../../../../../component/card/example/sample/card-default', { card : { title: 'Intitulé de la carte', img: true, noLink: true, href: '../', footer: {links: true} }}); %>
    </div>
  </div>
</div>
