<%#
# paramètres login

* title (String, optional): Titre de la page de connexion

* login (object, optional) : Bloc de connexion
** login.title (String, optional) : Titre du bloc
** login.desc (String, optional) : Description du bloc
** login.form (object, required): Paramètres du formulaire de connexion (voir fieldset)


* connect (object, optional) : Bloc bouton France connect
** connect.title (String, optional) : Titre du bloc france connect
** ... Autre paramètres connect (voir composant connect)

* register (object, optional) : Bloc bouton s'enregistrer
** register.title (String, optional) : Titre du bloc bouton s'enregistrer
** register.button (object, required) : paramètres du bouton

%>

<%
  const login = locals.login;

  const connect = login.connect || {};
  const title = login.title || null;

%>

<main role="main" id="content">
  <div class="<%= prefix %>-container--fluid <%= prefix %>-container <%= prefix %>-my-md-14v">
    <div class=" <%= prefix %>-grid-row <%= prefix %>-grid-row--gutters <%= prefix %>-grid-row--center">
      <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-8 <%= prefix %>-col-lg-6">
        <div class="<%= prefix %>-container <%= prefix %>-px-md-0 <%= prefix %>-background-alt--grey <%= prefix %>-pt-10v <%= prefix %>-pt-md-14v <%= prefix %>-pb-6v <%= prefix %>-pb-md-10v">
          <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center <%= prefix %>-grid-row--gutters">
            <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-9 <%= prefix %>-col-lg-8">
              <% if (title) { %>
              <h4><%= title %></h4>
              <% } %>

              <% if (login.connect) { %>
              <div>
                <% if (login.connect.title) { %>
                <h5><%= login.connect.title %></h5>
                <% } %>

                <%- include('../../../../component/connect/template/ejs/connect.ejs', {connect: login.connect})  %>

              </div>
                <% if(login.login) { %>
                  <p class="<%= prefix %>-hr--or <%= prefix %>-mt-6v">OU</p>
                <% } %>
              <% } %>

              <% if(login.login) { %>
              <div>
                <% if (login.login.title) { %>
                  <h5 class="<%= prefix %>-mb-4v"><%= login.login.title %></h5>
                <% } %>

                <% if (login.login.desc) { %>
                  <p class="<%= prefix %>-text--sm <%= prefix %>-mb-4v"><%= login.login.desc %></p>
                <% } %>

                <% if (login.login.alert) { %>
                  <%- include('../../../../component/alert/template/ejs/alert.ejs', {alert: login.login.alert})  %>
                <% } %>

                <% if (login.login.hint) { %>
                  <p class="<%= prefix %>-hint-text"><%= login.login.hint %></p>
                <% } %>

                <%- include('../../../../component/form/template/ejs/form.ejs', {form: login.login.form})  %>

              </div>
              <% } %>

              <% if(login.register) { %>
              <hr class="<%= prefix %>-mt-n6v">
              <div>
                <% if(login.register.title) { %>
                <h5><%= login.register.title %></h5>
                <% } %>

                <%- include('../../../../component/button/template/ejs/buttons-group', {buttonsGroup: {buttons:[{...login.register.button}]}}) %>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
