<% eval(include('../../../../../core/index.ejs')); %>

<%
let id = alert.id || uniqueId('alert');
let title = alert.title || false;
let text = alert.text || false;
let type = alert.type || false;
let size = alert.size || "md";
let expanded = alert.expanded || true;
let attrButton = alert.buttonAttrs;
let classes = alert.classes || [];
let attributes = alert.attributes || {};
classes.push(prefix + '-alert');
if (type) classes.push(prefix + '-alert--' + type);
if (alert.alert) attributes.role = "alert";
if (size !== "md") classes.push(prefix + '-alert--' + size);
 %>

<div  <%- includeAttrs(attributes); %> <%- includeClasses(classes); %>>

  <% if(title) { %>
    <p class="<%= prefix %>-alert__title"><%= title %></p>
  <% } %>

  <% if(text) { %>
    <p><%= text %></p>
  <% } %>

  <% if(alert.dismissible) { %>
    <%- include('../../../../link/template/ejs/link', {link: {size: 'md', classes: [`${prefix}-link--close`], markup:'button', ...alert.button}}) %>
  <% } %>
</div>
