<%
const sample = getSample(include);

const attrModal = [];
attrModal['aria-controls'] = prefix + '-theme-modal';
attrModal[`data-${prefix}-opened`] = false;

const links = {
  items: [
    {
      icon: 'theme-fill',
      iconPlace: 'left',
      label: 'Paramètres d\'affichage',
      attributes: {...attrModal},
      tag: 'button'
    }
  ]
};

let dataModal = {
  id: prefix + "-theme-modal",
  title: 'Paramètres d’affichage',
  body: '../../../display/example/sample/body',
  size: "sm"
}

let dataFooter = {
    id: uniqueId('footer'),
    brand: {
      logo: {
          title: 'république<br>française',
      },
    },
    content: {
      desc: lorem(),
      links: [
        {label: 'legifrance.gouv.fr'},
        {label: 'gouvernement.fr'},
        {label: 'service-public.fr'},
        {label: 'data.gouv.fr'}
      ]
    },
    bottom: {
      links: [
        {label: 'Plan du site'},
        {label: 'Accessibilité : non/partiellement/totalement conforme'},
        {label: 'Mentions légales'},
        {label: 'Données personnelles'},
        {label: 'Gestion des cookies'},
        {
          label: 'Paramètres d\'affichage',
          tag: 'button',
          classes: [prefix + '-fi-theme-fill', prefix + '-link--icon-left'],
          attributes: {
            'aria-controls': prefix + '-theme-modal',
            [`data-${prefix}-opened`]: false,
          }
        }
      ],
      copyright: 'Sauf mention contraire, tous les contenus de ce site sont sous <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank">licence etalab-2.0</a>'
    }
}
%>

<%- include('../../header/example/sample/header.ejs', {header: { links: links, navigation: true, navigationId:'header-navigation' }}); %>

<div class="<%= prefix%>-container <%= prefix %>-mt-8v">
  <h1>Scheme - gestion du dark mode</h1>
  <%- sample('bouton ouverture thèmes', '../../link/example/sample/link-default', {link:links.items[0]}, true) %>

  <!-- Le contenu de la modale des paramètres d'affichage est importé de manière globale dans les pages d'exemple -->
  <%- sample('snippet modal de paramètres d\'affichage', '../../modal/template/ejs/modal.ejs', {modal:dataModal}, true, './layout-snippet-only'); %>

</div>

<%- include('../../footer/template/ejs/footer.ejs', {footer: dataFooter }); %>
