<% eval(include('../../../../core/index.ejs'));

const header = locals.header || {};

const buttonsGroupData = {
  inline: 'md',
  align:'right',
  iconPlace:'left',
  buttons: [
    {
      label: getText('data.actionBar.buttons.label', 'table'),
      id: uniqueId('table-header-button-primary'),
      icon: 'settings-5-line',
      iconPlace:'left',
      kind: 2
    },
    {
      label: getText('data.actionBar.buttons.label', 'table'),
      id: uniqueId('table-header-button-secondary'),
      icon: 'settings-5-line',
      iconPlace:'left',
      kind: 2
    }
  ]
};

const segmentedDataId = uniqueId('table-header-segmented');

const segmentedData = {
  id: segmentedDataId,
  noLegend: true,
  legend: getText('data.actionBar.segmented.legend', 'table'),
  elements: [
    {
      id: uniqueId('table-header-segmented-table'),
      label: getText('data.actionBar.segmented.table', 'table'),
      name: segmentedDataId + '-table',
      value: 1,
      icon: 'table-line',
      checked: true
    },
    {
      id: uniqueId('table-header-segmented-list'),
      label: getText('data.actionBar.segmented.list', 'table'),
      name: segmentedDataId + '-table',
      value: 2,
      icon: 'list-unordered',
      checked: false
    }
  ]
};
%>

<% if (header.segmented !== undefined) { %>
<%- include('../../../segmented/template/ejs/segmented', {segmented: segmentedData}); %>
<% } %>
<% if (header.search !== undefined) { %>
<%- include('../../../search/template/ejs/search.ejs', { search: { id: uniqueId('search'), input: {placeholder: 'Rechercher', label:'Rechercher'}, button: {id: uniqueId('table-search-btn'), label: 'Rechercher', title: 'Rechercher dans le tableau'} } }); %>
<% } %>
<% if (header.details !== undefined) { %>
<p class="<%= prefix %>-table__detail"><%- getText('data.actionBar.detail', 'table') %></p>
<% } %>
<% if (header.buttons !== undefined) { %>
<%- include('../../../button/template/ejs/buttons-group', {buttonsGroup: buttonsGroupData}); %>
<% } %>
