<% if (locals.title !== undefined) { %>
<h4 class="<%= prefix %>-h4"><%= title %></h4>
<% } %>
<div class="<%= prefix %>-mb-6v" >
    <div class="<%= prefix %>-col-12 <%= prefix %>-col-sm-6 <%= prefix %>-col-md-4 <%= prefix %>-col-lg-3" >
        <%- component %>
    </div>
</div>
<% if (locals.snippet !== undefined) { %>
<div class="<%= prefix %>-mb-12v" >
    <%- snippet %>
</div>
<% } %>

