<%#
# paramètres card

* card.title (string, required) : Titre de la carte

* card.enlarge (boolean, optional) : si true, agrandi la zone de clic à toute la carte

* card.horizontal (boolean, optional) : si true, passe la card en mode horizontal

* card.img (object, optional) : paramètres de l'image

* card.detail (string, optional) : Détail de la card

* card.description (string, optional) : Description

* card.arrow (boolean, optional) : détermine la présence de l'icon arrow

* card.accent (string, optional): Couleur d'accenturation du composant

* card.classes (array, optional): Classes suplémentaires sur le composant

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let card = locals.card || {};
let classes = card.classes || [];
classes.push(`${prefix}-card`);

if (card.enlarge) classes.push(`${prefix}-enlarge-link`);
if (card.horizontal !== undefined) classes.push(`${prefix}-card--horizontal`);
if (card.arrow === false) classes.push(`${prefix}-card--no-arrow`);
if (card.accent !== undefined) classes.push(`${prefix}-card--${card.accent}`);
%>
<div <%- includeClasses(classes) %>>
    <div class="<%= prefix %>-card__body">
        <h4 class="<%= prefix %>-card__title"><a href="#" class="<%= prefix %>-card__link"><%- card.title %></a></h4>
        <% if (card.description !== undefined) { %><p class="<%= prefix %>-card__desc"><%- card.description %></p><% } %>
        <% if (card.detail !== undefined) { %><p class="<%= prefix %>-card__detail"><%- card.detail %></p><% } %>
    </div>
    <% if (card.img !== undefined) { %>
        <div class="<%= prefix %>-card__img">
            <%- include('../../../../core/template/ejs/media/responsive-img.ejs', {media: card.img}); %>
        </div>
    <% } %>
</div>
