<%#
# paramètres de la banière de consentement

* consent.title (string, recommended) : Titre du bloc

* consent.body (string, optional) : Texte explicatif, contenu textuel ou html

* consent.buttons (array, optional): paramètres spécifique de chaque bouton du groupe

* consent.classes (array, optional) : Classes supplémentaires sur l'element

* consent.attributes (object, optional) : Attributs supplémentaires sur l'element

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let consent = locals.consent || {};
let classes = [...consent.classes || [], prefix + '-consent-banner'];
let attributes = consent.attributes || {};
btnModalAttr = [];
btnModalAttr['data-' + prefix + '-opened'] = false;
btnModalAttr['aria-controls'] = prefix + '-consent-modal';
let buttons = consent.buttons || [
  { label: 'Tout accepter', title: 'Autoriser tous les cookies' },
  { label: 'Tout refuser',  title: 'Refuser tous les cookies' },
  { label: 'Personnaliser', kind: 2, attributes: btnModalAttr, title: 'Personnaliser les cookies' }
];
%>

<div <%- includeClasses(classes); %> <%- includeAttrs(attributes) %>>
  <% if (consent.title) { %><h2 class="<%= prefix %>-h6"><%= consent.title %></h2><% } %>
  <% if (consent.body) { %><div class="<%= prefix %>-consent-banner__content"><%- consent.body %></div><% } %>
  <%- include('../../../button/template/ejs/buttons-group.ejs', {buttonsGroup: {classes: [prefix + '-consent-banner__buttons'], inline: 'sm', align:'right', reverse: true, buttons: buttons}}); %>
</div>
