<%#
# paramètres placeholder de consentement

* consent.title (string, recommended) : Titre du placeholder

* consent.body (string, optional) : Texte explicatif, contenu textuel ou html

* consent.button (object, optional) : Pour modifier le bouton (par exemple le texte dans le bouton : button.label)

* consent.classes (array, optional) : Classes supplémentaires sur l'element

* consent.attributes (object, optional) : Attributs supplémentaires sur l'element

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let consent = locals.consent || {};
let classes = [...consent.classes || [], prefix + '-consent-placeholder'];
let attributes = consent.attributes || {};
let button = consent.button || {};
if (!button.label) button.label = "Autoriser";
button.markup = 'button';
%>

<div <%- includeClasses(classes); %> <%- includeAttrs(attributes) %>>
  <% if (consent.title) { %><h4 class="<%= prefix %>-h6"><%= consent.title %></h4> <% } %>
  <% if (consent.body) { %><p><%- consent.body %></p><% } %>
  <%- include('../../../button/template/ejs/button.ejs', {button: button}); %>
</div>
