<%#
# paramètres

// TODO: documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<nav class="<%= prefix %>-summary" role="navigation" aria-labelledby="<%= prefix %>-summary-title">
  <div class="<%= prefix %>-summary__title" id="<%= prefix %>-summary-title">Sommaire</div>

  <%- include('./list', locals.list); %>

</nav>
