<%#
# paramètres

* radio.classes (array, optional) : Classes supplémentaires sur l'element

* radio.attributes (object, optional) : Attributs supplémentaires sur l'element

* radio.image (object, optional) : Paramètres de l'image sur le radio
  ** radio.image.type (string, optional) : Type d'image sur le radio [img/svg/pictogram]
  ** radio.image.src (string, optional) : Chemin vers l'image ou le svg
  ** radio.image.name (string, optional) : Si type pictogram, nom du pictogramme

* radio.element (object, optional) : paramètre de chacun des radios d'un group

* radio.icon (string, optional) : nom de l'icone illustrative

* radio.disabled (boolean, optional) : si true, désactive le radio

* radio.checked (boolean, optional) : si true, le radio est coché

* radio.id (string, required) : id du composant

* radio.name (string, optional) : Attribut name du composant

* radio.hint (string, optional) : Message d'aide

* radio.error (string, optional) : Message d'erreur

* radio.valid (string, optional) : Message de succès

* radio.customIcon (string, optional) : style du label (ex: "background-image: url(...)")

%>
<% eval(include('../../../../../core/index.ejs')); %>
<%
let radio = locals.radio || {};
let radioAttrs = radio.attributes || {};
let labelClass = radio.classes || [];
let element, labelAttr, imageAttrs = {};
if (radio.element) element = radio.element;
if (radio.disabled) radioAttrs.disabled = '';
if (radio.checked) radioAttrs.checked = '';
%>

<input <%- includeAttrs(radioAttrs); %> type="radio" id="<%= radio.id %>" name="<%= radio.name %>">
<%- include('../../../../form/deprecated/template/ejs/label', {label: {...radio, ...element, classes: labelClass, attributes: labelAttr}}); %>
<%- include('../../../../form/deprecated/template/ejs/message', {message: {hint: radio.hint} }); %>
<% if (radio.image !== undefined) { %>
    <% if (radio.image.type && radio.image.type === 'svg') imageAttrs['data-' + prefix + '-inject-svg'] = ''; %>
    <div class="<%= prefix %>-radio-rich__img" <%- includeAttrs(imageAttrs) %>>
        <% if (radio.image.type && radio.image.type === 'pictogram') { %>
            <%- include('../../../../../core/template/ejs/artwork/pictogram.ejs', {pictogram: radio.image}); %>
        <% } else { %>
            <%- include('../../../../../core/template/ejs/media/img.ejs', {media: radio.image}); %>
        <% } %>
    </div>
<% } %>
