<%#
# paramètres stepper (indicateur d'étapes)

* stepper.title (string, required): Titre de l'indicateur d'étapes

* stepper.currentStep (integer, required): Numéro de l'étape courrante

* stepper.stepCount (integer, required): Nombre d'étapes

* stepper.nextStep (String, required): Titre de la prochaine étape

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let stepper = locals.stepper || {};
 let classes = stepper.classes || [];
 let stepAttrs = {};
 classes.push(prefix + '-stepper');
%>

<div <%- includeClasses(classes); %>>
  <% if (stepper.title !== undefined) { %>
    <h2 class="<%= prefix%>-stepper__title">
      <% if (stepper.currentStep && stepper.stepCount) { %>
        <span class="<%= prefix %>-stepper__state">Étape <%= stepper.currentStep %> sur <%= stepper.stepCount %></span>
      <% } %>
      <%- stepper.title %>
    </h2>
  <% } %>



  <% if (stepper.currentStep && stepper.stepCount) { %>
    <% stepAttrs['data-' + prefix + '-current-step'] = stepper.currentStep %>
    <% stepAttrs['data-' + prefix + '-steps'] = stepper.stepCount %>
    <div class="<%= prefix%>-stepper__steps" <%- includeAttrs(stepAttrs) %>></div>
  <% } %>

  <% if (stepper.nextStep !== undefined) { %>
    <p class="<%= prefix %>-stepper__details"><span class="<%= prefix %>-text--bold">Étape suivante :</span> <%- stepper.nextStep %></p>
  <% } %>
</div>
