<%#
# paramètres stepper (indicateur d'étapes)

* stepper.title (string, required): Titre de l'indicateur d'étapes

* stepper.currentStep (integer, required): Numéro de l'étape courrante

* stepper.stepCount (integer, required): Nombre d'étapes

* stepper.nextStep (String, required): Titre de la prochaine étape

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let stepper = locals.stepper || {};
 let classes = stepper.classes || [];
 let currentStepAttrs = {};
 classes.push(prefix + '-stepper');
%>

<div <%- includeClasses(classes); %>>
  <% if (stepper.title !== undefined) { %>
    <h6 class="<%= prefix%>-stepper__title"><%= stepper.title %></h6>
  <% } %>

  <% if (stepper.currentStep && stepper.stepCount) { %>
    <p class="<%= prefix%>-stepper__state">Étape <%= stepper.currentStep %> sur <%= stepper.stepCount %></p>
  <% } %>

  <% if (stepper.currentStep && stepper.stepCount) { %>
    <div class="<%= prefix%>-stepper__steps">
      <% for (let step = 1; step <= stepper.stepCount; step++) { %>
        <% step === stepper.currentStep ? currentStepAttrs['aria-current'] = 'step' : currentStepAttrs = {} %>
        <div class="<%= prefix%>-stepper__step" <%- includeAttrs(currentStepAttrs) %>></div>
      <% } %>
      </div>
  <% } %>

  <% if (stepper.nextStep !== undefined) { %>
    <p class="<%= prefix %>-stepper__details"><span class="<%= prefix %>-text--bold">Étape suivante :</span> <%- stepper.nextStep %></p>
  <% } %>
</div>
