<%
const sample = getSample(include);
let data = { caption: 'Caption du tableau (accessibilité)', col: 6, row: 3};
let dataBordered = { caption: 'Caption du tableau (accessibilité)', bordered: true, col: 6, row: 3};
let dataNoScroll = { caption: 'Caption tableau non scrollable', noscroll: true, col: 6};
let dataLayoutFixed = { caption: 'Caption tableau fixé', layout: "fixed", col: 3};
let dataNoCaption = { caption: 'Caption cachée', nocaption: true, col: 6};
let dataCaptionBottom = { caption: 'Caption en bas', captionBottom: true, col: 6};
%>

<div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--gutters">
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau par défaut', './sample/table-default', {table:data}, true) %>
    </div>
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau avec bordure', './sample/table-default', {table:dataBordered}, true) %>
    </div>
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau non scrollable', './sample/table-default', {table:dataNoScroll}, true) %>
    </div>
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau colonnes fixées (layout-fixed)', './sample/table-default', {table:dataLayoutFixed}, true) %>
    </div>
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau caption invisible', './sample/table-default', {table:dataNoCaption}, true) %>
    </div>
    <div class="<%= prefix %>-col-12">
        <%- sample('Tableau caption Bottom', './sample/table-default', {table:dataCaptionBottom}, true) %>
    </div>
</div>
