<p><%- lorem() %></p>
<span class="<%= prefix %>-hr"></span>
<p><%- lorem() %></p>
<span class="<%= prefix %>-hr <%= prefix %>-hr--sm"></span>
<p><%- lorem() %></p>
<hr class="<%= prefix %>-hr--sm">
<p><%- lorem() %></p>
