<% const sample = getSample(include); %>

<% const getData = (data = {}) => {
  return {
    id: uniqueId('breadcrumb'),
    segments: [
      { path: '#', label: 'Accueil', id: uniqueId('breadcrumb') },
      { path: 'segment-1', label: 'Segment 1 : lorem ipsum', id: uniqueId('breadcrumb') },
      { path: 'segment-2', label: 'Segment 2 : lorem ipsum', id: uniqueId('breadcrumb') },
      { path: 'segment-3', label: 'Segment 3 : lorem ipsum', id: uniqueId('breadcrumb') },
      { label: 'Page Actuelle' }
    ],
    ...data
  }
};
%>

<div class="<%= prefix %>-container" >

  <%- section('Étiquette d’élément A' , null, 0) %>
  <%- include('../../../component/breadcrumb/template/ejs/breadcrumb.ejs', { breadcrumb: getData() }); %>

  <%- section('Étiquette d’élément BUTTON' , null, 0) %>
  <%- include('../../../component/breadcrumb/template/ejs/breadcrumb.ejs', { breadcrumb: getData({ markup: 'button' }) }); %>

</div>
