<%#
# paramètres Tabs

* tabs (integer, required)

* icon (string, optionnal) : nom de l'icone dans le bouton

%>
<% eval(include('../../../core/index.ejs')); %>

<%
let tabsClasses = locals.classes || [];
let tabsAttrs = locals.attributes || {};
let activeClass = '';
tabsClasses.push(prefix + '-tabs');

let id = [];

for (let i = 0; i < locals.tabs.length; i++) {
    id.push(uniqueId('tabpanel'));
}

%>
<div <%- includeClasses(tabsClasses) %> <%- includeAttrs(tabsAttrs); %> >
    <ul class="<%= prefix + '-tabs__list' %>" role="tablist" aria-label="[A modifier | nom du système d'onglet]">
        <% for (let i = 0; i < locals.tabs.length; i++) { %>
            <%- include('./tab', {...tabs[i], isActive: i === 0, id: id[i]}); %>
        <% } %>
    </ul>
    <% for (let i = 0; i < locals.tabs.length; i++) { %>
        <%- include('./tab-panel', {...tabs[i], isActive: i === 0, id: id[i]}); %>
    <% } %>
</div>
