<%#
# paramètres fieldset

* fieldset.id (string, required) : id du fieldset

* fieldset.choice (boolean, optional) : si true, la graisse du label devient normal

* fieldset.elements (array, optional) : tableau d'éléments

* fieldset.inline (boolean, optional): determine l'orientation des éléments dans le fieldset, horizontal si true

* fieldset.disabled (boolean, optional): attribut disabled du composant

* fieldset.legend (string, optional) : légende du composant

* fieldset.hint (string, optional) : message de description additionel

* fieldset.error (string, optional) : message d'erreur

* fieldset.success (string, optional) : message de succès

* fieldset.attributes (object, optional) : attributs spécifiques à rajouter sur le fieldset

* fieldset.classes (array, optional) : classes spécifiques à rajouter sur le fieldset

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let fieldset = locals.fieldset || {};
let fieldsetClasses = [...fieldset.classes || [], prefix + '-fieldset'];
let fieldsetAttrs = fieldset.attributes || {};
let legendAttrs = {};
let describedby = [];

if (fieldset.id !== undefined) legendAttrs.id = fieldset.id + '-legend';
if (fieldset.inline === true) fieldsetClasses.push(prefix + '-fieldset--inline');
if (fieldset.error !== undefined) {
    fieldsetClasses.push(prefix + '-fieldset--error');
    fieldsetAttrs['aria-labelledby'] = fieldset.id + '-legend ' + fieldset.id + '-desc-error';
    fieldsetAttrs['role'] = 'group';
}
if (fieldset.success !== undefined) {
    fieldsetClasses.push(prefix + '-fieldset--success');
    fieldsetAttrs['aria-labelledby'] = fieldset.id + '-legend ' + fieldset.id + '-desc-success';
    fieldsetAttrs['role'] = 'group';
}

if (fieldset.disabled === true) fieldsetAttrs['disabled'] = '';

if (fieldset.hint != undefined) describedby.push(fieldset.id + '-desc-hint');
if (fieldset.error != undefined) describedby.push(fieldset.id + '-desc-error');
if (fieldset.success != undefined) describedby.push(fieldset.id + '-desc-success');

const legendClasses = [`${prefix}-fieldset__legend`];
if (fieldset.choice) {
  if (fieldset.choice === 'radio') fieldsetClasses.push(`${prefix}-fieldset--radio`);
  if (fieldset.choice === 'checkbox') fieldsetClasses.push(`${prefix}-fieldset--checkbox`);
}
%>

<div class="<%= prefix %>-form-group">
  <fieldset <%- includeClasses(fieldsetClasses); %> <%- includeAttrs(fieldsetAttrs); %>>
    <legend <%- includeClasses(legendClasses); %> <%- includeAttrs(legendAttrs); %>>
      <%= fieldset.legend %>
      <% if (fieldset.hint != undefined) { %><%- include('./hint', {hint: {id: fieldset.id + '-desc-hint'}});%><% } %>
    </legend>
    <div class="<%= prefix %>-fieldset__content">
      <%
        let path;
        for (let i = 0; i < fieldset.elements.length; i++) {
            let element = fieldset.elements[i];
            element.data.group = true;
      %>
      <%- include('../../../' + element.path, element.data); %>

      <% } %>
    </div>
    <%- include('./message', {message: {id: fieldset.id, hint: fieldset.hint, error: fieldset.error, success: fieldset.success}}); %>
  </fieldset>
</div>
