<%#
# paramètres fieldset

// TODO: documentation

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let form = locals.form || {label: 'label'};
 let labelClasses = form.label.classes || [];
 labelClasses.push(prefix + '-label');
 let labelAttrs = form.label.attributes || {};
 let id = form.label.id || form.id || '';
 %>

<label <%- includeClasses(labelClasses); %> for="<%= form.id %>" <%- includeAttrs(labelAttrs); %>><%= form.label %>
  <% if (form.hint != undefined) { %><%- include('./hint');%><% } %>
</label>

