<%#
# paramètres message

* message.id (string, required) : id du fieldset référencé

* message.error (string, optional): message d'erreur

* message.success (string, optional): message de succès

%>
<% eval(include('../../../../core/index.ejs')); %>
<%
let message = locals.message || {}
%>
<% if(message.error != undefined) { %>
  <p id="<%= message.id %>-desc-error" class="<%= prefix %>-error-text" >
    <%= message.error %>
  </p>
<% } %>

<% if(message.success != undefined) { %>
  <p id="<%= message.id %>-desc-success" class="<%= prefix %>-success-text" >
    <%= message.success %>
  </p>
<% } %>
