<div class="<%= prefix %>-datatable <%= prefix %>-datatable--scrollable">
    <div class="<%= prefix %>-datatable-container">
        <div class="<%= prefix %>-datatable-content">
            <table class="<%= prefix %>-datatable-table">
                <thead class="<%= prefix %>-datatable-thead">
                    <tr>
                        <th
                            class="<%= prefix %>-datatable-cell <%= prefix %>-datatable-cell--fixed"
                            scope="col"
                        >
                            <div
                                class="fr-checkbox-group fr-checkbox-group--sm"
                            >
                                <input
                                    name="scrollable-checkboxes-small--0"
                                    id="scrollable-checkboxes-small--0"
                                    type="checkbox"
                                />
                                <label
                                    class="fr-label"
                                    for="scrollable-checkboxes-small--0"
                                >
                                </label>
                            </div>
                        </th>
                        <th class="<%= prefix %>-datatable-cell" scope="col">
                            Name
                        </th>
                        <th class="<%= prefix %>-datatable-cell" scope="col">
                            Age
                        </th>
                        <th class="<%= prefix %>-datatable-cell" scope="col">
                            Num
                        </th>
                        <th class="<%= prefix %>-datatable-cell" scope="col">
                            ID
                        </th>
                        <th class="<%= prefix %>-datatable-cell" scope="col">
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody class="<%= prefix %>-datatable-tbody">
                    <tr class="<%= prefix %>-datatable-row" data-row-key="1">
                        <th
                            class="<%= prefix %>-datatable-cell <%= prefix %>-datatable-cell--fixed"
                            scope="row"
                        >
                            <div
                                class="fr-checkbox-group fr-checkbox-group--sm"
                            >
                                <input
                                    name="scrollable-checkboxes-small--1"
                                    id="scrollable-checkboxes-small--1"
                                    type="checkbox"
                                />
                                <label
                                    class="fr-label"
                                    for="scrollable-checkboxes-small--1"
                                >
                                </label>
                            </div>
                        </th>
                        <td class="<%= prefix %>-datatable-cell">
                            <a href="#">John Brown</a>
                        </td>
                        <td class="<%= prefix %>-datatable-cell">32</td>
                        <td class="<%= prefix %>-datatable-cell">
                            0571-22098909
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            18889898989
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            New York No. 1 Lake Park
                        </td>
                    </tr>
                    <tr class="<%= prefix %>-datatable-row" data-row-key="2">
                        <th
                            class="<%= prefix %>-datatable-cell <%= prefix %>-datatable-cell--fixed"
                            scope="row"
                        >
                            <div
                                class="fr-checkbox-group fr-checkbox-group--sm"
                            >
                                <input
                                    name="scrollable-checkboxes-small--2"
                                    id="scrollable-checkboxes-small--2"
                                    type="checkbox"
                                />
                                <label
                                    class="fr-label"
                                    for="scrollable-checkboxes-small--2"
                                >
                                </label>
                            </div>
                        </th>
                        <td colspan="5" class="<%= prefix %>-datatable-cell">
                            Exemple de colspan sur toute la ligne<br />
                            Repellat natus illo omnis nulla nostrum ut
                            doloremque ipsam voluptas officiis cumque porro
                            nobis, at error ad eos, id, iste odit quae.
                        </td>
                    </tr>
                    <tr class="<%= prefix %>-datatable-row" data-row-key="3">
                        <th
                            class="<%= prefix %>-datatable-cell <%= prefix %>-datatable-cell--fixed"
                            scope="row"
                        >
                            <div
                                class="fr-checkbox-group fr-checkbox-group--sm"
                            >
                                <input
                                    name="scrollable-checkboxes-small--3"
                                    id="scrollable-checkboxes-small--3"
                                    type="checkbox"
                                />
                                <label
                                    class="fr-label"
                                    for="scrollable-checkboxes-small--3"
                                >
                                </label>
                            </div>
                        </th>
                        <td class="<%= prefix %>-datatable-cell">
                            <a href="#">Joe Black</a>
                        </td>
                        <td class="<%= prefix %>-datatable-cell">32</td>
                        <td class="<%= prefix %>-datatable-cell">
                            0575-22098909
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            18900010002
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            Sydney No. 1 Lake Park
                        </td>
                    </tr>
                    <tr class="<%= prefix %>-datatable-row" data-row-key="5">
                        <th
                            class="<%= prefix %>-datatable-cell <%= prefix %>-datatable-cell--fixed"
                            scope="row"
                        >
                            <div
                                class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                            >
                                <input
                                    name="scrollable-checkboxes-small--4"
                                    id="scrollable-checkboxes-small--4"
                                    type="checkbox"
                                />
                                <label
                                    class="<%= prefix %>-label"
                                    for="scrollable-checkboxes-small--4"
                                >
                                </label>
                            </div>
                        </th>
                        <td class="<%= prefix %>-datatable-cell">
                            <a href="#">Jake White</a>
                        </td>
                        <td class="<%= prefix %>-datatable-cell">18</td>
                        <td class="<%= prefix %>-datatable-cell">
                            0575-22098909
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            Repellat natus illo omnis nulla nostrum ut
                            doloremque ipsam voluptas officiis cumque porro
                            nobis, at error ad eos, id, iste odit quae.
                        </td>
                        <td class="<%= prefix %>-datatable-cell">
                            Dublin No. 2 Lake Park
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
