<%#
# paramètres connect

* connect.id (string) : id du bouton connect

* connect.link (object, required) paramètres du lien france connnect
  ** connect.link.href (string, required) : lien vers france connect
  ** connect.link.label (string, required) : label "Qu'est ce que france connect ?"
  ** connect.link.attributes (object, optionnal) : Attributs supplémentaire sur le lien (ex: {target:'_blank'})

* connect.type (string, optional) type du bouton connect

* connect.lang (string, optional) langue du bouton connect

* connect.disabled (boolean, optional) : si valeur true, bouton désactivé

* isStandalone (boolean, optional): si valeur true, génére la version standalone (sans dsfr)

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
const connect = locals.connect || {};
const connectClasses = [];
const connectAttrs = {};
if (connect.id) connectAttrs.id = connect.id;

connectClasses.push(prefix + '-connect');

switch(connect.type) {
  case 'plus':
    connectClasses.push(prefix + '-connect--plus');
  break;

  case 'agent':
    connectClasses.push(prefix + '-connect--agent');
  break;
}

const linkAttributes = connect.link.attributes || {};

linkAttributes.target = '_blank';
linkAttributes.rel = 'noopener';
linkAttributes.title = `${connect.link.label} - nouvelle fenêtre`;

if (!locals.isStandalone) {
%>
<div class="<%= prefix %>-connect-group">
<% } %>
<%
if (connect.disabled === true) connectAttrs.disabled = '';
%>

<button <%- includeClasses(connectClasses) %> <%- includeAttrs(connectAttrs); %> >
  <span class="<%= prefix %>-connect__login"><%- connect.login %></span>
  <span class="<%= prefix %>-connect__brand"><%- connect.brand %></span>
</button>

<% if (connect.link) { %>
  <p>
    <a href="<%= connect.link.href %>" <%- includeAttrs(linkAttributes); %>><%= connect.link.label %></a>
  </p>
<% } %>

<% if (connect.desc) { %>
  <p>
  <%- connect.desc %>
  </p>
<% } %>

<% if (!locals.isStandalone) { %>
</div>
<% } %>
