<%#
# paramètres de la mise en page


-----------
Structure du panneau
<div class="fr-layout">
  // pannel
  <div class="fr-layout__content">
    // contenu
  </div>
</div>
-----------
%>
<% eval(include('../../../../core/index.ejs')); %>

<%
const layout = locals.layout || {};
const layoutClasses = layout.classes || [];
layoutClasses.push(`${prefix}-layout`);
const layoutAttrs = layout.attributes || {};
const content = layout.content || {};
const contentClasses = content.classes || [];
contentClasses.push(`${prefix}-layout__content`);
const contentAttrs = content.attributes || {};
const panelsBefore = layout.panels.filter(panel => !panel.isAfterContent);
const panelsAfter = layout.panels.filter(panel => panel.isAfterContent);
%>

<div <%- includeClasses(layoutClasses) %> <%- includeAttrs(layoutAttrs); %>>
  <% for (panel of panelsBefore) { %>
    <%- include('panel', {panel: panel}); %>
  <% } %>

  <div <%- includeClasses(contentClasses) %> <%- includeAttrs(contentAttrs) %>><%- content.data %></div>

  <% for (panel of panelsAfter) { %>
    <%- include('panel', {panel: panel}); %>
  <% } %>
</div>
