<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include(root + 'src/core/templates/ejs/favicons/favicons.ejs', {path: '../dist/favicons/'}); %>
  <%- include(root + '/examples/styles', { required: ['core', 'schemes', 'utilities'], isList: true }); %>
  <title>Design System Développement</title>
</head>

<body class="<%= prefix %>-prose <%= prefix %>-mb-8w">
  <div class="<%= prefix %>-container">
      <div class="<%= prefix %>-grid-row">
        <h1>Design System de l‘État</h1>
        <ul class="<%= prefix %>-col-12">
          <li class="<%= prefix %>-mb-1w">
            <a href='./<%= namespace %>'><%= namespace %></a>
          </li>
        </ul>
        <ul class="<%= prefix %>-col-12">
          <%
            for (const pck of packages) {
          %>
          <li class="<%= prefix %>-mb-1w">
            <a href='./<%= pck.id %>'><%= pck.title %> (<%= pck.id %>)</a>
          </li>
          <% } %>
        </ul>
      </div>
  </div>
  <%- include(root + 'examples/scripts', { required: ['core', 'schemes', 'accordions'], isList: true }) %>
</body>
</html>
