<% eval(include(root + '/src/core/index.ejs')); %>
<!doctype html>
<html lang="fr" data-<%= prefix %>-theme >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Design System</title>

    <%- include(root + 'src/core/templates/ejs/favicons/favicons.ejs', {path: '../../dist/favicons/'}); %>

    <link href="../../dist/css/<%= namespace %>.css" rel="stylesheet" >

    <style>
        <%- include(root + 'examples/styles.css'); %>
    </style>
</head>
<body class="<%= prefix %>-mb-12w" style="margin:0; padding:0;">

    <%- include(root + 'examples/controls'); %>

    <%- include(root + 'examples/heading', { title: locals.namespace, description: undefined }); %>

    <% for (const pck of packages) { %>
        <div class="<%= prefix %>-mb-12w">
            <%- include(root + 'examples/wrapper', pck); %>
        </div>
    <% } %>

    <script type="module" src="../../dist/js/<%= namespace %>.module.js" ></script>
    <script type="text/javascript" nomodule src="../../dist/js/<%= namespace %>.nomodule.js" ></script>
    <script>
        <%- include(root + 'examples/script.js'); %>
    </script>

</body>
</html>
