<%

const dir = root + 'packages/' + id + '/example/';

let sampling = false;

function getSample (include) {
  return (title, path, data, snippet, layout, layoutData) => {
    sampling = false;
    let component = include(path, data);

    if (snippet === true) {
      sampling = true;
      let html =  include(path, { ...data, sampling: true });
      sampling = false;
      html = beautify(html);

      html = html.replace(/(class=".*)\s(")/gm, '$1$2');
      html = html.replace(/&/g, '&amp;');
      html = html.replace(/</g, '&lt;');
      html = html.replace(/>/g, '&gt;');

      const accordion = {
        label: 'Extrait de code',
        collapseId: uniqueId('snippet'),
        content: '<pre class=" language-html"><code>' + html + '</code></pre>'
    };

    snippet = include(root + 'packages/accordions/src/templates/ejs/accordion', accordion);
    }

    if (layout === undefined) layout = root + 'examples/layout';
    if (layoutData === undefined) layoutData = {};


    return include(layout, {...layoutData, title: title, component: component, snippet: snippet});
  }
}

locals.getSample = getSample;

let count = 0;

function uniqueId (module) {
  count++;
  return `${module}-${count}`;
}

locals.uniqueId = uniqueId;

const lorem = (insert) => {
  if (insert) {
    return (sampling ? 'Lorem [...] adipiscing, ' : 'Lorem ipsum dolor sit amet, consectetur adipiscing, ') + insert + (sampling ? ' incididunt [...] morbi.' : ' incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.');
  }
  return sampling ? 'Lorem [...] elit ut.' : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.'
}

locals.lorem = lorem;

if (locals.prepend === true) { %>
<%- include(root + '/packages/' + id + '/example/prepend') %>
<% } %>

<div class="<%= prefix %>-container <%= prefix %>-mt-2v">
    <a class="<%= prefix %>-link <%= prefix %>-fi-arrow-left-line <%= prefix %>-link--icon-left" href="../">Retour</a>
    <h1 class="<%= prefix %>-h1" ><%= title %> - Design System</h1>
    <p><%- description.replace(/(?:\r\n|\r|\n)/g, '<br/>') %></p>
</div>

<%
const path = dir + 'index';

if (locals.wrapper === undefined) {
%>
    <%- include(path); %>
<% } else if (wrapper === 'col-8') {
%>
    <div class="<%= prefix %>-container">
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center" >
            <div class="<%= prefix %>-col-md-8 <%= prefix %>-col-12" >
                <%- include(path); %>
            </div>
        </div>
    </div>
<% } else if (wrapper === 'container') { %>
    <div class="<%= prefix %>-container">
        <%- include(path); %>
    </div>
<% } %>
