<%#
# paramètres search

* search.id (string, required) : id de la barre de recherche

* search.placeholder (string, required) : text du placeholder de l'input

* search.size (string, optional) : modificateur de taille.
  valeurs:
  * lg : barre de recherche large

* search.input (object, optional) : paramètres de l'input

* search.button (object, optional) : paramètres du bouton de recherche

* search.attributes (object, optional) : attributs spécifiques à rajouter sur le search

* search.classes (array, optional) : classes spécifiques à rajouter sur le search

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let password = locals.password || {button:{}, input:{}}
let passwordClasses = [...password.classes || [], prefix + '-password'];
let attributes = password.attributes || {};
attributes.id = password.id;

const input = password.input || {};
input.id = password.id + '-input';
input.name = input.name || 'password';
input.classes = [prefix + '-password__input'];
input.labelClasses = [prefix + '-password__label'];
input.hint = password.hint;
input.type = 'password';
input.icon = true;
input.attributes = {
  ...input.attributes,
  'aria-required': true,
};
if (password.format) input.attributes['aria-describedby'] = password.id + '-hint';

const checkbox = password.checkbox || {};
checkbox.classes = checkbox.classes || [];
checkbox.classes.push(prefix + '-password__checkbox');
checkbox.label = checkbox.label || `${getText('show', 'password')}`;
checkbox.id = checkbox.id || password.id + '-show';
checkbox.size = 'sm';
// button.title = getText('click-to', 'password') + ' ' + getText('show', 'password') + ' ' + getText('password.long', 'password');
// checkbox.attributes = {
//   'aria-live': 'assertive',
  // 'aria-pressed': 'false',
//   'aria-controls': input.id,
//   'aria-atomic': true,
//   'onclick': `event.target.innerText = 'test';event.target.title = 'test';document.getElementById('${password.id}-input').type = 'text';`,
// }

%>

<div <%- includeClasses(passwordClasses); %> <%- includeAttrs(attributes) %>>
  <%- include('../../../input/input-base/template/ejs/input.ejs', {input: input}); %>
  <div class="<%= prefix %>-password__checkbox <%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm">
    <%- include('../../../checkbox/template/ejs/checkbox.ejs', {checkbox: checkbox}); %>
  </div>
  <% if (password.format != undefined) { %>
    <p class="<%= prefix %>-password__format <%= prefix %>-hint-text" id="<%= password.id %>-hint">
      <% if (password.format.label) { %>
        <%- password.format.label %>
        <% for (let item of password.format.items) { %>
          <span class="<%= prefix %>-<%= item.state %>-text"><%= item.label %></span>
        <% } %>
      <% } %>
    </p>
  <% } %>
</div>
