<% const sample = getSample(include); %>

<p>Regarder avec l'inspecteur les block de textes cachés grâce à ces utilitaires</p>

<%- sample('sr-only (cache visuellement mais reste présent)', './sample/sr-only', {}, true); %>

<%- sample('sr-only à partir du breakpoint LG', './sample/sr-only', { utility:{breakpoint: 'lg'}}, true); %>

<%- sample('hidden (cache complètement - display: none)', './sample/hidden', {}, true); %>

<%- sample('Cacher à partir du breakpoint LG', './sample/hidden', { utility:{breakpoint: 'lg'}}, true); %>

<%- sample('Afficher qu\'à partir du breakpoint LG', './sample/unhidden', { utility:{breakpoint: 'lg'}}, true); %>
