<%#
# paramètres navigation menu leader

* menu.leader.text (string, required) : texte du texte leader

* menu.leader.title (string, optional) : titre du texte leader

* menu.leader.link (object, optional) : paramètres du lien du texte leader (voir composant link)

%>

<% let menu = locals.menu || {}; %>
<% let leader = menu.leader || {}; %>

<div class="<%= prefix %>-col-12 <%= prefix %>-col-lg-8 <%= prefix %>-col-offset-lg-4--right <%= prefix %>-mb-4v" >
    <div class="<%= prefix %>-mega-menu__leader" >
        <%
        if (leader.title !== undefined) {
        %>
            <h4 class="<%= prefix %>-h4 <%= prefix %>-mb-2v"><%= leader.title %></h4>
        <% } %>

        <p class="<%= prefix %>-hidden <%= prefix %>-displayed-lg"><%- leader.text %></p>

        <%
        if (leader.link !== undefined) {
        %>
            <%- include('../../../link/example/sample/link-default', {link: { ...leader.link, alignOnContent: true}}); %>
        <% } %>
    </div>
</div>
