<% eval(include('../../../../core/index.ejs'));

let datatable = locals.datatable || {};
let classes = datatable.classes || [];

const attributes = datatable.attributes || {};
const datatableId = datatable.id || uniqueId('datatable');
let datatableCaptionId;
attributes.id = datatableId;

const table = datatable.table || [[]];
table.id = `${datatableId}-table`;

if (datatable.caption !== undefined) {
    datatableCaptionId = `${datatableId}-caption`;
    table.attributes = {
        'aria-labeledby': datatableCaptionId,
    };
}

classes.push(prefix + '-datatable');
%>

<div <%- includeClasses(classes) %> <%- includeAttrs(attributes) %>>
    <% if (datatable.caption !== undefined) { %>
        <div id="<%= datatableCaptionId %>" class="<%= prefix %>-datatable-caption"><%= datatable.caption %></div>
    <% } %>
    <div class="<%= prefix %>-datatable-container">
        <div class="<%= prefix %>-datatable-content">
            <%- include('./table.ejs', {table: table}); %>
        </div>
    </div>
</div>
