<%
const classes = locals.classes || [];
const attrs = locals.attrs || {};
const tag = locals.tag || 'a';

classes.push(prefix + '-pagination__link');

if (locals.active) attrs['aria-current'] = 'page';

if (locals.type) classes.push(prefix + '-pagination__link--' + type);

if (locals.href !== undefined && !locals.disabled && tag === 'a' && !locals.active) attrs.href = href;
if (locals.title) attrs.title = title;

switch(true) {
    case locals.hasLgLabel:
        classes.push(prefix + '-pagination__link--lg-label');
      break;

    case locals.hasLabel:
        classes.push(prefix + '-pagination__link--label');
        break;
}

if (locals.displayedLg === true) classes.push(prefix + '-displayed-lg');
if (locals.disabled) {
  switch(tag) {
      case 'input':
      case 'button':
        attrs[disabled] = '';
          break;
    }
}
%>

<li>
    <<%= tag %> <%- includeClasses(classes) %> <%- includeAttrs(attrs) %>>
        <% if (locals.label !== undefined ) { %><%- label %><% } %>
    </<%= tag %>>
</li>
