<%
const search = locals.search || false;
%>

<% if (locals.title !== undefined && locals.title.length) { %>
    <h4><%= title %></h4>
<% } %>
<div class="<%= prefix %>-mb-6v" >
  <%- include('../../component/header/example/sample/header.ejs', {header: { logo:{ title: 'Intitulé<br>officiel'}, service:true, links:true, search: search, navigation: true }}, true); %>

  <% if (locals.breadcrumb !== false) { %>
    <% const breadcrumb = {
      id: uniqueId('breadcrumb'),
      segments: [
        { path: '', label: 'Accueil' },
        { path: 'segment-1', label: 'Nom de la page' },
        { path: 'segment-2', label: 'Nom de la page' },
        { label: 'Page Actuelle' }
      ]
    }
    %>
    <div class="<%= prefix %>-container" >
      <%- include('../../component/breadcrumb/template/ejs/breadcrumb', { breadcrumb: breadcrumb }, true); %>
    </div>
  <% } %>

  <%- component %>
  <%- include('../../component/footer/example/sample/footer-minimal.ejs'); %>
</div>
<% if (locals.snippet !== undefined) { %>
    <div class="<%= prefix %>-mb-12v" >
        <%- snippet %>
    </div>
<% } %>
