<%#
# paramètres footer bottom

* bottom.copyright (string, required) : texte de copyright

* bottom.links (array, optional) : tableau de liens
  ** bottom.links[].tag (string, optional) : tag du lien
  ** bottom.links[].label (string, required) : label du lien
  ** bottom.links[].classes (array, required) : classes supplémentaires du lien
  ** bottom.links[].attributes (array, required) : attributs supplémentaires du lien

%>
<% eval(include('../../../../core/index.ejs')); %>

<% let bottom = locals.bottom || {} %>
<% let links = bottom.links || [] %>
<ul class="<%= prefix %>-footer__bottom-list">
  <%
    for (let i = 0; i < links.length; i++) {
  %>
    <li class="<%= prefix %>-footer__bottom-item">
      <%
        let classes = links[i].classes || [];
        let tag = links[i].tag || 'a';
        let attributes = links[i].attributes || {};
        if (tag==='a') attributes["href"] = '#';
        classes.push(prefix + '-footer__bottom-link');
      %>
      <<%= tag %> <%- includeClasses(classes) %> <%- includeAttrs(attributes) %>><%- links[i].label %></<%= tag %>>
    </li>
  <% } %>
</ul>
<div class="<%= prefix %>-footer__bottom-copy">
    <p><%- bottom.copyright %></p>
</div>
