<div class="<%= prefix %>-footer__brand <%= prefix %>-enlarge-link" >
	<% if (!locals.operator) { %>
		<a href="/" title="Retour à l’accueil">
	<% } %>
			<%- include( '../../../logo/template/ejs/logo', locals.brand.logo); %>
	<% if (!locals.operator) { %>
		</a>
	<% } else { %>
		<a class="<%= prefix %>-footer__brand-link" href="/" title="Retour à l’accueil">
			<%- include('../../../../core/template/ejs/medias/responsive-img.ejs', { ...locals.operator, classes: [prefix + '-footer__logo']}); %>
		</a>
	<% } %>
</div>

