<%#
# paramètres footer brand

* brand.logo (object, optional) : Paramètres du logo bloc marque - voir composant logo src/component/logo/template/ejs/logo.ejs

* brand.operator (object, optional) : Paramètres du logo opérateur - voir src/core/template/ejs/media/img.ejs

%>
<% let brand = locals.brand || {} %>

<div class="<%= prefix %>-footer__brand <%= prefix %>-enlarge-link" >
	<% if (!brand.operator) { %>
		<a href="/" title="Retour à l’accueil">
	<% } %>
			<%- include( '../../../logo/template/ejs/logo', {logo: brand.logo}); %>
	<% if (!brand.operator) { %>
		</a>
	<% } else { %>
		<a class="<%= prefix %>-footer__brand-link" href="/" title="Retour à l’accueil">
			<%- include('../../../../core/template/ejs/media/responsive-img.ejs', {media: { ...brand.operator, classes: [prefix + '-footer__logo']}}); %>
		</a>
	<% } %>
</div>

