<%#
# paramètres footer content

* content.desc (string, required) : Contenu text/html du bloc de contenu

* content.links (array, required) : Tableau de liens
  ** content.links[].label (string, required) : label du lien

%>
<% let content = locals.content || {} %>
<% let links = content.links || [] %>

<div class="<%= prefix %>-footer__content" >
	<p class="<%= prefix %>-footer__content-desc"><%- content.desc %></p>
	<ul class="<%= prefix %>-footer__content-list">
		<%
			for (let i = 0; i < links.length; i++) {
		%>
		<li class="<%= prefix %>-footer__content-item">
			<a class="<%= prefix %>-footer__content-link" href="https://<%= links[i].label %>"><%= links[i].label %></a>
		</li>
		<% } %>
	</ul>
</div>
