<%#
# paramètres footer partners

* partners (object, required) : Paramètres du template
  ** partners.title (string, required) : Titre du bloc partenaire
  ** partners.mainPartner (object, required) : Paramètre de l'image du partenaire principal - voir src/core/template/ejs/media/img.ejs
  ** partners.subPartners (array, required) : Tableau de paramètre des images des partenaires secondaires - voir src/core/template/ejs/media/img.ejs

%>
<% 
  let partners = locals.partners || {} 
  const attributes = partners.attributes || {};
  attributes.id = attributes.id || uniqueId('footer__partners-link');
%>

<h2 class="<%= prefix %>-footer__partners-title"><%- partners.title %></h2>
<div class="<%= prefix %>-footer__partners-logos">
  <% if (partners.mainPartner) { %>
    <div class="<%= prefix %>-footer__partners-main">
      <a <%- includeAttrs(attributes) %> class="<%= prefix %>-footer__partners-link" href="<%- partners.href %>">
        <%- include('../../../../core/template/ejs/media/img.ejs',  {media: {...partners.mainPartner, classes: [prefix + '-footer__logo']}}); %>
      </a>
    </div>
  <% } %>

  <% if (partners.subPartners && partners.subPartners.length) { %>
    <div class="<%= prefix %>-footer__partners-sub">
      <ul>
        <%
          for (let i = 0; i < partners.subPartners.length; i++) {
            const attributes = {};
            attributes.id = uniqueId('footer__subpartners-link');
        %>
          <li>
            <a <%- includeAttrs(attributes) %> class="<%= prefix %>-footer__partners-link" href="<%- partners.href %>">
              <%- include('../../../../core/template/ejs/media/img.ejs', {media: {...partners.subPartners[i], classes: [prefix + '-footer__logo']}}); %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  <% } %>
</div>
