<%#
# paramètres footer partners

* partners (object, required) : Paramètres du template
  ** partners.title (string, required) : Titre du bloc partenaire
  ** partners.mainPartner (object, required) : Paramètre de l'image du partenaire principal - voir src/core/template/ejs/media/img.ejs
  ** partners.subPartners (array, required) : Tableau de paramètre des images des partenaires secondaires - voir src/core/template/ejs/media/img.ejs

%>
<% let partners = locals.partners || {} %>

<h4 class="<%= prefix %>-footer__partners-title"><%- partners.title %></h4>
<div class="<%= prefix %>-footer__partners-logos">
  <div class="<%= prefix %>-footer__partners-main">
    <a class="footer__partners-link" href="#">
      <%- include('../../../../core/template/ejs/media/img.ejs',  {media: {...partners.mainPartner, classes: [prefix + '-footer__logo']}}); %>
    </a>
  </div>
  <div class="<%= prefix %>-footer__partners-sub">
    <ul>
      <%
      for (let i = 0; i < partners.subPartners.length; i++) {
      %>
      <li>
        <a class="<%= prefix %>-footer__partners-link" href="#">
          <%- include('../../../../core/template/ejs/media/img.ejs', {media: {...partners.subPartners[i], classes: [prefix + '-footer__logo']}}); %>
        </a>
      </li>
    <% } %>
    </ul>
  </div>
</div>
