<%#
# paramètres de la modole

* id (string, required) : id de la modale

* title (string, required) : titre de la modale

* body (string, required) : contenu de la modale

* footer (string, optionnal) : contenu du footer de la modale, généralement des boutons

* size (string, optionnal) : modificateur de taille
  valeurs :
  * sm : modale étroite
  * lg : modale large

  // TODO: revoir le template pour remettre les éléments de sample dans sample (footer en array d'objet de config de buttons par exemple)

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let modalClasses = locals.classes || [];
 modalClasses.push(`${prefix}-modal`);

 let modalAttrs = locals.attributes || {};

 const closeButton = locals.closeButton || {};
 closeButton.closeId = id;
 if (closeButton.size === undefined) closeButton.size = undefined;
 if (closeButton.label === undefined) closeButton.label = undefined;

 const gridClasses = [`${prefix}-col-12`];

 switch(locals.size) {
    case 'sm':
        gridClasses.push(`${prefix}-col-md-6`, `${prefix}-col-lg-4`);
        break;

    case 'lg':
        gridClasses.push(`${prefix}-col-md-8`);
        break;

    default:
        gridClasses.push(`${prefix}-col-md-6`);
 }

 const titleId = id + '-title';

  modalAttrs.role = 'dialog';
  modalAttrs['aria-labelledby'] = titleId;

  if (locals.top) modalClasses.push(`${prefix}-modal--top`);

 %>

<dialog id="<%= id %>" <%- includeClasses(modalClasses) %> <%- includeAttrs(modalAttrs); %> >
    <div class="<%= prefix %>-container <%= prefix %>-container--fluid <%= prefix %>-container-md">
        <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--center">
            <div <%- includeClasses(gridClasses); %>>
                <div class="<%= prefix %>-modal__body">
                    <div class="<%= prefix %>-modal__header">
                        <%- include('../../../links/templates/ejs/link-close', closeButton )%>
                    </div>
                    <div class="<%= prefix %>-modal__content">
                        <h1 id="<%= titleId %>" class="<%= prefix %>-modal__title">
                            <% if (locals.titleIcon !== undefined) { %>
                                <span class="<%= prefix %>-fi-<%= locals.titleIcon %> <%= prefix %>-fi--lg"></span>
                            <% } %>
                            <%= locals.title %>
                        </h1>
                        <%- include(body) -%>
                    </div>
                    <% if(locals.footer !== undefined) { %>
                        <div class="<%= prefix %>-modal__footer">
                            <%- include(locals.footer )%>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</dialog>
