<%#
# paramètres share

* title (string, required) : titre du bloc de partage

* links (array, required) : Tableau de liens de partage (title, url, icon)

%>
<%
eval(include('../../../core/index.ejs'));
let classes = locals.classes || [];
let shareClasses = [prefix + '-share'];
%>

<div <%- includeClasses(shareClasses); %> >
    <p class="<%= prefix %>-share__title"><%- share.title %></p>
    <ul class="<%= prefix %>-share__group">
        <% for (let i=0; i < share.links.length; i++) { %>
            <li>
                <%- include('./share-link', { attributes: {title: share.links[i].title}, href: share.links[i].url, blank: true, label: share.links[i].label, classes: [prefix + '-share__link--' + share.links[i].label]}); %>
            </li>
        <% } %>
    </ul>
    <% if (locals.inactive) { %>
        <p class="<%= prefix %>-share__text"><%- share.text %></p>
    <% } %>
</div>
