<%#
# paramètres share

* share.title (string, required) : titre du bloc de partage

* share.links (array, required) : Tableau de liens de partage (title, url, icon)

* share.classes (array, optional) : Classes sur le bloc share
%>
<%
eval(include('../../../core/index.ejs'));
let shareClasses = share.classes || [];
shareClasses = [prefix + '-share'];
let dataLink = {};
%>

<div <%- includeClasses(shareClasses); %> >
    <p class="<%= prefix %>-share__title"><%- share.title %></p>
    <ul class="<%= prefix %>-share__group">
        <% for (let i=0; i < share.links.length; i++) { %>
            <li>
                <%
                dataLink= {}
                dataLink.attributes = {};
                if (share.links[i].title) {
                    dataLink.attributes.title = share.links[i].title;
                    dataLink.label = share.links[i].title;
                }
                if (share.links[i].blank) dataLink.blank = share.links[i].blank;
                if (share.links[i].url) dataLink.href = share.links[i].url;
                if (share.links[i].tag) dataLink.tag = share.links[i].tag;
                if (share.links[i].onclick) dataLink.attributes.onclick = share.links[i].onclick;
                dataLink.classes = [prefix + '-share__link--' + share.links[i].label];
                %>
                <%- include('./share-link', dataLink); %>
            </li>
        <% } %>
    </ul>
    <% if (locals.inactive) { %>
        <p class="<%= prefix %>-share__text"><%- share.text %></p>
    <% } %>
</div>
