<%#
# paramètres share

* title (string, required) : titre du bloc de partage

* links (array, required) : Tableau de liens de partage (title, url, icon)

%>
<% eval(include('../../../core/index.ejs'));

let classes = locals.classes || [];
let shareClasses = [prefix + '-share'];

%>

<div <%- includeClasses(shareClasses); %> >
    <p class="<%= prefix %>-mb-3v <%= prefix %>-mb-3v"><%- share.title %></p>
    <ul class="<%= prefix %>-links-group">
        <% for (let i=0; i < share.links.length; i++) { %>
            <li>
                <%- include('../../../links/templates/ejs/link', { place: "only", attributes: {title: share.links[i].title}, href: share.links[i].url, blank: true, label: share.links[i].label, classes: [prefix + '-share--' + share.links[i].label] }); %>
            </li>
        <% } %>
    </ul>
</div>
