<%#
# paramètres share

* share.title (string, required) : titre du bloc de partage

* share.links (array, required) : Tableau de liens de partage (name, label, attributes, icon)

* share.classes (array, optional) : Classes sur le bloc share

%>
<%
eval(include('../../../core/index.ejs'));
let shareClasses = share.classes || [];
shareClasses = [prefix + '-share'];
let dataLink = {};
%>

<div <%- includeClasses(shareClasses); %> >
    <p class="<%= prefix %>-share__title"><%- share.title %></p>
    <ul class="<%= prefix %>-share__group">
        <% for (let i=0; i < share.links.length; i++) { %>
            <li>
                <%- include('./share-link', {shareLink: share.links[i]}); %>
            </li>
        <% } %>
    </ul>
    <% if (locals.inactive) { %>
        <p class="<%= prefix %>-share__text"><%- share.text %></p>
    <% } %>
</div>
