<% const sample = getSample(include); %>

<div class="<%= prefix %>-container" >
  <div class="<%= prefix%>-grid-row <%= prefix%>-grid-row--center <%= prefix%>-grid-row--gutters">
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-6">
      <%- sample('Média image', '../../../../component/content/example/sample/media-img'); %>
  </div>
</div>
