<%#
# paramètres accordion

* label (string, required) : label du bouton

// TODO: documentation

%>

<% eval(include('../../../core/index.ejs')); %>

<section class="<%= prefix %>-accordion">
  <h3 class="<%= prefix %>-accordion__title">
    <button class="<%= prefix %>-accordion__btn" aria-expanded="false" aria-controls="<%= collapseId %>" ><%- label %></button>
  </h3>
  <div class="<%= prefix %>-collapse" id="<%= collapseId %>">
    <% if (locals.content !== undefined) { %>
      <%- content %>
    <% } %>
  </div>
</section>
