
<%
let id = prefix + '-consent-services';

let elementAccept = { label : 'Accepter'};
let elementRefuse = { label : 'Refuser'};

let header = {
  desc: 'Préférences pour tous les services. <a href="">Données personnelles et cookies</a>',
  radios: [
    {name : id, element: {label: 'Tout accepter'},  id: id + '-accept'},
    { name : id, element: {label: 'Tout refuser'}, id: id + '-refuse' }
  ]
}

let purposes = [
  {
    title: 'Cookies obligatoires',
    desc: 'Ce site utilise des cookies nécessaires à son bon fonctionnement qui ne peuvent pas être désactivés.',
    radios: [
      { name : id + '-mandatory', element: {...elementAccept},  id: id + '-mandatory-accept'},
      { disabled: true, name : id + '-mandatory', element: {...elementRefuse}, id: id + '-mandatory-refuse' }
    ]
  },
  {
    radios: [
      { name : id + '-api', element: {...elementAccept},  id: id + '-api-accept'},
      { name : id + '-api', element: {...elementRefuse}, id: id + '-api-refuse' }
    ],
    services: [
      {
        radios: [
          { name : id + '-api', element: {...elementAccept},  id: id + '-api-accept'},
          { name : id + '-api', element: {...elementRefuse}, id: id + '-api-refuse' }
        ]
      }
    ]
  },
]
%>


<div class="<%= prefix %>-consent-manager">
  <div class="<%= prefix %>-consent-service <%= prefix %>-consent-manager__header">
    <div class="<%= prefix %>-consent-service__desc"><%- header.desc %></div>
    <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
      <%- include('../../../../radios/templates/ejs/radio-group', {...header.radios[0]} ) %>
      <%- include('../../../../radios/templates/ejs/radio-group', {...header.radios[1]} ) %>
    </div>
  </div>

  <div class="<%= prefix %>-consent-service">
    <div class="<%= prefix %>-consent-service__container">
      <h6 class="<%= prefix %>-consent-service__title"><%- purposes[0].title %></h6>
      <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
        <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[0].radios[0]} ) %>
        <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[0].radios[1]} ) %>
      </div>
      <div class="<%= prefix %>-consent-service__desc"><%- purposes[0].desc %></div>
    </div>
  </div>

  <div class="<%= prefix %>-consent-service">
    <div class="<%= prefix %>-consent-service__container">
      <h6 class="<%= prefix %>-consent-service__title">Nom de la finalité</h6>
      <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
        <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[0]} ) %>
        <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[1]} ) %>
      </div>
      <div class="<%= prefix %>-consent-service__desc">Description optionnelle de la finalité, lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in suscipit nulla, et pulvinar velit.</div>
    </div>

    <div class="<%= prefix %>-consent-service__collapse">
      <button class="<%= prefix %>-consent-service__collapse-btn" aria-expanded="false" aria-controls="services-api"> Voir plus de détails</button>
    </div>
    <!-- sous finalités -->
    <div class="<%= prefix %>-consent-services <%= prefix %>-collapse" id="services-api">
      <div class="<%= prefix %>-consent-service">
        <div class="<%= prefix %>-consent-service__container">
          <h6 class="<%= prefix %>-consent-service__title">Nom de la finalité</h6>
          <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[0]} ) %>
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[1]} ) %>
          </div>
        </div>
      </div>

      <div class="<%= prefix %>-consent-service">
        <div class="<%= prefix %>-consent-service__container">
          <h6 class="<%= prefix %>-consent-service__title">Nom de la finalité</h6>
          <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[0]} ) %>
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[1]} ) %>
          </div>
        </div>
      </div>

      <div class="<%= prefix %>-consent-service">
        <div class="<%= prefix %>-consent-service__container">
          <h6 class="<%= prefix %>-consent-service__title">Nom de la finalité</h6>
          <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[0]} ) %>
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[1]} ) %>
          </div>
          <div class="<%= prefix %>-consent-service__desc">3 cookies utilsés.</div>
        </div>
      </div>

      <div class="<%= prefix %>-consent-service">
        <div class="<%= prefix %>-consent-service__container">
          <h6 class="<%= prefix %>-consent-service__title">Nom de la finalité</h6>
          <div class="<%= prefix %>-consent-service__radios <%= prefix %>-fieldset--inline">
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[0]} ) %>
            <%- include('../../../../radios/templates/ejs/radio-group', {...purposes[1].radios[1]} ) %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>