<div id="<%= prefix %>-switch-theme" class="<%= prefix %>-form-group <%= prefix %>-switch-theme">
  <fieldset class="<%= prefix %>-fieldset">
      <legend class="<%= prefix %>-fieldset__legend" >Choisissez un thème pour personnaliser l’apparence du site.</legend>
      <div class="<%= prefix %>-fieldset__content">
          <div class="<%= prefix %>-radio-group <%= prefix %>-radio-rich">
              <input type="radio" id="<%= prefix %>-radios-theme-light" name="<%= prefix %>-radios-theme" value="light">
              <label class="<%= prefix %>-label" for="<%= prefix %>-radios-theme-light">Thème clair
              </label>
          </div>
          <div class="<%= prefix %>-radio-group <%= prefix %>-radio-rich">
              <input type="radio" id="<%= prefix %>-radios-theme-dark" name="<%= prefix %>-radios-theme" value="dark" >
              <label class="<%= prefix %>-label" for="<%= prefix %>-radios-theme-dark">Thème sombre
              </label>
          </div>
      </div>
  </fieldset>
</div>
