<%#

Paramètres de sidemenu item

* sidemenuItem.collapsable (booolean, optional) : si true, l'élement est refermable

* sidemenuItem.collapseId (string, required) : id du collapse

* sidemenuItem.items (array, optional) : tableau de sous éléments

%>

<% 
let sidemenuItem = locals.sidemenuItem || {}; 
const sidemenuClasses = [];
const sidemenuAttrs = {};
%>

<% if (sidemenuItem.collapsable) { %>
    <%- include('./btn', {sidemenuBtn: sidemenuItem}); %>
    <%
        sidemenuClasses.push(`${prefix}-collapse`);
        sidemenuAttrs.id = sidemenuItem.collapseId;
    %>
<% } else { %>
    <%- include('./link', {sidemenuItem: sidemenuItem}); %>
<% } %>

<div <%- includeClasses(sidemenuClasses) %> <%- includeAttrs(sidemenuAttrs)%>>
    <%- include('./list', {sidemenuItems: sidemenuItem.items}); %>
</div>
