<%#

Paramètres de sidemenu item

* sidemenuItem.collapsable (booolean, optional) : si true, l'élement est refermable

* sidemenuItem.collapseId (string, required) : id du collapse

* sidemenuItem.items (array, optional) : tableau de sous éléments

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
let sidemenuItem = locals.sidemenuItem || {};
const sidemenuClasses = [];
const sidemenuAttrs = {};
%>

<% if (sidemenuItem.collapsable) { %>
  <%- include('./sidemenu-btn', {sidemenuBtn: sidemenuItem}); %>
  <%
    sidemenuClasses.push(`${prefix}-collapse`);
    sidemenuAttrs.id = sidemenuItem.collapseId;
  %>
<% } else { %>
  <%- include('./sidemenu-link.ejs', {sidemenuItem: sidemenuItem}); %>
<% } %>

<div <%- includeClasses(sidemenuClasses) %> <%- includeAttrs(sidemenuAttrs)%>>
  <%- include('./sidemenu-list.ejs', {sidemenuItems: sidemenuItem.items}); %>
</div>
