<%#
# paramètres sidemenu

* sidemenu.items (array, required) : tableau d'elements

* sidemenu.modifier (string, optional) : modifier de style de sidemenu ('full-border', 'sticky-full-height', 'sticky', 'right')

* sidemenu.collapseId : id du collapse (mobile)

%>
<% let sidemenu = locals.sidemenu || {}; %>
<% eval(include('../../../../core/index.ejs')); %>

<nav class="<%= prefix %>-sidemenu<% if(sidemenu.modifier){%> <%= prefix %>-sidemenu--<%- sidemenu.modifier %><%}%>" role="navigation" aria-label="Menu latéral">
	<div class="<%= prefix %>-sidemenu__inner">
		<button class="<%= prefix %>-sidemenu__btn" aria-controls="<%= sidemenu.collapseId %>" aria-expanded="false">Dans cette rubrique</button>
		<div class="<%= prefix %>-collapse" id="<%- sidemenu.collapseId %>">
			<div class="<%= prefix %>-sidemenu__title">Titre de rubrique</div>
			<%- include('./list', {sidemenuItems: sidemenu.items}); %>
		</div>
	</div>
</nav>
