<%
 const h2 = locals.h2 || {};
 %>

<div class="<%= prefix %>-container <%= prefix %>-mt-8v <%= prefix %>-mt-md-14v">
  <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--gutters <%= prefix %>-grid-row--center">
    <div class="<%= prefix %>-col-12 <%= prefix %>-col-md-10 <%= prefix %>-col-lg-8">
      <% if (h2.title) { %>
        <h2><%= h2.title %></h2>
      <% } %>

      <% if (h2.chapo) { %>
        <p class="<%= prefix %>-text--lead"><%= h2.chapo %></p>
      <% } %>
    </div>
  </div>
</div>
