<%
const fullscreen = getText('button.fullscreen', 'transcription');
let modalId = prefix + '-transcription__modal-' + transcription.id;
%> 

<div class="<%= prefix %>-transcription__footer">
  <div class="<%= prefix %>-transcription__actions-group">
    <button class="<%= prefix %>-btn <%= prefix %>-btn--fullscreen" aria-controls="<%= modalId %>" data-fr-opened="false" title="<%= transcription.fullscreen %>">
      <%= fullscreen %>
    </button>
  </div>
</div>
