<div class="<%= prefix %>-datagrid" role="table">
    <div class="<%= prefix %>-datagrid-thead" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row">
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Ticket ID</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-th <%= prefix %>-datagrid-th--sm"
                role="columnheader"
            >
                <span class="<%= prefix %>-datagrid-cell">Team</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-th <%= prefix %>-datagrid-th--lg"
                role="columnheader"
            >
                <span class="<%= prefix %>-datagrid-cell">Contenu</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Status</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-th <%= prefix %>-datagrid-td--actionable"
                role="cell"
            ></div>
        </div>
    </div>
    <div class="<%= prefix %>-datagrid-tbody" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="0">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960895346960</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--sm"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">GSCM</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--lg"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellat natus illo omnis nulla nostrum ut doloremque ipsam
                    voluptas officiis cumque porro nobis, at error ad eos, id,
                    iste odit quae.</span
                >
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--actionable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-more-fill <%= prefix %>-btn--tertiary <%= prefix %>-btn--sm"
                    title="Action"
                >
                    Action
                </button>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="1">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">825391654</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--sm"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--lg"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellat natus illo omnis nulla nostrum ut doloremque ipsam
                    voluptas officiis cumque porro nobis, at error ad eos, id,
                    iste odit quae.</span
                >
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Warning</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--actionable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-more-fill <%= prefix %>-btn--tertiary <%= prefix %>-btn--sm"
                    title="Action"
                >
                    Action
                </button>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="2">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--sm"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--lg"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Repellat natus.</span
                >
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--actionable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-more-fill <%= prefix %>-btn--tertiary <%= prefix %>-btn--sm"
                    title="Action"
                >
                    Action
                </button>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="3">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">644097411</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--sm"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">APEX</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--lg"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >Lorem ipsum dolor.</span
                >
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Pending</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--actionable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-more-fill <%= prefix %>-btn--tertiary <%= prefix %>-btn--sm"
                    title="Action"
                >
                    Action
                </button>
            </div>
        </div>
    </div>
</div>
