<div
    class="<%= prefix %>-datagrid <%= prefix %>-datagrid--fixed-height"
    role="table"
>
    <div class="<%= prefix %>-datagrid-thead" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row">
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Ticket ID</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Team</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Date</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Status</span>
            </div>
        </div>
    </div>
    <div class="<%= prefix %>-datagrid-tbody" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="0">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">101249662</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">GSCM</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/04/2024</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="1">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">825391654</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">01/05/2024</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Warning</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="2">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="3">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">644097411</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">APEX</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Pending</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="4">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="5">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">644097411</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">APEX</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Pending</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="6">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="7">
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">644097411</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">APEX</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">02/05/2023</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Pending</span>
            </div>
        </div>
    </div>
</div>
