<div class="<%= prefix %>-datagrid" role="table">
    <div class="<%= prefix %>-datagrid-thead" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row">
            <div
                class="<%= prefix %>-datagrid-th <%= prefix %>-datagrid-td--expandable"
                role="cell"
            ></div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Ticket ID</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Team</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Date</span>
            </div>
            <div class="<%= prefix %>-datagrid-th" role="columnheader">
                <span class="<%= prefix %>-datagrid-cell">Status</span>
            </div>
        </div>
    </div>
    <div class="<%= prefix %>-datagrid-tbody" role="rowgroup">
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="0">
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-arrow-down-s-line <%= prefix %>-btn--tertiary-no-outline <%= prefix %>-btn--sm"
                    title="Déplier"
                >
                    Déplier
                </button>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">
                    <svg
                        aria-hidden="true"
                        class="<%= prefix %>-artwork"
                        viewBox="0 0 80 80"
                        width="80px"
                        height="80px"
                    >
                        <use
                            class="<%= prefix %>-artwork-decorative"
                            href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-decorative"
                        ></use>
                        <use
                            class="<%= prefix %>-artwork-minor"
                            href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-minor"
                        ></use>
                        <use
                            class="<%= prefix %>-artwork-major"
                            href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-major"
                        ></use>
                    </svg>
                </span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--rowspan <%= prefix %>-datagrid-td--rowspan-2"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">GSCM</span>
                <span class="<%= prefix %>-datagrid-cell"
                    >Repellat natus illo omnis nulla nostrum ut doloremque ipsam
                    voluptas officiis cumque porro nobis, at error ad eos, id,
                    iste odit quae.</span
                >
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--rowspan <%= prefix %>-datagrid-td--rowspan-3"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">01/05/2024</span>
                <span class="<%= prefix %>-datagrid-cell">07/11/2024</span>
                <span class="<%= prefix %>-datagrid-cell">06/10/2024</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--rowspan  <%= prefix %>-datagrid-td--rowspan-2"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell">
                    <div class="<%= prefix %>-toggle">
                        <input
                            type="checkbox"
                            class="<%= prefix %>-toggle__input"
                            id="toggle-4402"
                        />
                        <label
                            class="<%= prefix %>-toggle__label"
                            for="toggle-4402"
                        ></label>
                    </div>
                </span>
                <span class="<%= prefix %>-datagrid-cell">Error</span>
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="1">
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-arrow-up-s-line <%= prefix %>-btn--tertiary-no-outline <%= prefix %>-btn--sm"
                    title="Déplier"
                >
                    Déplier
                </button>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">825391654</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Dev Ex</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">01/05/2024</span>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">Warning</span>
            </div>
        </div>
        <div
            class="<%= prefix %>-datagrid-tr <%= prefix %>-datagrid-tr--expandable <%= prefix %>-datagrid-tr--expanded"
            role="row"
            data-row="1"
        >
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable"
            ></div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable-content"
            >
                Exemple d'une ligne dépliée étendue sur toute la largeur :
                <br />Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Repellat natus illo omnis nulla nostrum ut doloremque ipsam
                voluptas officiis cumque porro nobis, at error ad eos, id, iste
                odit quae.
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="2">
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-arrow-down-s-line <%= prefix %>-btn--tertiary-no-outline <%= prefix %>-btn--sm"
                    title="Déplier"
                >
                    Déplier
                </button>
            </div>
            <div class="<%= prefix %>-datagrid-td" role="cell">
                <span class="<%= prefix %>-datagrid-cell">895346960</span>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--cellspan-3"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >3 Cellules fusionnées</span
                >
            </div>
        </div>
        <div class="<%= prefix %>-datagrid-tr" role="row" data-row="3">
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--expandable"
                role="cell"
            >
                <button
                    class="<%= prefix %>-btn <%= prefix %>-icon-arrow-down-s-line <%= prefix %>-btn--tertiary-no-outline <%= prefix %>-btn--sm"
                    title="Déplier"
                >
                    Déplier
                </button>
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--cellspan-2"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >2 Cellules fusionnées</span
                >
            </div>
            <div
                class="<%= prefix %>-datagrid-td <%= prefix %>-datagrid-td--cellspan-2"
                role="cell"
            >
                <span class="<%= prefix %>-datagrid-cell"
                    >2 autres Cellules fusionnées</span
                >
            </div>
        </div>
    </div>
</div>
