<% const sample = getSample(include); %>

<%- include('../../header/example/samples/header.ejs', { service:true, links:true, search: true, searchId:'header-search', navigation: true, navigationId:'header-navigation' }); %>

<div class="fr-container">
  <%- include('../../breadcrumb/example/samples/breadcrumb.ejs'); %>

  <div class="fr-grid-row fr-grid-row--center">
    <div class="fr-col-md-8 fr-col-12" id="content">

      <h1>Titre de la page</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo. <span class="fr-hint-text">lorem ipsum</span></p>

      <h1 class="fr-h1">lorem ipsum dolor</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h2 class="fr-h2">lorem ipsum dolor</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h3 class="fr-h3">lorem ipsum dolor</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h4 class="fr-h4">lorem ipsum dolor</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>

      <h2 class="fr-h2">lorem ipsum dolor</h4>
      <p class="fr-text--lg">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h3 class="fr-h3">lorem ipsum dolor</h4>
      <p class="fr-text--sm">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h4 class="fr-h4">lorem ipsum dolor</h4>
      <p class="fr-text--xs">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>

      <p class="fr-text--lg">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <p class="fr-text--sm">Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <h4 class="fr-h3">h4 style h3</h4>
      <h4 class="fr-h2">h4 style h2</h4>
      <ul>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis temporibus eos aliquam. Quidem non blanditiis repellat numquam quis itaque? </li>
        <li>Eligendi id ullam est deleniti voluptates saepe unde commodi dolor omnis?</li>
        <li>Eligendi id ullam est deleniti voluptates saepe unde commodi dolor omnis?</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <ol>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis temporibus eos aliquam. Quidem non blanditiis repellat numquam quis itaque? </li>
        <li>Eligendi id ullam est deleniti voluptates saepe unde commodi dolor omnis?</li>
        <li>Eligendi id ullam est deleniti voluptates saepe unde commodi dolor omnis?</li>
      </ol>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et. Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <dl>
        <dt>Coffee</dt>
        <dd>Black hot drink</dd>
        <dt>Milk</dt>
        <dd>White cold drink</dd>
      </dl>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. <br>Vitae sapien pellentesque habitant morbi tristique senectus et. <br>Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. <br>Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>
      <hr>
      <p>p entre 2 hr</p>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing, incididunt, ut labore et dolore magna aliqua. <br>Vitae sapien pellentesque habitant morbi tristique senectus et. <br>Diam maecenas sed enim ut. Accumsan lacus vel facilisis volutpat est. Ut aliquam purus sit amet luctus. <br>Lorem ipsum dolor sit amet consectetur adipiscing elit ut.</p>

      <h3>Possibilités wysiwyg</h3>
      <p>Lorem ipsum dolor sit amet, <em>Je suis un em</em>, incididunt, <abbr>Je suis un abbr</abbr> magna <strong>Je suis un strong</strong> aliqua. <b>Je suis un b</b> dolor <i>Je suis un i</i> morbi tristique <cite>Je suis un cite</cite>. Diam <code>Je suis un code</code> enim ut. Accumsan <sub>Je suis un sub</sub> facilisis <sup>Je suis un sup</sup> est. <time>Je suis un time 10:00</time> to <time datetime="2008-02-14 20:00">Valentines day</time> every aliquam purus sit amet luctus. <img src="https://picsum.photos/100" alt="">  Lorem ipsum favorite color is <del>Je suis un del</del> <ins>Je suis un ins</ins> dolor sit amet Press <kbd>Ctrl</kbd> + <kbd>Je suis un kbd</kbd> to copy text consectetur adipiscing elit ut.</p>
    </div>
  </div>
</div>

<div>
  <%- include('../../core/example/medias/samples/img.ejs'); %>
</div>

<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-md-8 fr-col-12">

        <h4>Composants</h4>

        <%- include('../../search/example/samples/search-lg.ejs'); %>

        <%- include('../../cards/example/samples/vertical-cards-no-image.ejs'); %>

        <%- include('../../cards/example/samples/horizontal-cards.ejs'); %>

        <%- include('../../callouts/example/samples/callout-default.ejs'); %>

        <%- include('../../accordions/example/samples/accordion', { title: true, image: true, button: true }, true); %>

        <%- include('../../highlights/example/samples/highlight-default.ejs'); %>

        <%- include('../../pagination/example/samples/pagination.ejs'); %>

      </div>
  </div>
</div>


<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
      <div class="fr-col-md-8 fr-col-12">

        <h4>Composants + textes</h4>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo.</p>

        <%- include('../../search/example/samples/search-lg.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo. </p>

        <%- include('../../cards/example/samples/vertical-cards-no-image.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo.</p>

        <%- include('../../cards/example/samples/horizontal-cards.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo.</p>

        <%- include('../../callouts/example/samples/callout-default.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo.</p>

        <%- include('../../accordions/example/samples/accordion', { title: true, image: true, button: true }, true); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo.</p>

        <%- include('../../highlights/example/samples/highlight-default.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo. </p>

        <%- include('../../pagination/example/samples/pagination.ejs'); %>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <a href="" target="_blank">Documentation</a> Ratione distinctio reiciendis, deserunt vitae fugit perspiciatis repellat! Tenetur rerum, ad soluta voluptatem, non at facilis assumenda dolorum, nostrum molestiae quod nemo. </p>

      </div>
  </div>
</div>

<%- include('../../footer/example/samples/footer-minimal.ejs', { id: 'footer' }); %>

<p></p>

<%- include('../../header/example/samples/header.ejs', { service:true, links:true, search: true, searchId:'header-search', navigation: true, navigationId:'header-navigation' }); %>
<div class="<%= prefix%>-container">
  <%- include('../../breadcrumb/example/samples/breadcrumb.ejs'); %>
  <div class="<%= prefix%>-grid-row <%= prefix%>-grid-row--gutters">
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-4">
      <%- include('../../sidemenu/example/samples/sidemenu.ejs'); %>
    </div>
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-8">
        <h4>lorem ipsum dolor sit</h4>
        <%
        for (let i = 0; i < 3; i++) {
        %>
            <h6>Section <%= (i + 1) %></h6>
            <p><%- lorem(); %></p>
        <% } %>

    </div>
  </div>
</div>


<%- include('../../header/example/samples/header.ejs', { service:true, links:true, search: true, searchId:'header-search', navigation: true, navigationId:'header-navigation' }); %>
<div class="<%= prefix%>-container">
  <div class="<%= prefix%>-grid-row <%= prefix%>-grid-row--gutters">
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-4">
      <%- include('../../sidemenu/example/samples/sidemenu.ejs',); %>
    </div>
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-8">
        <h4>lorem ipsum dolor sit</h4>
        <%
        for (let i = 0; i < 3; i++) {
        %>
            <h6>Section <%= (i + 1) %></h6>
            <p><%- lorem(); %></p>
        <% } %>

    </div>
  </div>
</div>
