<%#
# paramètres callout (mise en avant)

* callout.title (string, optional): Titre de la mise en avant

* callout.text (string, optional): texte de la mise en avant

* callout.classes (array, optional): Classes suplémentaires sur la mise en avant

* callout.button (string, optional): label du bouton dans la mise en avant

* callout.buttonTpl (string, optional): Chemin vers le sample de bouton a utiliser

* callout.accent (string, optional): Couleur d'accenturation du composant

* callout.icon (string, optional): nom de l'icône du composant

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let callout = locals.callout || {};
 let classes = callout.classes || [];
 let attributes = callout.attributes || {};
 classes.push(prefix + '-callout');
 const markup = callout.markup || 'h3';

 if (callout.icon !== undefined) classes.push(prefix + '-icon-' + callout.icon);
 if (callout.accent !== undefined) classes.push(prefix + '-callout--' + callout.accent);
 if (callout.id !== undefined) attributes.id = callout.id;
 let pClasses = [];

 %>

<div <%- includeAttrs(attributes); %> <%- includeClasses(classes); %>>

  <% if(callout.title !== undefined) { %>
    <<%= markup %> class="<%= prefix%>-callout__title"><%= callout.title %></<%= markup %>>
  <% } %>

  <%- include('../../../../core/template/ejs/typography/paragraph', {paragraph: {content: callout.text, classes: [`${prefix}-callout__text`]}}) %>

  <% if(callout.button !== undefined) {
        if (callout.icon === undefined) callout.button.icon = undefined;
  %>
    <%- include('../../../button/template/ejs/button.ejs', {button: callout.button}); %>
  <% } else if (callout.buttonTpl !== undefined) { %>
    <%- include(callout.buttonTpl, {button: {icon:undefined}}); %>
  <% } %>
</div>
