<%#
# paramètres de la banière de consentement

* title (string, recommended) : Titre du bloc

* body (string, optionnal) : Texte explicatif, contenu textuel ou html

* buttons (array, required): paramètres spécifique de chaque bouton du groupe

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let classes = [prefix + '-consent-banner'];
 let attributes = locals.attributes || {};
 btnModalAttr = [];
 btnModalAttr['data-' + prefix + '-opened'] = false;
 btnModalAttr['aria-controls'] = prefix + '-consent-modal';
 let buttons = locals.buttons || [
    { label: 'Tout accepter', btnTitle: null },
    { label: 'Tout refuser',  btnTitle: null },
    { label: 'Personnaliser', secondary: true, attributes: btnModalAttr, btnTitle: null }
 ];
 %>

<div <%- includeClasses(classes); %> <%- includeAttrs(attributes) %>>
    <% if (locals.title) { %><p class="<%= prefix %>-h6 <%= prefix %>-mb-3v"><%= title %></p><% } %>
    <% if (locals.body) { %><div class="<%= prefix %>-consent-banner__content"><%- body %></div><% } %>
    <%- include('../../../buttons/templates/ejs/buttons-group.ejs', {classes: [prefix + '-consent-banner__buttons'], inline: 'sm', align:'right', reverse: true, buttons: buttons}); %>
</div>
