<div class="<%= prefix%>-container">
  <div class="<%= prefix%>-grid-row <%= prefix%>-grid-row--gutters">
    <% if (!locals.right) { %>
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-4">
      <%- component %>
    </div>
    <% } %>
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-8">
      <% if (title) { %>
        <h4><%- title %></h4>
      <% } %>
      <%
      for (let i = 0; i < 7; i++) {
      %>
        <h6>Section <%= (i + 1) %></h6>
        <p><%- lorem(); %></p>
      <% } %>
    </div>
    <% if (locals.right) { %>
    <div class="<%= prefix%>-col-12 <%= prefix%>-col-md-4">
      <%- component %>
    </div>
    <% } %>
    <% if (locals.snippet) { %>
    <div class="<%= prefix %>-col-12">
      <%- snippet %>
    </div>
    <% } %>
  </div>
</div>
