<%#
# paramètres

* list (array, required) : Tableau de liens (href, label)

** list.href (string, required) : url ou ancre du lien

** list.label (string, required) : label du lien

** list.list (array, required) : Tableau de liens enfants (href, label)

%>
<% eval(include('../../../../core/index.ejs')); %>

<nav class="<%= prefix %>-summary" role="navigation" aria-labelledby="<%= prefix %>-summary-title">
  <div class="<%= prefix %>-summary__title" id="<%= prefix %>-summary-title">Sommaire</div>

  <%- include('./list', locals.list); %>

</nav>
