<%#
# paramètres summary

* summary (array, required) : Tableau de liens (href, label)
  ** summary.list (array, required) : Tableau de liens enfants (href, label)
  ** summary.title (String, required) : Titre du sommaire

%>
<% eval(include('../../../../core/index.ejs')); %>
<% let summary = locals.summary || {};
const tag = summary.tag || 'h2'; %>

<nav class="<%= prefix %>-summary" role="navigation" aria-labelledby="<%= prefix %>-summary-title">
  <% if (summary.title) { %>
    <<%= tag %> class="<%= prefix %>-summary__title" id="<%= prefix %>-summary-title"><%- summary.title %></<%= tag %>>
  <% } %>
  <%- include('./list', {summaryList: summary.list}); %>
</nav>
