<%#
# paramètres summary

* summary (array, required) : Tableau de liens (href, label)
  ** summary.list (array, required) : Tableau de liens enfants (href, label)

%>
<% eval(include('../../../../core/index.ejs')); %>
<% let summary = locals.summary || {}; %>

<nav class="<%= prefix %>-summary" role="navigation" aria-labelledby="<%= prefix %>-summary-title">
  <p class="<%= prefix %>-summary__title" id="<%= prefix %>-summary-title">Sommaire</p>

  <%- include('./list', {summaryList: summary.list}); %>

</nav>
