<div class="<%= prefix %>-table <%= prefix %>-table--lg">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table>
                    <caption>Caption du tableau (accessibilité)</caption>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Num</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                        </tr>
                        <tr data-row-key="2">
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
