<div id="expandable-table" class="<%= prefix %>-table <%= prefix %>-table--bordered <%= prefix %>-table--expandable">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table>
                    <caption>
                        Caption du tableau (accessibilité)<br />
                        <span class="<%= prefix %>-sr-only">Ce tableau comporte des lignes dépliables</span>
                    </caption>
                    <thead>
                        <tr>
                            <th id="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-0"
                                        id="table-expandable-checkbox-row-key-0"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-0"
                                    >
                                    </label>
                                </div>
                                Name
                            </th>
                            <th id="expandable-thead-01-col-id2">Age</th>
                            <th id="expandable-thead-01-col-id3">Num</th>
                            <th id="expandable-thead-01-col-id4">ID</th>
                            <th id="expandable-thead-01-col-id5">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-1"
                                        id="table-expandable-checkbox-row-key-1"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-1"
                                    >
                                    </label>
                                </div>
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    aria-controls="expandable-row-key-2"
                                    aria-expanded="false"
                                >
                                    Déplier John Brown
                                </button>
                                John Brown
                            </th>
                            <td headers="expandable-thead-01-col-id2">32</td>
                            <td headers="expandable-thead-01-col-id3">0571-22098909</td>
                            <td headers="expandable-thead-01-col-id4">18889898989</td>
                            <td headers="expandable-thead-01-col-id5">New York No. 1 Lake Park</td>
                        </tr>
                        <tr id="expandable-row-key-2" class="<%= prefix %>-collapse" data-row-key="2">
                            <td headers="expandable-cell-row-01" colspan="5">
                                <div
                                    id="alert-1198"
                                    class="<%= prefix %>-alert <%= prefix %>-alert--info <%= prefix %>-alert--sm <%= prefix %>-mb-2v"
                                >
                                    <p>
                                        Exemple de ligne dépliée fusionnée sur toute
                                        la longueur
                                    </p>
                                </div>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos.
                            </td>
                        </tr>
                        <tr data-row-key="3">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-3"
                                        id="table-expandable-checkbox-row-key-3"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-3"
                                    >
                                    </label>
                                </div>
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    aria-controls="expandable-row-key-4"
                                    aria-expanded="true"
                                >
                                    Déplier Joe Black
                                </button>
                                Joe Black
                            </th>
                            <td headers="expandable-thead-01-col-id2">32</td>
                            <td headers="expandable-thead-01-col-id3">0575-22098909</td>
                            <td headers="expandable-thead-01-col-id4">18900010002</td>
                            <td headers="expandable-thead-01-col-id5">Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr id="expandable-row-key-4" class="<%= prefix %>-collapse" data-row-key="4">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-4"
                                        id="table-expandable-checkbox-row-key-4"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-4"
                                    >
                                    </label>
                                </div>
                                Ligne dépliée
                            </th>
                            <td headers="expandable-thead-01-col-id2 expandable-cell-row-03">14</td>
                            <td headers="expandable-thead-01-col-id3 expandable-cell-row-03">0575-22098909</td>
                            <td headers="expandable-thead-01-col-id4 expandable-cell-row-03">18889898989</td>
                            <td headers="expandable-thead-01-col-id5 expandable-cell-row-03">
                                <div class="<%= prefix %>-toggle">
                                    <input
                                        type="checkbox"
                                        class="<%= prefix %>-toggle__input"
                                        id="toggle-4402"
                                    />
                                    <label
                                        class="<%= prefix %>-toggle__label"
                                        for="toggle-4402"
                                    ></label>
                                </div>
                            </td>
                        </tr>
                        <tr data-row-key="5">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-5"
                                        id="table-expandable-checkbox-row-key-5"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-5"
                                    >
                                    </label>
                                </div>
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    aria-controls="expandable-tbody"
                                    aria-expanded="false"
                                >
                                    Déplier Jim Green sr.
                                </button>
                                Jim Green sr.
                            </th>
                            <td headers="expandable-thead-01-col-id2">68</td>
                            <td headers="expandable-thead-01-col-id3">0575-220989</td>
                            <td headers="expandable-thead-01-col-id4">188898983</td>
                            <td headers="expandable-thead-01-col-id5">Dublin No. 2 Lake Park</td>
                        </tr>
                    </tbody>
                    <tbody id="expandable-tbody" class="<%= prefix %>-collapse">
                        <tr data-row-key="6">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-6"
                                        id="table-expandable-checkbox-row-key-6"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-6"
                                    >
                                    </label>
                                </div>
                                Jimmy Green
                            </th>
                            <td headers="expandable-thead-01-col-id2 expandable-cell-row-05">32</td>
                            <td headers="expandable-thead-01-col-id3 expandable-cell-row-05">0575-22098909</td>
                            <td headers="expandable-thead-01-col-id4 expandable-cell-row-05">188898983345</td>
                            <td headers="expandable-thead-01-col-id5 expandable-cell-row-05">Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key=7">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-7"
                                        id="table-expandable-checkbox-row-key-7"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-7"
                                    >
                                    </label>
                                </div>
                                Jim Green jr.
                            </th>
                            <td headers="expandable-thead-01-col-id2 expandable-cell-row-05">16</td>
                            <td headers="expandable-thead-01-col-id3 expandable-cell-row-05">0575-22098909</td>
                            <td headers="expandable-thead-01-col-id4 expandable-cell-row-05">18900010002</td>
                            <td headers="expandable-thead-01-col-id5 expandable-cell-row-05">Sydney No. 1 Lake Park</td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr data-row-key="8">
                            <th headers="expandable-thead-01-col-id0" class="<%= prefix %>-cell--fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-expandable-checkbox-row-key-8"
                                        id="table-expandable-checkbox-row-key-8"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-expandable-checkbox-row-key-8"
                                    >
                                    </label>
                                </div>
                                Jake White
                            </th>
                            <td headers="expandable-thead-01-col-id2">18</td>
                            <td headers="expandable-thead-01-col-id3">0575-22098909</td>
                            <td headers="expandable-thead-01-col-id4">188898983123</td>
                            <td headers="expandable-thead-01-col-id5">Dublin No. 2 Lake Park</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
