<div class="<%= prefix %>-table <%= prefix %>-table__scrollable">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table>
                    <caption data-fr-js-table-caption="true">
                        Caption du tableau (accessibilité)
                    </caption>
                    <thead>
                        <tr>
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable" scope="col">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--0"
                                        id="scrollable-checkboxes-small--0"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--0"
                                    >
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Num</th>
                            <th scope="col">ID</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--1"
                                        id="scrollable-checkboxes-small--1"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--1"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="2">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--2"
                                        id="scrollable-checkboxes-small--2"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--2"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td colspan="5">
                                Exemple de colspan sur toute la ligne<br />
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                        <tr data-row-key="3">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--3"
                                        id="scrollable-checkboxes-small--3"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--3"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="5">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--5"
                                        id="scrollable-checkboxes-small--5"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="scrollable-checkboxes-small--5"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Jake White</a>
                            </td>
                            <td>18</td>
                            <td>0575-22098909</td>
                            <td>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                            <td>Dublin No. 2 Lake Park</td>
                        </tr>
                        <tr data-row-key="6">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--6"
                                        id="scrollable-checkboxes-small--6"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--6"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="7">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--7"
                                        id="scrollable-checkboxes-small--7"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--7"
                                    >
                                    </label>
                                </div>
                            </th>
                            <td colspan="5">
                                Exemple de colspan sur toute la ligne<br />
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                        <tr data-row-key="8">
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="scrollable-checkboxes-small--8"
                                        id="scrollable-checkboxes-small--8"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="scrollable-checkboxes-small--8"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
