<div id="table-selectable-table" class="<%= prefix %>-table">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table class="<%= prefix %>-cell__multiline">
                    <caption>Exemple de tableau avec des lignes et colonnes sélectionnables</caption>
                    <thead>
                        <tr>
                            <th scope="col" class="<%= prefix %>-cell__fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-selectable-checkboxes-small--0"
                                        id="table-selectable-checkboxes-small--0"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-selectable-checkboxes-small--0"
                                    >
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th class="<%= prefix %>-cell__col--select" scope="col">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        checked
                                        name="table-selectable-thead-checkbox--1"
                                        id="table-selectable-thead-checkbox--1"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="table-selectable-thead-checkbox--1"
                                    >
                                        Age
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Num</th>
                            <th scope="col">ID</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <td class="<%= prefix %>-cell__fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-selectable-checkboxes-small--1"
                                        id="table-selectable-checkboxes-small--1"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-selectable-checkboxes-small--1"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="2">
                            <td class="<%= prefix %>-cell__fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-selectable-checkboxes-small--2"
                                        id="table-selectable-checkboxes-small--2"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-selectable-checkboxes-small--2"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="3">
                            <td class="<%= prefix %>-cell__fixed">
                                <div
                                    class="<%= prefix %>-checkbox-group <%= prefix %>-checkbox-group--sm"
                                >
                                    <input
                                        name="table-selectable-checkboxes-small--3"
                                        id="table-selectable-checkboxes-small--3"
                                        type="checkbox"
                                    />
                                    <label
                                        class="<%= prefix %>-label"
                                        for="table-selectable-checkboxes-small--3"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Jake White</a>
                            </td>
                            <td>18</td>
                            <td>0575-22098909</td>
                            <td>1890001013576</td>
                            <td>Dublin No. 2 Lake Park</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
