<div id="double-header-table" class="<%= prefix %>-table">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table>
                    <caption>
                        Exemple de tableau à double entrée<br />
                        <i>+ modifieur multi-ligne sur une ligne ou une cellule</i>
                    </caption>
                    <thead>
                        <tr>
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row"></th>
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable" scope="col">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--0"
                                        id="double-header-checkboxes-small--0"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--0"
                                    >
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Num</th>
                            <th scope="col">ID</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row">8h</th>
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--1"
                                        id="double-header-checkboxes-small--1"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--1"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr class="<%= prefix %>-row__selected" data-row-key="2">
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row">12h</th>
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--2"
                                        id="double-header-checkboxes-small--2"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--2"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="3">
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row">10h</th>
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--3"
                                        id="double-header-checkboxes-small--3"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--3"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td class="<%= prefix %>-cell__multiline">
                                <i>Modifieur de multi-ligne sur une cellule</i><br>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                        <tr class="<%= prefix %>-cell__multiline" data-row-key="4">
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row">11h</th>
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--4"
                                        id="double-header-checkboxes-small--4"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--4"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Jake White or Black or Yellow</a>
                            </td>
                            <td>18</td>
                            <td>0575-22098909-22098909</td>
                            <td>
                                <i>Modifieur de multi-ligne sur toute la ligne</i><br>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                            <td>Dublin No. 2 Lake Park, le reste d'une adresse très longue qui doit passer à la ligne automatiquement</td>
                        </tr>
                        <tr data-row-key="5">
                            <th class="<%= prefix %>-cell__fixed <%= prefix %>-cell__xs" scope="row">12h</th>
                            <td class="<%= prefix %>-cell__fixed <%= prefix %>-cell__fixed--last__right <%= prefix %>-cell__actionable">
                                <div
                                    class="fr-checkbox-group fr-checkbox-group--sm"
                                >
                                    <input
                                        name="double-header-checkboxes-small--5"
                                        id="double-header-checkboxes-small--5"
                                        type="checkbox"
                                    />
                                    <label
                                        class="fr-label"
                                        for="double-header-checkboxes-small--5"
                                    >
                                    </label>
                                </div>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
