<div id="cell-collapsed-table" class="<%= prefix %>-table">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table class="<%= prefix %>-table__double-entry <%= prefix %>-cell__multiline">
                    <caption>
                        Exemple de tableau comportant des cellules fusionnées<br />
                    </caption>
                    <thead>
                        <tr>
                            <th id="cell-collapsed-col-id0" class="<%= prefix %>-cell__actionable--last__right" scope="row"></th>
                            <th id="cell-collapsed-col-id1" scope="col">Name</th>
                            <th id="cell-collapsed-col-id2" scope="col">Age</th>
                            <th id="cell-collapsed-col-id3" scope="colgroup" colspan="2">
                                Exemple de 2 cellules fusionnées dans le Header
                            </th>
                            <th id="cell-collapsed-col-id4" scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <th id="cell-collapsed-row-id1" class="<%= prefix %>-cell__actionable--last__right" scope="row">8h</th>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td headers="cell-collapsed-col-id3">0571-22098909</td>
                            <td headers="cell-collapsed-col-id3">18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr data-row-key="2">
                            <th id="cell-collapsed-row-id2" class="<%= prefix %>-cell__actionable--last__right" scope="row">9h</th>
                            <td headers="cell-collapsed-col-id1 cell-collapsed-col-id2 cell-collapsed-col-id3 cell-collapsed-col-id4 cell-collapsed-row-id2" colspan="5">
                                <i>Exemple de colspan sur toute la ligne</i><br />
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                        <tr data-row-key="3">
                            <th id="cell-collapsed-row-id3" class="<%= prefix %>-cell__actionable--last__right" scope="row">10h</th>
                            <td>
                                <a href="#">Jim Red</a>
                            </td>
                            <td>18</td>
                            <td headers="cell-collapsed-col-id3 cell-collapsed-row-id3 cell-collapsed-row-id4" rowspan="2">
                                <i>Exemple de rowspan sur 2 lignes</i><br />
                                <svg
                                    aria-hidden="true"
                                    class="<%= prefix %>-artwork"
                                    viewBox="0 0 80 80"
                                    width="80px"
                                    height="80px"
                                >
                                    <use
                                        class="<%= prefix %>-artwork-decorative"
                                        href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-decorative"
                                    ></use>
                                    <use
                                        class="<%= prefix %>-artwork-minor"
                                        href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-minor"
                                    ></use>
                                    <use
                                        class="<%= prefix %>-artwork-major"
                                        href="../../../../dist/artwork/pictograms/environment/environment.svg#artwork-major"
                                    ></use>
                                </svg>
                            </td>
                            <td headers="cell-collapsed-col-id3">18900010002</td>
                            <td>London No. 2 Lake Park</td>
                        </tr>
                        <tr data-row-key="4">
                            <th id="cell-collapsed-row-id4" class="<%= prefix %>-cell__actionable--last__right" scope="row">11h</th>
                            <td class="<%= prefix %>-cell__top">
                                <a href="#">Jake White</a>
                            </td>
                            <td class="<%= prefix %>-cell__top">18</td>
                            <td>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae. Repellat
                                natus illo omnis nulla nostrum ut doloremque ipsam
                                voluptas officiis cumque porro nobis, at error ad
                                eos, id, iste odit quae.
                            </td>
                            <td class="<%= prefix %>-cell__top">Dublin No. 2 Lake Park</td>
                        </tr>
                        <tr data-row-key="5">
                            <th id="cell-collapsed-row-id5" class="<%= prefix %>-cell__actionable--last__right" scope="row">12h</th>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0751-22098943</td>
                            <td headers="cell-collapsed-col-id3 cell-collapsed-col-id4 cell-collapsed-row-id5" colspan="2">
                                <i>Exemple de colspan sur 2 cellules</i><br />
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
