<div id="expandable-table" class="<%= prefix %>-table">
    <div class="<%= prefix %>-table__wrapper">
        <div class="<%= prefix %>-table__container">
            <div class="<%= prefix %>-table__content">
                <table class="<%= prefix %>-cell__multiline">
                    <caption>Exemple de tableau comportant des lignes dépliables</caption>
                    <colgroup>
                        <col class="<%= prefix %>-col__xs" />
                        <col class="<%= prefix %>-col__md" />
                        <col class="<%= prefix %>-col__sm" />
                        <col class="<%= prefix %>-col__md" />
                        <col class="<%= prefix %>-col__lg" />
                        <col class="<%= prefix %>-col__md" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col" class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--collapse <%= prefix %>-cell__actionable--last__right"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Num</th>
                            <th scope="col">ID</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-row-key="1">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--collapse <%= prefix %>-cell__actionable--last__right">
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    aria-controls="expandable-row-key-2"
                                    aria-expanded="false"
                                    title="Déplier"
                                >
                                    Déplier
                                </button>
                            </td>
                            <td>
                                <a href="#">John Brown</a>
                            </td>
                            <td>32</td>
                            <td>0571-22098909</td>
                            <td>18889898989</td>
                            <td>New York No. 1 Lake Park</td>
                        </tr>
                        <tr id="expandable-row-key-2" class="<%= prefix %>-collapse" data-row-key="2">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--last__right"></td>
                            <td header="expandable-col-id2 expandable-col-id3 expandable-col-id4 expandable-col-id5 expandable-col-id6" colspan="5">
                                <div
                                    id="alert-1198"
                                    class="<%= prefix %>-alert <%= prefix %>-alert--info <%= prefix %>-alert--sm <%= prefix %>-mb-2v"
                                >
                                    <p>
                                        Exemple de ligne dépliée fusionnée sur toute
                                        la longueur
                                    </p>
                                </div>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                        </tr>
                        <tr class="<%= prefix %>-row__expanded" data-row-key="3">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--collapse <%= prefix %>-cell__actionable--last__right">
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    title="Déplier"
                                    aria-controls="expandable-row-key-4"
                                    aria-expanded="true"
                                >
                                    Déplier
                                </button>
                            </td>
                            <td>
                                <a href="#">Joe Black</a>
                            </td>
                            <td>32</td>
                            <td>0575-22098909</td>
                            <td>18900010002</td>
                            <td>Sydney No. 1 Lake Park</td>
                        </tr>
                        <tr id="expandable-row-key-4" class="<%= prefix %>-collapse" data-row-key="4">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--last__right"></td>
                            <td>Exemple de ligne dépliée</td>
                            <td>14</td>
                            <td>0575-22098909</td>
                            <td>Repellat natus illo omnis</td>
                            <td>
                                <div class="<%= prefix %>-toggle">
                                    <input
                                        type="checkbox"
                                        class="<%= prefix %>-toggle__input"
                                        id="toggle-4402"
                                    />
                                    <label
                                        class="<%= prefix %>-toggle__label"
                                        for="toggle-4402"
                                    ></label>
                                </div>
                            </td>
                        </tr>
                        <tr data-row-key="5">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--collapse <%= prefix %>-cell__actionable--last__right">
                                <button
                                    class="<%= prefix %>-btn <%= prefix %>-btn--expand"
                                    title="Déplier"
                                    aria-controls="expandable-row-key-6"
                                    aria-expanded="false"
                                >
                                    Déplier
                                </button>
                            </td>
                            <td>
                                <a href="#">Jake White</a>
                            </td>
                            <td>18</td>
                            <td>0575-22098909</td>
                            <td>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                            <td>Dublin No. 2 Lake Park</td>
                        </tr>
                        <tr id="expandable-row-key-6" class="<%= prefix %>-collapse" data-row-key=6">
                            <td class="<%= prefix %>-cell__expanded" colspan="6">
                                <table>
                                    <colgroup>
                                        <col class="<%= prefix %>-col__xs" />
                                        <col class="<%= prefix %>-col__md" />
                                        <col class="<%= prefix %>-col__sm" />
                                        <col class="<%= prefix %>-col__md" />
                                        <col class="<%= prefix %>-col__lg" />
                                        <col class="<%= prefix %>-col__md" />
                                    </colgroup>
                                    <tr data-row-key=6-1">
                                        <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--last__right"></td>
                                        <td>
                                            <a href="#">Joe Black</a>
                                        </td>
                                        <td>32</td>
                                        <td>0575-22098909</td>
                                        <td>
                                            Repellat natus illo omnis nulla nostrum ut
                                            doloremque ipsam voluptas officiis cumque porro
                                            nobis, at error ad eos, id, iste odit quae.
                                        </td>
                                        <td>Sydney No. 1 Lake Park</td>
                                    </tr>
                                    <tr data-row-key=6-2">
                                        <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--last__right"></td>
                                        <td>
                                            <a href="#">Joe Black</a>
                                        </td>
                                        <td>32</td>
                                        <td>0575-22098909</td>
                                        <td>18900010002</td>
                                        <td>Sydney No. 1 Lake Park</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr data-row-key="7">
                            <td class="<%= prefix %>-cell__actionable <%= prefix %>-cell__actionable--collapse <%= prefix %>-cell__actionable--last__right"></td>
                            <td>
                                <a href="#">Jake White</a>
                            </td>
                            <td>18</td>
                            <td>0575-22098909</td>
                            <td>
                                Repellat natus illo omnis nulla nostrum ut
                                doloremque ipsam voluptas officiis cumque porro
                                nobis, at error ad eos, id, iste odit quae.
                            </td>
                            <td>Dublin No. 2 Lake Park</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
