<%#
# paramètres Table

* table.thead (array, required): tableau de données de l'en-tête du tableau

* table.tbodies (array, required): tableau de données du corps du tableau

* table.caption (string, required) : titre du tableau

* table.captionDetail (string, optional) : description précise du tableau

* table.id (string) : id du tableau

* table.classes (array, optional): classes supplémentaires du tableau

* table.attributes (object, optional): attributs supplémentaires du tableau
%>

<% eval(include('../../../../core/index.ejs'));

let table = locals.table || {};
let classes = table.classes || [];
const attributes = table.attributes || {};
attributes.id = table.id || uniqueId('-table');
%>

<table <%- includeClasses(classes) %> <%- includeAttrs(attributes) %>>
  <% if (table.caption !== undefined) { %>
    <caption>
      <%= table.caption %>
      <% if (table.captionDetail !== undefined) { %>
        <div class="<%= prefix %>-table__caption__desc"><%- table.captionDetail %></div>
      <% } %>
    </caption>
  <% } %>
  <% if (table.thead) { %>
    <%- include('./thead.ejs', {thead: table.thead}); %>
  <% } %>
  <% if (table.tbodies) { %>
    <% for (let index = 0; index < table.tbodies.length; index++) { %>
      <%- include('./tbody.ejs', {tbody: {table, index}}); %>
    <% } %>
  <% } %>
</table>
