<% eval(include('../../../../core/index.ejs'));

let table = locals.table || {};
let classes = table.classes || [];
const attributes = table.attributes || {};
attributes.id = table.id || uniqueId('-table');
%>

<table <%- includeClasses(classes) %> <%- includeAttrs(attributes) %>>
    <% if (table.caption !== undefined) { %>
        <caption><%= table.caption %></caption>
    <% } %>
    <%- include('./thead.ejs', {thead: table}); %>
    <% if (table.tbodies) { %>
        <% for (let index = 0; index < table.tbodies.length; index++) { %>
            <%- include('./tbody.ejs', {tbody: {table, index, collapse: index === 1}}); %>
        <% } %>
    <% } %>
</table>
