<% eval(include('../../../../core/index.ejs'));

let wrapper = locals.table || {};
let classes = wrapper.classes || [];

const attributes = wrapper.attributes || {};
const wrapperId = wrapper.id || uniqueId('table-wrapper');
attributes.id = wrapperId;

const table = wrapper.table || [[]];
// table.id = `${wrapperId}-table`;

classes.push(prefix + '-table');
%>

<div <%- includeClasses(classes) %> <%- includeAttrs(attributes) %>>
    <% if (wrapper.header !== undefined) { %>
        <div class="<%= prefix %>-table__header"><%- wrapper.header %></div>
    <% } %>
    <% if (table) { %>
        <div class="<%= prefix %>-table__wrapper">
            <div class="<%= prefix %>-table__container">
                <div class="<%= prefix %>-table__content">
                    <%- include('./table.ejs', {table: table}); %>
                </div>
            </div>
        </div>
    <% } %>
    <% if (wrapper.footer !== undefined) { %>
        <div class="<%= prefix %>-table__footer"><%- wrapper.footer %></div>
    <% } %>
</div>
