<% const sample = getSample(include); %>
<style>
  .sample-display .sample-box {
    background-color: var(--bf500);
    color: var(--w);
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    position: relative;
    opacity: 0.8;
  }

  .sample-display .sample-box span {
    background-color: var(--rm500);
    padding: 0.5rem 1rem;
    margin: 0.25rem;
  }

  .sample-container {
    background:rgba(0,0,91,0.1);
    padding: 1rem;
  }
</style>

<div class="sample-display">
<p><span class="<%= prefix %>-fi-information-line"> Astuce : </span> Utiliser l'inspecteur du navigateur (clic droit + inspecter) sur les éléments cachés par les utilitaires</p>

<h4>Afficher/cacher un élement</h4>

<%- sample('hidden', './samples/hidden', {}, true, './layout'); %>

<%- sample('unhidden', './samples/unhidden', {}, true, './layout'); %>

<%- sample('sr-only', './samples/sr-only', {}, true, './layout'); %>

<h4 class="<%=prefix %>-mt-6w">Autres dispositions (display)</h4>


<%- sample('display block', './samples/display', {type: 'block'}, true, './layout'); %>

<%- sample('display inline-block', './samples/display', {type: 'inline-block'}, true, './layout'); %>

<%- sample('display inline', './samples/display', {type: 'inline'}, true, './layout'); %>

<%- sample('display flex', './samples/display', {type: 'flex'}, true, './layout'); %>

<%- sample('display inline-flex', './samples/display', {type: 'inline-flex'}, true, './layout'); %>

<%- sample('display none', './samples/display', {type: 'none'}, true, './layout'); %>

<h4 class="<%=prefix %>-mt-6w">Appliquer un utilitaire à partir d'un breakpoint</h4>
<p>Pour appliquer une classe utilitaire à partir d'un breakpoint, il suffit d'ajouter -[breakpoint] à la fin de la classe (ex : -md)</p>

<%- sample('sr-only à partir du breakpoint LG', './samples/sr-only', { breakpoint: 'lg'}, true, './layout'); %>

<%- sample('hidden à partir du breakpoint LG', './samples/hidden', { breakpoint: 'lg'}, true, './layout'); %>

<%- sample('unhidden à partir du breakpoint LG', './samples/unhidden', { breakpoint: 'lg'}, true, './layout'); %>

<%- sample('display flex à partir du breakpoint md', './samples/display', {type: 'flex', breakpoint: 'md'}, true, './layout'); %>

<%- sample('display none à partir du breakpoint lg', './samples/display', {type: 'none', breakpoint: 'lg'}, true, './layout'); %>

<%- sample('invisible (visibility hidden)', './samples/visibility', {visibility: 'hidden'}, true, './layout'); %>

<%- sample('toujours visible (visibility visible)', './samples/visibility', {visibility: 'visible'}, true, './layout'); %>


<h4 class="<%=prefix %>-mt-6w">Propriétés flex</h4>
<p>Lorsque l'on utilise le display flex, des utilitaires liés aux propriétés des flexbox permettent de gérer les alignements.</p>

<%- sample('Propriétés disponibles', './samples/flex-properties', {}, true); %>

</div>