<%#
# paramètres tile

* tile.title (string, required) : titre de la tuile

* tile.enlarge (boolean, optional) : si true, agrandi la zone de clic à toute la tuile

* tile.horizontal (boolean, optional) : si true, passe la tuile en mode horizontal

* tile.horizontalMd (boolean, optional) : si true, passe en mode horizontal en dessous du breakpoint md

* tile.verticalMd (boolean, optional) : si true, passe en mode vertical en dessous du breakpoint md

* tile.img (object, optional) : Paramètres de l'image
    ** src (string, optional) : url de l'image
    ** alt (string, optional) : texte alternatif de l'image

* tile.description (string, optional) : description de la tuile

* tile.accent (string, optional) : accentuation du composant

* tile.classes (array, optional) : Classes suplémentaires sur la tuile

%>
<% eval(include('../../../../core/index.ejs')); %>

<%
 let tile = locals.tile || {};
 let classes = tile.classes || [];
 classes.push(`${prefix}-tile`);

 if (tile.enlarge) classes.push(`${prefix}-enlarge-link`);
 if (tile.horizontal !== undefined) {
    classes.push(`${prefix}-tile--horizontal`);
 }
 if (tile.horizontalMd !== undefined) {
    classes.push(`${prefix}-tile--horizontal-md`);
 }
 if (tile.verticalMd !== undefined) {
    classes.push(`${prefix}-tile--vertical-md`);
 }

 if (tile.accent !== undefined) classes.push(`${prefix}-tile--${tile.accent}`);
 %>

<div <%- includeClasses(classes)%>>
    <div class="<%= prefix %>-tile__body">
        <h4 class="<%= prefix %>-tile__title"><a class="<%= prefix %>-tile__link" href><%- tile.title %></a></h4>
        <% if(tile.description !== undefined) { %>
        <p class="<%= prefix %>-tile__desc"><%= tile.description %></p>
        <% } %>
    </div>
    <% if (tile.img !== undefined) { %>
        <div class="<%= prefix %>-tile__img">
            <%- include('../../../../core/template/ejs/media/responsive-img.ejs', {media:tile.img}); %>
        </div>
    <% } %>
</div>
