<div class="<%= prefix %>-container" >
  <div>
    <h4>action activée</h4>
    <div class="<%= prefix %>-mb-6v">
      <button type="button" class="<%= prefix %>-btn" data-<%= prefix %>-analytics-action="libellé envoyé à l'analytics" id="action-true" >libellé du bouton</button>
    </div>
  </div>
  <div>
    <h4>action prévenue</h4>
    <div class="<%= prefix %>-mb-6v">
      <button type="button" class="<%= prefix %>-btn" data-<%= prefix %>-analytics-action="false" id="action-false" >libellé du bouton</button>
    </div>
  </div>
</div>
