<%#
# paramètres callout

// TODO: documentation

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let classes = locals.classes || [];
 classes.push(prefix + '-callout');

 if (locals.icon !== undefined) classes.push(prefix + '-fi-' + icon);
 if (locals.color !== undefined) classes.push(prefix + '-callout--' + color);

 let pClasses = [];

 if (locals.size === 'md') pClasses.push(prefix + '-callout__text--md');

 %>


<div <%- includeClasses(classes); %>>

  <% if(locals.title !== undefined) { %>
    <h4 class="<%= prefix%>-callout__title"><%= title %></h4>
  <% } %>

  <%- include('../../../core/templates/ejs/typography/paragraph', {content: text, classes: [`${prefix}-callout__text`]}) %>

  <% if(locals.button !== undefined) {
        if (button.icon === undefined) button.icon = undefined;
  %>
    <%- include('../../../buttons/templates/ejs/button.ejs', button); %>
  <% } else if (locals.buttonTpl !== undefined) { %>
    <%- include(buttonTpl, {icon:undefined}); %>
  <% } %>
</div>
