<%#
# paramètres follow

* followClasses (array, required) : Classes supplémentaires

* attributes (array, optionnal) : attributs spécifiques

* socials (object, optionnal) : données des réseaux sociaux (cf: socials.ejs)

* newsletter (object, optionnal) : données du bloc newsletter (cf: newletter.ejs)

%>
<% eval(include('../../../core/index.ejs')); %>

<%
 let followClasses = locals.classes || [];
 followClasses.push(prefix + '-follow');

 let attributes = locals.attributes || {};
 let socials = locals.socials || undefined;
 let newsletter = locals.newsletter || undefined;

 %>
<div <%- includeClasses(followClasses); %> <%- includeAttrs(attributes) %>>
  <div class="<%= prefix %>-container">
    <div class="<%= prefix %>-grid-row <%= prefix %>-grid-row--gutters">

      <%
      let gclasses = [prefix+'-col-12'];
      if (newsletter) {
        if (socials) gclasses = [prefix+'-col-12', prefix+'-col-md-8'] %>
        <div <%- includeClasses(gclasses) %> >
          <%- include('newsletter.ejs', newsletter); %>
        </div>
      <% }
      if (socials) {
        if (newsletter) gclasses = [prefix+'-col-12', prefix+'-col-md-4'] %>
        <div <%- includeClasses(gclasses) %>>
          <%- include('socials.ejs', socials); %>
        </div>
      <% } %>
    </div>
  </div>
</div>
