<%#
# paramètres newsletter

* title (string, required) : titre du bloc réseaux newsletter

* type (string, optional) : type de bloc newsletter (avec bouton ou avec input-button [button, form])

* form (object, optional) : paramètres du formulaire champ/boutton (si type form)
** input (object, required) : paramètres du champ mail
** button (object, optional) : paramètres du boutton

* button (object, optional) : paramètres du boutton (si type button)

* networks (array, required) : Tableau de réseaux sociaux (title, url, icon)

%>
<% eval(include('../../../core/index.ejs'));

let socialsClasses = [prefix + '-follow__newsletter'];

%>

<div <%- includeClasses(socialsClasses); %> >
  <div>
    <h5 class="<%= prefix %>-h5 <%= prefix %>-follow__title"><%- locals.title %></h5>
    <% if (locals.desc) { %>
    <p class="<%= prefix %>-text--sm <%= prefix %>-follow__desc"><%- locals.desc %></p>
    <% } %>
  </div>
  <div>
    <% if (locals.type === 'form') { %>
      <% if (locals.form && locals.form.input) { %>
        <form action="">
          <%- include('../../../inputs/templates/ejs/input.ejs', {addon: true, ...locals.form.input}); %>
          <% console.log({addon: true, ...locals.form.input});
          if (locals.form.error) { %>
            <p id="<%= prefix %>-newsletter-error-text" class="<%= prefix %>-error-text"><%- locals.form.error %></p>
          <% } %>
          <% if (locals.form.valid) { %>
            <p id="<%= prefix %>-newsletter-valid-text" class="<%= prefix %>-valid-text"><%- locals.form.valid %></p>
          <% } %>
          <% if (locals.form.hint) { %>
            <p id="<%= prefix %>-newsletter-hint-text" class="<%= prefix %>-hint-text"><%- locals.form.hint %></p>
          <% } %>
        </form>
      <% } %>
    <% } else if (locals.type === 'button') { %>
      <%- include('../../../buttons/templates/ejs/button.ejs', locals.button); %>
    <% } %>
  </div>
</div>
